{{ 'delivery.js' | asset_url | script_tag }}
{{ 'delivery.css' | asset_url | stylesheet_tag }}

<div is="delivery" id="delivery">
  <header>
    <span><div class="icon delivery"></div>Delivery information</span>
    <div class="icon plus" id="delivery-icon"></div>
  </header>
  <div is="delivery-content">
    <h3>Free delivery for all orders over £15 within the UK</h3>
    <p>Delivery to the UK will normally be made within 1- 2 working days after your order is accepted.</p>
    <p>Orders are shipped via Royal Mail and are delivered Monday to Saturday, excluding Bank Holidays.</p>

    <h3>Delivery to the rest of the world</h3>
    <p>Delivery to the rest of the World will normally be made within 5- 10 working days after your order is accepted.</p>
    
    <div is="delivery-charges">
      <h4>Delivery charges</h4>
      <table>
        <tr>
          <td>UK orders over £15</td>
          <td><strong>Free</strong></td>
        </tr>
        <tr>
          <td>UK orders under £15</td>
          <td><strong>£3.00</strong></td>
        </tr>
        <tr>
          <td>North America</td>
          <td><strong>£14.85</strong></td>
        </tr>
        <tr>
          <td>Rest of the World</td>
          <td><strong>£17.60</strong></td>
        </tr>
      </table>
    </div>

  </div>
</div>
