{{ 'section-header.css' | asset_url | stylesheet_tag }}

{% if title != blank %}
  <header is="section-header">
    <h2>{{ title | escape }}</h2>

    {% if text != blank %}
        <p>{{ text | escape }}</p>
    {% endif %}
  </header>
{% endif %}