{{ 'section-header.css' | asset_url | stylesheet_tag }}

{% if title != blank %}
  <header is="section-header" class="{% if large == true %}large{% endif %} {% if center == true %}center{% endif %}">
    <div>
      <h2>{{ title | escape }}</h2>
      
      {% if text != blank %}
          <p>{{ text | escape }}</p>
      {% endif %}
    </div>
  </header>
{% endif %}