{% if section.settings.title != blank %}
  <div class="header">
    <h2>{{ section.settings.title | escape }}</h2>

    {% if section.settings.text != blank %}
        <p>{{ section.settings.text | escape }}</p>
    {% endif %}
  </div>
{% endif %}