<div is="side-nav">
  <h4>{{ nav.title }}</h4>
  <ul>
    {% for link in nav.links %}
      <li {% if link.active %} class="on"{% endif %}>
        <a href="{{ link.url }}"
          {% if link.current %} aria-current="page"{% endif %}
        >{{ link.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>