{% if section.settings.show_signpost_link %}
  <p>
    <a is="signpost" href="{{ section.settings.link_url }}">
      {{ section.settings.link_text }}</a>
  </p>
{% endif %}
{% comment %} aria-label="{{ 'collections.general.view_all_label' | t: collection_name: collection.title }}" {% endcomment %}