{{ 'universal-features.css' | asset_url | stylesheet_tag }}

<div is="universal-features">
  <ul>
    <li>
      <h4>Varied creative play</h4>
      <p>All PlayPress sets can be switched up, adjusted and connected, so there’s no limits on imagination and every playtime is different.</p>
    </li>
    <li>
      <h4>Perfect for ages 4+</h4>
      <p>Develop construction, problem solving and motor skills whilst exploring characters and storytelling.</p>
    </li>
    <li>
      <h4>Zero-waste and super-easy</h4>
      <p>Lightweight flatpack packaging makes it travel-friendly with no bulky plastic or complicated set-up.</p>
    </li>
    <li>
      <h4>Eco-conscious</h4>
      <p>Manufactured in the UK with Playboard, our compostable material made with wood pulp from sustainably-managed forests.</p>
    </li>
  </ul>
</div>