@import '../assets'

aside[is="about-brand"]

  > div
    @extend %main-content
    display: grid
    gap: units(4)
    grid-template-columns: 1fr

    > div

      > div
        padding-top: units(2)

        h4
          @extend %heading-m
          margin-bottom: units(1)

        p
          @extend %body-s

        
    

  @include min($screen-s)
    > div
      grid-template-columns: repeat(3, 1fr)
  
