@import '../assets'

article[is="accordian-item"]
  background: $grey-100
  border-radius: $border-m
  overflow: hidden
  cursor: pointer
  padding: 0 units(3)
  margin-bottom: units(1)

  header
    padding: units(3) 0
    display: flex
    justify-content: space-between
    align-items: center

  .minus
    display: none
    background: white !important
  .plus
    display: block
  
  > div
    padding: 0 0 units(3) 0
    display: none
    @extend %body-2

  h4
    @extend %body-1
    color: $blue-1000

  &.active
    background: $blue-1000

    h4, p, div
      color: white
    h4
      @extend %bold
    div
      display: block
    .minus
      display: block
    .plus
      display: none
  
  

div[is="accordian"]
  @extend %main-content
  grid-gap: units(4)
  display: grid
  justify-content: center
  align-content: center
  justify-items: center

  @include min($screen-m)
    grid-template-columns: minmax(16rem, 1fr) 1fr

  #accordian-content
    width: 100%

  #accordian-images
    display: none

    @include min($screen-m)
      display: block
      img
        display: none
        &.active
          display: block
  
