@import '../assets'

article[is="accordian-item"]
  background: $grey-100
  border-radius: $border-m
  overflow: hidden
  cursor: pointer
  padding: 0 units(3)
  margin-bottom: units(1)

  header
    padding: units(3) 0

  

  h4
    @extend %body-1
  
  p
    @extend %body-3
    display: none

  &.active
    background: $blue-1000

    h4, p
      color: white
    h4
      @extend %bold
    p
      display: block
  
  

div[is="accordian"]
  @extend %main-content
  grid-gap: units(4)
  display: grid
  justify-content: center
  align-content: center
  justify-items: center

  @include min($screen-s)
    grid-template-columns: 1fr 1fr

  #accordian-content
    width: 100%

  #accordian-images
    display: none

    @include min($screen-m)
      display: block
      img
        border: 1px solid $blue-1000
        display: none
        &.active
          display: block
  
