@import '../assets'

section[is="awards"]
  article[is="award"]
    @include min($screen-m)
      display: flex
      position: relative
      align-items: flex-start

    @include min($screen-m)
      &.swapped
        flex-direction: column-reverse

    div[is="gallery"]
      img
        display: block
        @include min($screen-m)
          max-width: units(40)

    div[is="content"]
      @include min($screen-m)
        display: flex
        align-items: flex-start

      div[is="main-content"]
        @include max($screen-m)
          padding: units(4) 0
        @include min($screen-m)
          padding: 0 units(8) 0 units(4)

        h4
          @extend %overline

        h2
          @extend %heading-3

        p
          @extend %body-2

    div[is="product"]
      
      a[is="product-link"]
        padding: units(0.5) 0
        display: block
        display: flex
        align-items: flex-start
        align-content: flex-start

        p
          @extend %bold
          width: 100%

        span
          display: block
          @extend %body-3

        img
          width: 40%
          max-width: size(120)
          height: auto
          border-radius: $border-s
          margin-right: units(1.5)
      