@import '../assets'
  
section[is="banner"]
  position: relative
  margin: units(5) 0  

  div[is="hero-content"]
    padding: units(5)
    background: white
    position: relative
    border-radius: $border-m

  > a
    display: block
    > div
      @extend %main-content

  .banner-content
    display: flex
    align-items: flex-end
    justify-content: flex-start
    aspect-ratio: 2 / 1
    padding: units(5)
    position: relative
    overflow: hidden
    border-radius: $border-m

    img
      position: absolute
      top: 0
      left: 0
      width: 100%

    h2
      @extend %overline

    h3
      @extend %heading-2

    p
      @extend %body-2

  @include min($screen-m)

  
