@import '../assets'
  
section[is="banner"]
  position: relative
  margin: units(5) 0  

  div[is="hero-content"]
    position: relative
    background: $white   
    padding-top: units(2) 

    @include min($screen-m)
      display: flex
      justify-content: space-between

    @include min($screen-l)
      display: block
      width: 50%
      padding: units(4)
      max-width: size(560)
      border-radius: $border-m

  > a
    display: block
    > div
      @extend %main-content

  .banner-content
    position: relative
    margin: units(2) 0 units(4) 0
    overflow: hidden

    img

    h2
      @extend %overline

    h3
      @extend %heading-2

    div[is="button"]
      margin-top: units(3)

    @include min($screen-l)
      border-radius: $border-m
      display: flex
      align-items: flex-end
      justify-content: flex-start
      aspect-ratio: 2 / 1
      padding: units(5)

      img
        position: absolute
        top: 0
        left: 0
        width: 100%

  @include min($screen-m)

  
