@import '../assets'
  
section[is="big-banner"]
  position: relative
  transition: scale 0.5s
  

  &:hover
    scale: 1.02

  div[is="hero-content"]
    padding: units(3)
    max-width: size(480)

  > a
    display: block
    > div
      @extend %main-content

  .banner-content
    background: $green-1000
    border-radius: $border-l
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    overflow: hidden
    display: block

    h2, h3, p
        color: $white

    h2
      @extend %overline
      margin-bottom: units(0.5)

    h3
      @extend %heading-3

    div[is="button"]
      margin-top: units(3)
    
    img
      position: relative
      border-radius: 0

  @include min($screen-m)
    .banner-content
      display: grid
      grid-template-columns: 1fr 1fr 
      align-items: center
      justify-items: center
  
