@import '../assets'

ul[is="breadcrumbs"] 
  display: flex
  padding: 0 units(2)
  height: units(6)
  background: darken($blue-1000, 10%)
  color: white
  position: relative
  overflow: hidden

  @include min($screen-m)
    height: units(8)

  a, p
    color: white
    @extend %body-3

  li 
    display: flex
    justify-content: center
    list-style: none
    align-items: center

    a
      border-radius: 0.5rem
      color: $white
      display: block
      font-weight: 700
      padding: 0.5rem 1rem
      text-decoration: none

      &:hover 
        background-color: $blue-1200

    &.active p
      display: flex
      height: 100%
      padding: 0 1rem
      align-items: center
      box-shadow: inset 0 -4px 0 0 $accent

      span
        opacity: 0.7
        flex: 1 1 1
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
    
    &:before 
      background-color: white
      opacity: 0.5
      -webkit-clip-path: polygon(0 3%, 2% 0, 22% 0, 30% 2%, 100% 48%, 100% 52%, 30% 98%, 22% 100%, 2% 100%, 0 97%, 70% 52%, 70% 48%)
      clip-path: polygon(0 3%, 2% 0, 22% 0, 30% 2%, 100% 48%, 100% 52%, 30% 98%, 22% 100%, 2% 100%, 0 97%, 70% 52%, 70% 48%)
      content: ""
      height: 0.75rem
      margin-right: 0.5rem
      position: relative
      transform: rotate(0deg)
      width: 0.5rem

  li:first-of-type:before 
    display: none

  @include min($screen-s)
  
    li:not(:first-of-type):before 
      margin-left: units(0.5)
      transform: rotate(0deg)
  
