@import '../assets'

div[is="cart"] 
  margin-bottom: 5rem
  padding: units(3) units(4)

  > p 
    margin-top: 2.5em

  > form 
    grid-row-gap: 2rem
    display: grid
    grid-template-columns: 1fr

    > table 
      width: 100%

      > tbody > tr > td > a > img 
        display: block
        margin-bottom: 1rem
        margin-right: 1rem

        > tr > td > label 
          display: none

        > tr > td > input 
          width: 2.5rem

    > div 
      background-color: $background-secondary
      border-radius: 0.25rem
      box-shadow: 0 2px 0 $drop
      padding: 2rem 1rem

      > button 
        max-width: 100%
        padding-bottom: 1rem
        padding-top: 1rem
        width: 100%

      > p 
        margin-bottom: 0
        margin-top: 1.25em

  @include min($screen-s)
    > form 
      grid-column-gap: 2rem
      grid-template-columns: 2fr 1fr
      grid-template-rows: auto
  
      > * 
        grid-column: 1
  
      > div 
        align-self: flex-start
        grid-column: 2
        grid-row: 1
        padding: 2rem
        position: sticky
        top: 1rem
  
      > table > tbody > tr > td > a 
        align-items: center
        display: flex
  
      > table > tbody > tr > td > a > img 
        margin-bottom: 0
  
      > table > tbody > tr > td > input 
        width: 1.5rem

button[is="command"]
  background-color: $command
  font-size: 0.83em
  font-weight: 400
  padding: 0.25rem 0.5rem

  &:hover
    background-color: $accent

  &:focus-visible
    background-color: $focus
    color: $on-focus