@import '../assets'

div[is="cart"]
  padding: units(4) 0

  div[is="signpost"]
    margin-top: units(4)

  h1
    @extend %heading-1
    margin-bottom: units(2)

  > div
    @extend %main-content
    @extend %body-2

  .quantity
    //text-align: right

  form 
    grid-row-gap: 2rem
    display: grid
    grid-template-columns: 1fr

    table 
      width: 100%

    tr
      border-radius: $border-xs

    th
      background: $yolk-100
      padding-left: units(2)

    td
      padding: units(1) 0
      padding-left: units(1)

    img 
      display: block
      margin: units(1) units(2) units(1) 0
      border-radius: $border-s

    label 
      display: none

    input 
      width: units(10)

  div[is="checkout"]

    div[is="checkout-wrapper"]
      background: $blue-100
      padding: units(3)
      border-radius: $border-m
      margin-bottom: units(2)

      > header
        display: flex
        justify-content: space-between
        align-items: flex-end

        h3
          @extend %heading-3

        p
          @extend %body-2

    button 
      margin: units(2) 0
      @extend %button-style
      border-radius: $border-m
      width: 100%

  @include min($screen-m)
    form 
      grid-column-gap: units(8)
      grid-template-columns: 2fr 1fr
      grid-template-rows: auto
      align-items: flex-start
  
      > * 
        grid-column: 1
  
      div[is="checkout"]  
        grid-column: 2
        grid-row: 1
        position: sticky
        top: units(1)
  
      table
        a 
          align-items: center
          display: flex

button[is="command"]
  @extend %micro-button-style