@import '../assets'

.collection-promo
  flex: 1
  min-width: 0
  text-align: center
  background: $blue-100
  border-radius: $border-s
  height: 100%
  transition: scale 0.5s
  
  &:hover
    scale: 1.05
  
  img
    border-radius: $border-m

  > div
    padding: units(1.5) units(2)

  h3
    @extend %body-3
    @extend %medium
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  p
    @extend %body-4

  @include max($screen-s)

    > div
      display: flex
      align-items: center
      justify-content: center

  @include min($screen-m)
    width: units(20)

    > div
      padding: units(1.5) units(2.5)