@import '../assets'

.collections

  ul
    display: grid
    grid-template-columns: repeat( auto-fit, minmax(units(20), 1fr) )
    grid-gap: units(4)
    @extend %main-content
    
    li
      list-style: none  