@import '../assets'

.collections

  ul
    display: grid
    grid-template-columns: repeat( auto-fit, minmax(units(20), 1fr) )
    grid-gap: units(2)
    @extend %main-content

    @include min($screen-m)
      grid-gap: units(5)
    
    li
      list-style: none  