@import '../assets'

.collection-promo
  display: block
  text-align: center
  background: $blue-100
  border-radius: $border-s
  height: 100%
  transition: scale 0.5s

  &:hover
    scale: 1.05
  
  img
    border-radius: $border-m

  > div
    padding: units(3)

  h3
    @extend %overline
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  p
    @extend %body-3