@import '../assets'

.collection-promo
  display: block
  text-align: center
  background: $grey-100
  border-radius: $border-m
  height: 100%
  
  img
    border-radius: $border-m

  > div
    padding: units(3)

  h3
    @extend %heading-m

  p
    @extend %body-s