@import '../assets'

section[is="content-with-product"]
  @include min($screen-m)
    display: flex
    position: relative
    align-items: flex-start

  @include min($screen-m)
    &.swapped
      flex-direction: column-reverse

  div[is="gallery"]
    img
      display: block
      @include min($screen-m)
        max-width: units(40)

  div[is="content"]
    @include min($screen-m)
      display: flex
      align-items: flex-start

    div[is="main-content"]
      @include max($screen-m)
        padding: units(4) 0
      @include min($screen-m)
        padding: 0 units(8) 0 units(4)

      h4
        @extend %overline

      h2
        @extend %heading-3

      p
        @extend %body-2

  div[is="product"]
    @include min($screen-m)
      max-width: units(30)
      