@import '../assets'

article[is="content-block-highlight"]
  background: $blue-1000
  border-radius: $border-m
  overflow: hidden
  display: grid
  width: 100%
  justify-content: center
  align-items: center
  max-width: size(280)

  &:nth-child(2n)
    img
      grid-row: 2

  img
    border-radius: 0

  div
    padding: units(3)

    h4, p
      color: white

    h4
      @extend %overline
    
    p
      @extend %body-2
  
  

div[is="content-blocks-highlight"]
  padding-bottom: units(4)
  
  > div
    @extend %main-content
    grid-gap: units(4)
    display: grid
    justify-content: center
    align-content: center
    justify-items: center

  @include min($screen-s)
    > div
      grid-template-columns: repeat(2, 1fr)

  @include min($screen-m)
    > div
      grid-template-columns: repeat(4, 1fr)
  
