@import '../assets'

section[is="content-with-product"]
  display: flex
  position: relative
  align-items: flex-start

  @include min($screen-m)
    &.swapped
      flex-direction: column-reverse

  div[is="gallery"]
    img
      display: block
      max-width: units(40)

  div[is="content"]
    display: flex
    align-items: flex-start

    div[is="main-content"]
      @include min($screen-m)
        padding: 0 units(8) 0 units(4)

      h4
        @extend %overline

      h2
        @extend %heading-3

      p
        @extend %body-2

  div[is="product"]
    max-width: units(30)
      