@import '../assets'

div[is="delivery"] 
  margin: 0
  border-radius: $border-s
  max-width: 100%
  padding: units(2)
  color: $complementary  
  cursor: pointer    
  @extend %typography-hierarchy
  @extend %body-s
  border: 1px solid $complementary
  @include animate(0.2s) 

  div[is="delivery-content"]
    visibility: hidden
    height: 0
    @include animate(0.2s) 
    

    table
      width: 100%

      td
        padding: units(1) 0
        border-color: rgba($white, 0.3)

      td:last-child
        text-align: right

      tr:last-child
        td
          border: none
  
  h3, h4, h5
    color: white

  > p 
    display: flex
    margin-bottom: 0
    justify-content: center
    align-items: center
    @extend %body-s
    user-select: none

    svg 
      margin-right: 0.5rem

  &.active 
    color: white
    background: $complementary

    div[is="delivery-content"]
      visibility: visible
      height: auto
      border-top: 1px solid rgba($white, 0.3)
      padding-top: units(2)
      margin-top: units(2)
  
