@import '../assets'

div[is="delivery"] 
  margin: 0
  border-radius: $border-s
  max-width: 100%
  padding: units(2)
  color: $complementary  
  cursor: pointer    
  @extend %typography-hierarchy
  @extend %body-s
  border: 1px solid $complementary

  div[is="delivery-content"]
    visibility: hidden
    height: 0
    

    table
      width: 100%

      td
        padding: units(1) 0

      td:last-child
        text-align: right

      tr:last-child
        td
          border: none
  
  h3, h4, h5
    color: white

  p 
    display: flex
    margin-bottom: 0
    @extend %body-s

    svg 
      margin-right: 0.5rem

  &.active 
    color: white
    background: $complementary

    div[is="delivery-content"]
      visibility: visible
      height: auto
      margin-top: units(2)
  
