@import '../assets'

div[is="delivery"] 
  margin: 0
  border-radius: $border-s
  max-width: 100%
  cursor: pointer    
  @extend %body-3
  border: 1px solid $blue-100

  &:hover
    &:not(.active)
      background-color: $blue-100

  header
    @extend %expanding-button

  div[is="delivery-charges"]
    background: $grey-100
    color: $grey-1200
    border-radius: $border-s
    padding: units(3)
    margin-top: units(3)

  div[is="delivery-content"]
    visibility: hidden
    height: 0

    h3
      @extend %body-1
      @extend %bold
      margin-bottom: units(1)

    p + h3
      margin-top: units(4)

    h4
      @extend %body-1
      @extend %bold
      margin-bottom: units(1)
    
    table
      width: 100%

      td
        padding: units(1) 0
        border-color: rgba($grey-1200, 0.1)

      td:last-child
        text-align: right

      tr:last-child
        td
          border: none

  header
    display: flex
    margin-bottom: 0
    align-items: center
    @extend %body-3
    user-select: none

  &.active 
    border-radius: $border-s

    div[is="delivery-content"]
      visibility: visible
      height: auto
      padding: units(2) units(2) units(3) units(2)
  
