@import '../assets'

a[is="delivery-bar"]
  display: block
  border-bottom: 1px solid $grey-200
  padding: units(1) units(2)
  position: relative
  background: white

  @include min($screen-m)
    // height: units(5)

  &.christmas:before
    content: ""
    bottom: 0
    left: 0
    opacity: 0.35
    background: url('pattern-bg-4.jpg')
    mix-blend-mode: multiply
    pointer-events: none
    z-index: 0
    position: absolute
    width: 100%
    top: 100%
    height: 80px

  @include max($screen-m)
    .not-mobile
      display: none !important

  @include max($screen-l)
    .not-mobile-tablet
      display: none !important

  div[is="delivery_warning"]
    background: lighten($magenta-1000, 50%)
    @extend %body-2
    border-radius: $border-xs
    padding: units(1)

  ul
    display: flex
    align-items: center
    justify-content: center

    .delivery
      margin-right: units(1)

    > *:not(.delivery)
      margin-right: units(2)

      @include min($screen-m)
        margin-right: units(3)

    .dot
      display: block
      width: size(7)
      height: size(7)
      background: $blue-1000
      border-radius: 500px

    li
      @extend %body-3
      @extend %bold
      color: $blue-1000

      @include min($screen-l)
        font-weight: $font-extra-bold-weight
        text-transform: uppercase
        @include fontSize(15, $heading-line-height, $all-caps-letter-spacing)
      