@import '../assets'

article[is="feature"] 
  text-align: center

  .image
    margin-bottom: 1.25rem
    overflow: hidden
    height: units(10)
    border-radius: $border-s

    img
      height: 100%

  > h3 
    font-size: 1.5em
    margin-bottom: 0
    margin-top: 0
