@import '../assets'

div[is="features"] 
  padding-bottom: units(4)
  > div
    @extend %main-content
    grid-gap: units(3)
    display: grid
    grid-column: auto/span 1
    grid-row: 3
    margin-bottom: 0

  @include min($screen-s)
    > div
      grid-template-columns: repeat(2, 1fr)
      &.one 
        grid-template-columns: repeat(1, 1fr)
      &.three 
        grid-template-columns: repeat(3, 1fr)
      &.four 
        grid-template-columns: repeat(2, 1fr)
      &.five 
        grid-template-columns: repeat(3, 1fr)
  

  @include min($screen-m)
    > div
      &.four 
        grid-template-columns: repeat(4, 1fr)
      &.five 
        grid-template-columns: repeat(5, 1fr)
  
