@import '../assets'

article[is="feature"]

  .image
    margin-bottom: units(2)
    overflow: hidden
    // height: units(10)
    border-radius: $border-s

    img
      height: 100%

  h3 
    @extend %heading-3
    margin-bottom: units(1)

  p
    @extend %body-3
    
