@import '../assets'

footer[is="footer"] 
  background-color: $complementary
  color: $on-complementary
  position: relative
  margin-top: units(8)

  > div
    @extend %main-content

  section[is="main-links"]
    display: grid
    grid-template-columns: repeat(4, minmax(0, 1fr))
    place-items: start
    grid-gap: units(4)
    padding: units(4) 0

    div[is="logo"]
      max-width: units(20)
      padding: units(1)
      background: $yolk
      border-radius: $border-s
    
    ul
      @extend %medium
      width: 100%

      &[is="main-link-list"]
        li
          @extend %body-l
          a
            display: inline-block
            padding: units(0.5) units(1)
            border-radius: $border-s

            &:hover
              background: rgba($white, 0.1)

      &:not([is="main-link-list"])
        li
          @extend %body-s
          width: 100%

          a
            padding: units(0.5) 0
            opacity: 0.7
            display: block
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
            width: 100%

            &:hover
              opacity: 1

    h2
      @extend %heading-m
      color: white
      margin-bottom: units(1)

  a 
    color: white //$on-complementary-link    
    &:visited 
      color: white//$on-complementary-visited
    &:active 
      color: white//$on-complementary-active
    &:focus-visible 
      color: white//$on-focus-link
      &:visited
        color: white//$on-focus-visited
      &:active
        color: white//$on-focus-active

  &:after 
    background-color: $pete
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='46' fill='none'%3E%3Cpath d='M22 34h4c.4 0 .2.4.2.4-1 3.8-4.1 3.8-4.1 3.8s-3.3 0-4.2-3.8l.2-.4h4z' fill='%23fff'/%3E%3Cpath d='M33.7 39.2h-.2s-3.1 3.3-11.6 3.3c-8.3 0-11.6-3-11.6-3l-.3-.3s-7.6-5.2-6.8-19c0-.3 0-1.7.6-3.8 3 1 20.1 7.9 25-6.2 0 0 1.8 9.5 11 6.2l.7 3.7c.7 13.7-6.6 19-6.8 19.1zM43 20S42.2.6 22 .6C1.3.6.7 20 .7 20c-1 14.6 6.6 20.8 7.7 21.4.8.6 4.5 3.7 13.5 3.7 8.9 0 12.4-3 13.3-3.7 1-.8 8.7-6.8 7.8-21.4z' fill='%23fff'/%3E%3Cpath d='M15 26.4c-2-2.1-4-.3-4.1 0l-1-1.3c1-1 3.7-2.5 6.2 0l-1 1.3zm18 0c-1.8-2.1-3.7-.3-3.9 0L28 25c1.2-1 4-2.5 6.4 0l-1.2 1.3z' fill='%23fff'/%3E%3C/svg%3E")
    background-position: 50%
    background-repeat: no-repeat
    background-size: 60%
    border-radius: 50%
    box-shadow: 0 2px 0 $charcoal-14
    content: ""
    display: block
    height: 8rem
    left: 50%
    position: absolute
    top: -4rem
    transform: translateX(-50%)
    width: 8rem
    z-index: 2

  section[is="meta"]
    padding-top: units(4)
    border-top: 1px solid rgba(255, 255, 255, 0.2)
    @extend %body-xs

    ul
      list-style: none
      padding-left: 0

      li 
        padding-bottom: 0.75rem

      &:last-of-type > li > a 
        align-items: center
        display: flex
        > svg
          margin-right: 0.5rem
  

  p:last-of-type 
    margin-top: 2em
    z-index: 2
    > small
      display: block
      margin-top: 1em

  @include min($screen-s)
    padding: 2rem

    section[is="meta"]
      ul
        display: flex
    
        li 
          margin-bottom: 0.5rem
          margin-right: 1.5rem
  

  @include min($screen-m)
    section[is="meta"]
      display: grid
      grid-template-columns: 2fr 1fr
  
