@import '../assets'

footer[is="footer"] 
  background-color: $blue-1000
  color: $white
  position: relative
  margin-top: units(8)
  border-top: 12px solid $yolk-1000

  > div
    @extend %main-content

  div[is="playpress-pete"]
    padding: units(1)
    background-color: $yolk-1000
    border-radius: 50%
    overflow: hidden
    display: block
    height: units(12)
    width: units(12)
    left: 50%
    position: absolute
    top: -units(6.5)
    transform: translateX(-50%)
    
    z-index: 2

  section[is="main-links"]
    display: grid
    place-items: start
    grid-gap: units(4)
    padding: units(10) 0 units(6) 0

    div[is="logo"]
      max-width: units(20)
      padding: units(1)
      background: $yolk-1000
      border-radius: $border-s
    
    > ul
      @extend %medium
      width: 100%

      &[is="main-link-list"]
        li
          @extend %body-l
          a
            display: inline-block
            padding: units(0.5) 0
            border-radius: $border-s

            &:hover
              background: rgba($white, 0.1)

      &:not([is="main-link-list"])
        li
          @extend %body-s
          width: 100%

          a
            padding: units(0.5) 0
            > *:not(img)
              opacity: 0.7
            display: block
            // white-space: nowrap
            // overflow: hidden
            // text-overflow: ellipsis
            // width: 100%

            &:hover
              > *
                opacity: 1

            &[is="product-link"]
              display: flex
              align-items: flex-start
              align-content: flex-start

              p
                @extend %bold
                width: 100%

              span
                display: block
                @extend %body-s

              div
                max-width: size(220)

              img
                width: 40%
                max-width: size(120)
                height: auto
                border-radius: $border-s
                margin-right: units(1.5)

            &[is="collection-link"]
              display: flex
              justify-content: space-between

              p
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
                flex: 1

              span
                display: block
                @extend %body-xs
                padding: units(0.5) units(1)
                border-radius: 500px
                background: rgba($white, 0.1)

    h2
      @extend %heading-m
      color: white
      margin-bottom: units(1)

  a 
    color: white
    &:visited 
      color: white
    &:active 
      color: white
    &:focus-visible 
      color: white
      &:visited
        color: white
      &:active
        color: white

  section[is="meta"]
    padding-top: units(4)
    border-top: 1px solid rgba(255, 255, 255, 0.2)
    @extend %body-xs

    ul
      list-style: none
      padding-left: 0

      li 
        padding-bottom: 0.75rem

      &:last-of-type > li > a 
        align-items: center
        display: flex
        > svg
          margin-right: 0.5rem

  @include min($screen-s)
    padding: units(3) units(3) units(5) units(3)

    section[is="meta"]
      ul
        display: flex
    
        li 
          margin-bottom: units(1)
          margin-right: units(3)
  

  @include min($screen-m)
    section[is="meta"]
      display: grid
      grid-template-columns: 2fr 1fr

    section[is="main-links"]
      padding: units(6) 0
      grid-template-columns: repeat(3, minmax(0, 1fr)) 3fr
      grid-gap: units(7)

      ul[is="main-link-list"] li a
        padding: units(0.5) units(1)

      ul:not([is="main-link-list"])
  
