@import '../assets'

div[is="gallery"]
  position: relative

  .new
    @extend %body-3
    @extend %bold
    padding: size(0) size(8)
    border-radius: $border-s
    display: inline-block
    background: $green-1000
    color: white
    position: absolute
    top: units(1)
    left: units(4)
    z-index: 1000

    @include min($screen-m)
      top: -units(1)
      left: units(2)

  @include max($screen-m)
    > div
      white-space: nowrap
      overflow-x: scroll
      -webkit-overflow-scrolling: touch
      margin: 0 -units(2) units(2) -units(2)
      padding: 0 units(3)

      *
        border-radius: $border-m
        display: inline-block
        max-width: 80vw
        margin-right: units(1)

  @include min($screen-m)
    > div
      display: grid
      grid-template-columns: repeat(1, 1fr)
      grid-gap: units(2)
      

  @include min($screen-l)
    > div
      grid-template-columns: repeat(2, 1fr)
      grid-gap: units(2)

      img:first-child
        grid-column: span 2 

#gallery-lightbox
  position: fixed
  background: white
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 10000
  padding: units(2)
  display: none

  &.active
    display: block

  .icon
    position: fixed
    top: units(3)
    right: units(3)

  .container
    max-width: size(1200)
    margin: 0 auto

    img
      margin: units(4) 0

  @include min($screen-m)
    padding: units(8)