@import '../assets'

div[is="gallery"]

  @include max($screen-m)
    > div
      white-space: nowrap
      overflow-x: scroll
      margin: 0 -units(3)
      padding: 0 units(3)

      *
        border-radius: $border-m
        display: inline-block
        margin-right: units(2)

  @include min($screen-m)
    > div
      display: grid
      grid-template-columns: repeat(1, 1fr)
      grid-gap: units(2)
      

  @include min($screen-l)
    > div
      grid-template-columns: repeat(2, 1fr)
      grid-gap: units(2)

#gallery-lightbox
  position: fixed
  background: white
  overflow-y: scroll
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 10000
  padding: units(8)
  display: none

  &.active
    display: block

  .icon
    position: fixed
    top: units(3)
    right: units(3)

  .container
    max-width: size(1200)
    margin: 0 auto

    img
      margin: units(4) 0