@import '../assets'
  
section[is="hero-event"]
  position: relative
  @include cover-background(url(../hello.png))

  > div
    @extend %main-content
    // min-height: 50vh
    display: flex
    align-items: flex-end
    justify-content: flex-start
    aspect-ratio: 2 / 1
    padding: units(5)
    position: relative
    margin: units(2) 0 units(4) 0
    overflow: hidden
    border-radius: $border-m

    img
      position: absolute
      top: 0
      left: 0
      width: 100%

    h1
      @extend %heading-1

    h4
      @extend %overline

    p
      @extend %body-1
      margin-bottom: units(4)

    div[is="hero-content"]
      position: relative
      background: $white
      padding: units(4)
      border-radius: $border-m
      flex: 1
      max-width: size(560)
  
