@import '../assets'
  
section[is="hero"]
  background-color: $hero
  position: relative

  > div
    @extend %main-content

    h1, p
        color: $on-hero

    h1
      @extend %heading-xl

    p
      @extend %body-l

    > div 
      position: relative
      z-index: 2
    
    > img
      position: relative
      z-index: 2

  @include min($screen-m)
    > div
      grid-column-gap: 2rem
      display: grid
      grid-template-columns: repeat(2, 1fr)
      place-items: center
    
      img 
        order: 2
    
      div 
        order: 1
    
      h1 
        margin-top: 0
    
      p 
        margin-bottom: 0
  
