@import '../assets'

section[is="image-with-text"]

  > div
    @extend %main-content
    background: $blue-100
    border-radius: $border-m

    > div
      max-width: size(400)
      padding: units(4)
      
  h3
    @extend %heading-2

  p
    @extend %body-3

  &.last 
    padding-bottom: 4rem

  @include min($screen-s)
    > div 
      grid-column-gap: 2rem
      display: grid
      grid-auto-flow: column
      grid-template-columns: 1.5fr 1fr
      place-items: center

      &.swapped
        grid-template-columns: 1fr 1.5fr
    
      &.swapped > img 
        grid-column: 2
      
      &.swapped > div 
        grid-column: 1
  
