@import '../assets'

section[is="image-with-text"]

  > div
    @extend %main-content

    > div
      max-width: size(400)

  h3
    @extend %heading-l

  p
    @extend %body-s

  &.last 
    padding-bottom: 4rem

  @include min($screen-s)
    > div 
      grid-column-gap: 2rem
      display: grid
      grid-auto-flow: column
      grid-template-columns: repeat(2, 1fr)
      place-items: center
    
      &.swapped > img 
        grid-column: 2
      
      &.swapped > div 
        grid-column: 1
  
