@import '../assets'

section[is="intro"]
  position: relative
  padding: units(4) 0
  
  > div
    @extend %main-content

  &.with-image

  img
    margin-bottom: units(3)

  h1
    @extend %heading-1
  
  p
    @extend %body-1
    margin: units(2) 0 units(4) 0
  
  a
    @extend %body-1
    @extend %bold

  @include min($screen-s)

    padding: units(5) units(7)

    > div

      > div 
        margin-left: auto
        margin-right: auto
        max-width: size(600)
        text-align: center

        h1, p
          margin-left: auto
          margin-right: auto

    &.with-image
      > div
        grid-column-gap: units(4)
        display: grid
        grid-auto-flow: column
        grid-row: auto
        grid-template-columns: repeat(2, 1fr)
        place-items: center
      
        > div 
          grid-column: 2
          max-width: size(480)
          text-align: left
      
        > img 
          grid-column: 1
