@import '../assets'

div[is="linked-files"]
  
  > ul
    display: grid
    grid-template-columns: 1fr
    grid-gap: units(3) 

    @include min($screen-m)
      grid-template-columns: 1fr 1fr

    @include min($screen-l)
      grid-template-columns: 1fr 1fr 1fr

    li
      border: 1px solid $border-color
      border-radius: $border-s
      height: 100%

      a
        display: flex
        height: 100%

        img
          height: 100%
          width: 100%
          flex: 0.5
          object-fit: cover

        > div
          padding: units(3)
          display: flex
          flex-direction: column
          justify-content: space-between

        p
          @extend %body-2
          margin-bottom: units(2)

        h5
          color: $blue-1000
          @extend %button-s
          display: flex
          align-items: center

          &:before
            content: ""
            display: block
            width: units(3)
            height: units(3)
            position: relative
            background: $blue-1000
            -webkit-mask-image: url(icon-download.svg)
            -webkit-mask-position: center
            -webkit-mask-repeat: no-repeat
            -webkit-mask-size: contain
            margin-right: units(0.5)
