@import '../assets'

div[is="linked-files"]
  
  > ul
    max-width: size(720)
    margin: auto
    // display: grid
    // grid-template-columns: 1fr
    // grid-gap: units(3)

    // @include min($screen-m)
    //   grid-template-columns: 1fr 1fr 1fr

    // @include min($screen-l)
    //   grid-template-columns: 1fr 1fr 1fr 1fr

    li
      border-top: 1px solid $border-color
      // border-radius: $border-s
      height: 100%
      overflow: hidden

      &:hover
        background-color: $blue-100
        color: $blue-1000

        h5
          background-color: $blue-1000
          color: white

          &::before
            background: white

      a
        height: 100%
        display: flex

        img
          width: size(100)
          display: none
          border-radius: $border-s

        .content
          flex: 1
          padding: units(2) 0
          display: flex
          align-items: center
          //flex-direction: column
          justify-content: space-between

        @include min($screen-m)
          img
            display: block

          .image
            padding: units(1)
          
          .content
            padding-left: units(2)
            padding-right: units(3)

        p
          @extend %body-2
          // margin-bottom: units(2)

        h5
          color: $blue-1000
          @extend %button-s
          display: flex
          align-items: center
          border-radius: $border-s
          padding: units(1) units(1.5)

          &:before
            content: ""
            display: block
            width: units(3)
            height: units(3)
            position: relative
            background: $blue-1000
            -webkit-mask-image: url(icon-download.svg)
            -webkit-mask-position: center
            -webkit-mask-repeat: no-repeat
            -webkit-mask-size: contain
            // margin-right: units(0.5)
