@import '../assets'

section[is="logos"]

  > div
    @extend %main-content

    header
      width: 100%
      max-width: size(400)
      h3
        @extend %heading-l

      p
        @extend %body-m

  ul
    width: 100%
    grid-gap: units(1)
    display: grid
    grid-template-columns: repeat(3, 1fr)//repeat(auto-fit, minmax(8rem, 1fr))
    list-style: none
    padding-left: 0

  li 
    background: $white
    border-radius: units(0.5)
    display: grid
    padding: units(1)
    place-items: center

    img
      // filter: grayscale(1)

    span
      display: none

  &.no-top-padding 
    padding-top: 0

  @include min($screen-s)

    > div
      display: grid
      grid-auto-flow: column
      grid-template-columns: repeat(2, 1fr)
      grid-gap: units(4)
      place-items: center

    li
      padding: units(3)
    
    &.swapped ul 
      grid-column: 2
    
    &.swapped header 
      grid-column: 1
  
