@import '../assets'

section[is="logos"]

  > div
    @extend %main-content
    display: grid
    grid-template-columns: repeat(2, 1fr)
    place-items: center

    header
      width: 100%
      max-width: size(400)
      h3
        @extend %heading-l

      p
        @extend %body-m

    ul
      width: 100%
      grid-gap: 1rem
      display: grid
      grid-auto-rows: 1fr
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr))
      list-style: none
      margin-top: 2rem
      padding-left: 0

      li 
        background: $white
        border-radius: 0.5rem
        display: grid
        padding: 1rem
        place-items: center

        span
          display: none

  &.no-top-padding 
    padding-top: 0
  
