@import '../assets'

section[is="logos"]

  > div
    @extend %main-content

    ul 
      grid-gap: 1rem
      display: grid
      grid-auto-rows: 1fr
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr))
      list-style: none
      margin-top: 2rem
      padding-left: 0

      li 
        background: $logo-list
        border-radius: 0.5rem
        display: grid
        padding: 1rem
        place-items: center

        span
          display: none

  &.no-top-padding 
    padding-top: 0

  @include min($screen-s)
  
    h2,
    h3,
    p 
      margin-left: auto
      margin-right: auto
      text-align: center

    P:last-child 
      margin-top: 3rem
  
