@import '../assets'

div[is="page"]
  @extend %typography-hierarchy
  margin: units(4) auto units(12) auto
  max-width: size(700)

  table
    @extend %body-2
    @extend %paragraph
    border-top: 1px solid $border-color

    strong
      @extend %bold

  img
    border: 1px solid $grey-200
    margin: units(5) units(-3)
    width: calc(100% + 48px)
    max-width: calc(100% + 48px)

    @include min($screen-s)
      border-radius: $border-m
      margin: units(5) units(-5)
      border-radius: $border-m
      width: calc(100% + 80px)
      max-width: calc(100% + 80px)

  @include min($screen-s)
    padding: units(4) units(4) units(6) units(4)