@import '../assets'

a[is="page-feature"]
  background: $white
  border-radius: $border-m
  overflow: hidden

  h3
    @extend %heading-3

  h4
    @extend %overline
    margin-bottom: units(0.5)
  
  p
    @extend %body-3

  p[is="text-button"]
    margin-top: units(1)
    @extend %bold
    @extend %button-l

  div[is="image"]
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    width: 100%
    height: size(200)
    margin-bottom: units(3)
    border-radius: $border-s

  &:nth-child(1)

    p[is="text-button"]
      color: $grey-1000
      &:after
        background: $grey-1000

    @include min($screen-m)

      article
        position: relative
        height: 100%
        display: flex
        align-items: flex-end

      div[is="image"]
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        height: 100%

      div[is="content"]
        background: white
        position: relative
        border-radius: $border-m
        padding: units(5)
        max-width: 80%

  &:nth-child(2), &:nth-child(3)
    padding: units(5)
    h4, h3, a
      color: white

  &:nth-child(2)
    background: $teal-1000

  &:nth-child(3)
    background: $blue-1000
  
  

div[is="page-features"]
  padding-bottom: units(4)
  
  > div
    @extend %main-content
    grid-gap: units(5)
    display: grid
    justify-content: center
    align-content: center
    justify-items: center

  @include min($screen-m)
    > div
      grid-template-columns: 1fr 1fr
      grid-template-rows: 1fr 1fr

      a[is="page-feature"]
        &:first-child
          grid-row: span 2

        &:nth-child(2)
          padding: units(5)

        &:nth-child(3)
          background: $blue-1000
          

  
