@import '../assets'

article[is="page-feature"]
  background: $white
  border-radius: $border-m
  overflow: hidden 


  &:nth-child(1)
    position: relative
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    display: flex
    align-items: flex-end

    a
      color: $blue-1000
      &:after
        background: $blue-1000
      &:hover
        border-bottom-color: $blue-1000
    

    > div
      background: white
      border-radius: $border-m
      padding: units(5)
      max-width: 80%

  &:nth-child(2), &:nth-child(3)
    padding: units(5)
    h4, h3, a
      color: white

  &:nth-child(2)
    background: $teal-1000

  &:nth-child(3)
    background: $blue-1000

  img
    width: 100%
    border-radius: $border-m
    margin-bottom: units(2)

  div

    h3
      @extend %heading-3

    h4
      @extend %overline
      margin-bottom: units(0.5)
    
    p
      @extend %body-3
  
  

div[is="page-features"]
  padding-bottom: units(4)
  
  > div
    @extend %main-content
    grid-gap: units(5)
    display: grid
    justify-content: center
    align-content: center
    justify-items: center

  @include min($screen-m)
    > div
      grid-template-columns: 1fr 1fr
      grid-template-rows: 1fr 1fr

      article[is="page-feature"]
        &:first-child
          grid-row: span 2

        &:nth-child(2)
          padding: units(5)

        &:nth-child(3)
          background: $blue-1000
          

  
