@import '../assets'

div[is="page-content"]
  @extend %typography-hierarchy
  margin: units(4) auto units(12) auto
  padding: 0 units(4)
  max-width: size(600)

  img
    border-radius: $border-m
    border: 1px solid $grey-200
    margin: units(3) units(-3)

  @include min($screen-s)
    padding: units(4) units(4) units(6) units(4)