@import '../assets'

div[is="page-gallery"]
  @extend %main-content
  display: grid
  grid-gap: units(2)
  grid-template-columns: repeat(2, 1fr)

  > div
    width: 100%
    overflow: hidden
    height: size(200)
    border-radius: $border-s
    border: 1px solid $grey-200

  img
    object-fit: cover
    width: 100%
    height: 100%

  @include min($screen-m)
    grid-template-columns: repeat(3, 1fr)
    grid-gap: units(5)

    > div
      height: size(340)
      border-radius: $border-m

      &:nth-child(2), &:nth-child(3)
        grid-column: span 2
      
      

      
          

  
