@import '../assets'

main[is="product"]
  margin-top: units(4)

  > div
    @extend %main-content

    div[is="product-content"]

      header
        margin-bottom: units(3)
        h1
          @extend %heading-xl
          margin-bottom: units(2)

        p
          @extend %body-l

    .description
      @extend %typography-hierarchy
      margin: units(4) 0

      > div *
        margin-bottom: units(2)

    img
      border-radius: $border-s
      width: 100%
      cursor: pointer

    > h1 
      margin-top: 0

    form 
      display: flex
      margin-bottom: units(2)

      #quantity
        width: 20%

      button
        @extend %button-style

      > button, > p 
        flex: 1
        margin-left: units(1)

      > p 
        align-self: center
        font-size: 1.33em
        margin-bottom: 0
        margin-top: 0

  @include min($screen-s)
    > div
      section
        grid-column-gap: units(5)
        align-items: flex-start
        display: grid
        grid-template-columns: 1.5fr 1fr
    
  @include min($screen-m)
    > div
      section
        grid-template-columns: 1.2fr 1fr

  @include min($screen-m)
    > div
      section
        grid-template-columns: 1.8fr 1fr
  
