@import '../assets'

div[is="product-promos"]
  @extend %product-list

.product-sorting
  margin-bottom: 2rem
  text-align: right

.sort-by-select
  width: size(200)
  height: size(48)
  padding: 0 units(1.5)
  border: 1px solid $border-color
  border-radius: $border-xs
  background-color: white
  cursor: pointer