@import '../assets'

div[is="product"]
  padding-bottom: units(8)

  > div
    @extend %main-content

    .tag
      display: inline-flex
      padding: size(4) size(8)
      @extend %body-3
      @extend %bold
      background: $blue-100
      color: $blue-1000
      border-radius: size(12)

    .new
      background: $new-bg
      color: $new-text

    div[is="product-content"]
      position: relative

      p[is="product-price"]
        @extend %heading-3
        @extend %regular
        flex: 0
        padding-right: units(1)

      div[is="product-info"]
        // position: sticky
        // top: 0px
        // left: 0px

        header
          margin-bottom: units(3)

          h1
            @extend %heading-1
            margin-bottom: units(2)

    #description
      border-radius: 0
      margin: -size(1) 0

      &:hover
        &:not(.active)
          background-color: $blue-100

      header
        @extend %expanding-button
        border-radius: 0

      .text
        @extend %typography-hierarchy

      #description-content
        visibility: hidden
        height: 0

      &.active 
        color: white
        background: $blue-1000

        header
          color: white
          border: none

        .icon
          background: white

        #description-content
          visibility: visible
          padding: units(2)
          height: auto
          border-top: 1px solid rgba($white, 0.3)

    a.instructions
      @extend %expanding-button
      border-radius: 0
      margin-bottom: -size(1)
      &:hover
        background-color: $blue-100

    div[is=delivery]
      border-radius: 0 0 size(12) size(12)
    
    .meta
      display: flex
      margin-top: units(4)
      border: 1px solid $blue-100
      border-radius: size(12) size(12) 0 0

      h4
        @extend %body-3
        @extend %bold
        color: $grey-800
        margin-bottom: size(4)
      
      h3
        @extend %heading-3
        color: $blue-1000

      > div
        flex: 1
        padding: units(2) units(3)
        &:not(:last-child)
          border-right: 1px solid $grey-200
    
    .meta-dimensions
      margin: units(3) 0 0 0
      border: 1px solid $grey-200
      border-radius: $border-xs
      background: white

      h5
        @extend %body-3
        @extend %bold
        color: $grey-800
      
      p
        @extend %body-2
        @extend %bold
        color: $blue-1000

      > div
        padding: units(1.5) units(2)
        display: grid
        &:not(.meta-instructions)
          grid-template-columns: 0.5fr 1fr 
        &:not(:last-child)
          border-bottom: 1px solid $grey-200

    img
      border-radius: $border-s
      width: 100%
      cursor: pointer

    > h1 
      margin-top: 0

    form 
      display: flex
      margin-bottom: units(2)

      #quantity
        width: units(8)

      button
        @extend %button-style
        height: units(7)

      > button, > p 
        flex: 1
        margin-left: units(1)

      > p 
        align-self: center
        font-size: 1.33em
        margin-bottom: 0
        margin-top: 0

  @include min($screen-m)
    > div
      section
        grid-column-gap: units(5)
        align-items: flex-start
        display: grid
        grid-template-columns: 1.2fr 1fr
    
  // @include min($screen-m)
  //   > div
  //     section
  //       grid-template-columns: 1fr 1fr

  @include min($screen-l)
    > div
      section
        grid-template-columns: 1.8fr 1fr
  
