@import '../assets'

div[is="product-promos"]
  @extend %product-list

.product-sorting
  text-align: right
  position: relative

.sort-by-select
  margin-bottom: 2rem
  width: size(200)
  height: size(48)
  padding: 0 units(1.5)
  border: 1px solid $border-color
  border-radius: $border-xs
  background-color: white
  cursor: pointer

  @include min($screen-m)
    position: absolute
    top: -size(72)
    right: 0