@import '../assets'

[is="product-promo"]
  display: flex
  flex-direction: column
  overflow: hidden
  text-decoration: none
  min-height: 0
  height: 100%

  img
    border-radius: $border-m

  > div
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%

    h3
      @extend %heading-m
      @extend %medium
      margin-top: units(1)

    > div
      margin-top: units(1)
      display: flex
      align-items: center
      justify-content: space-between

      p
        @extend %heading-s
        color: $grey-800
        

  &:focus-visible
    background: none
    box-shadow: none

    h3
      background-color: $focus
      box-shadow: 0 0 0 3px focus

  &:active
  &:hover