@import '../assets'

div[is="product-promos"]
  border-top: 1px solid $border-color
  padding-top: units(4)
  @extend %product-list

  > div
    @include min($screen-xl)
      grid-gap: units(5)
      grid-template-columns: repeat(4, 1fr)