@import '../assets'

[is="product-carousel-item"]
  display: flex
  flex-direction: column
  text-decoration: none
  min-height: 0
  height: 100%
  position: relative
  width: 60%
  background: $blue-1000
  border-radius: $border-s
  overflow: hidden
  @include animate(0.15s)
  transition-timing-function: cubic-bezier(0.175, 1, 0.2, 1.8)

  @include min($screen-m)
    width: size(340)

  .image
    background: $yolk-1000
    padding: size(6)

    img
      border-radius: 10px

  .new
    position: absolute
    top: units(1)
    left: units(1)
    height: auto
    padding: size(2) size(8)
    @extend %body-4
    @extend %bold
    background: $green-1000
    color: $white
    border-radius: size(12)

  &:hover
    scale: 1.02
    transform: rotate(3deg)

  a:hover
    text-decoration: underline

  .content
    position: relative
    padding: units(1) units(2) units(2) units(2)
      
    h3
      @extend %body-3
      overflow: hidden
      width: 100%
      white-space: nowrap
      text-overflow: ellipsis
      color: $white
        
        
    p
      @extend %body-3
      @extend %bold
      color: $white
      margin-top: units(0.5)
          
        

  &:focus-visible
    background: none
    box-shadow: none

    h3
      background-color: $focus
      box-shadow: 0 0 0 3px focus