@import '../assets'

div[is="product-promos"]
  border-top: 1px solid $border-color
  padding-top: units(5)
  @extend %product-list

  .three-d-badge
    position: absolute
    top: units(2)
    left: units(2)
    width: size(140)
    img
      border-radius: 0

  > div
    @include min($screen-xl)
      grid-gap: units(5)
      grid-template-columns: repeat(4, 1fr)