@import '../assets'

section[is="product-promo-large"]
  display: grid
  grid-gap: $space-xs

  @include min($screen-m)
    grid-template-columns: 1.75fr 1fr
    grid-gap: $space-s

    &.swapped > div[is="gallery"] 
      grid-column: 2
      
    &.swapped > div[is="content"] 
      grid-column: 1

  .new
    @extend %body-3
    @extend %bold
    padding: size(0) size(8)
    border-radius: $border-s
    display: inline-block
    background: $green-1000
    color: white

  button
    @extend %button-style

  img
    border-radius: $border-s

  div[is="gallery"]
    display: grid
    grid-gap: units(3)
    grid-template-columns: 1.5fr 1fr
    grid-template-rows: 1fr 1fr

    > div
      overflow: hidden
      border-radius: $border-s
      border: 1px solid $grey-200

      &:first-child
        grid-row: 1 / span 2

      img
        object-fit: cover
        width: 100%
        height: 100%

  div[is="content"]

    .description
      p
        @extend %body-2

    input[type="submit"]
      @extend %button-style

    h1
      @extend %heading-2

    div[is="call-to-action"]
      display: flex
      align-items: center
      margin-top: units(2)
    
    p[is="product-price"]
      @extend %heading-3
      @extend %regular
      flex: 0
      padding-right: units(2)

    .meta
      margin: units(2) 0 units(3) 0
      display: flex

      > div
        padding: 0 units(2)
        border-radius: $border-xs
        background: $green-1000
        display: flex
        align-items: center
        margin-right: units(1)
        height: units(5)

        &:last-child
          background: $blue-1000
      
      h3
        @extend %body-2
        @extend %bold
        color: $white
        flex-shrink: 0

      