@import '../assets'

a[is="promo"] 
  background: $elevated-secondary
  border-radius: $border-m
  display: grid
  grid-template-columns: 1fr
  padding: units(4) units(3)
  place-content: flex-start
  text-decoration: none

  &:active 
    position: relative
    top: 2px
  
  &:hover h3
    text-decoration: none

  &:focus-visible 
    box-shadow: 0 2px 0 $drop, 0 0 0 4px $focus

  > img 
    align-self: center

  > h3 
    @extend %heading-l
    margin-bottom: units(1)

  > p 
    @extend %body-m

div[is="promos"]
  > div
    @extend %main-content
    grid-gap: units(4)
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr))
    @extend %columns
  