@import '../assets'

article[is="prominent-feature"]
  background-color: $elevated
  border-radius: 0.5rem
  box-shadow: 0 2px 0 $drop
  text-align: left

  > img 
    margin-bottom: 1.25rem
    width: 100%

  > div 
    padding-left: 0.75rem
    padding-right: 0.75rem

  h3
    @extend %heading-m
  
  p
    @extend %body-s

  @include min($screen-s)
    padding: 1.5rem
  

div[is="prominent-features"]
  > div
    @extend %main-content
    grid-gap: 2rem
    display: grid

  @include min($screen-s)
    > div
      display: grid
      grid-template-columns: repeat(2, 1fr)
    
      &.one 
        grid-template-columns: repeat(1, 1fr)
      &.three 
        grid-template-columns: repeat(3, 1fr)
      &.four 
        grid-template-columns: repeat(4, 1fr)
  
