@import '../assets'

article[is="prominent-feature"] 
  background-color: $elevated
  border-radius: 0.5rem
  box-shadow: 0 2px 0 $drop
  padding: 1rem

  > img 
    margin-bottom: 1.25rem

  > div 
    padding-left: 0.75rem
    padding-right: 0.75rem

  @include min($screen-s)
    padding: 1.5rem
  

div[is="prominent-features"] 
  grid-gap: 2rem
  display: grid
  margin-bottom: 0
  margin-top: 3rem

  @include min($screen-s)
    display: grid
    grid-template-columns: repeat(2, 1fr)
  
    &.one 
      grid-template-columns: repeat(1, 1fr)
    &.three 
      grid-template-columns: repeat(3, 1fr)
    &.four 
      grid-template-columns: repeat(4, 1fr)
  
