@import '../assets'

.reviews-container
  @include min($screen-l)
    height: size(140)

article[is="review"]

  width: size(280)
  height: size(140)
  align-items: center
  justify-content: flex-start
  text-align: center

  &:hover
    a
      color: $blue-1000

    .icon
      background: $blue-1000

  a
    display: block
    color: $grey-1200

  .stars
    display: flex
    flex: 1
    align-items: center
    justify-content: center
    margin-bottom: size(4)

  .icon
    background: $grey-1200

  h4
    @extend %body-3
    @extend %bold
  
  p
    @extend %body-3
    white-space: wrap
    margin-bottom: size(4)
  
  

div[is="reviews"]
  
  @include min($screen-l)
    width: 100vw
    position: absolute
    left: 50%
    transform: translateX(-50%)
  
  > div
    white-space: nowrap
    overflow-x: scroll
    align-items: top
    -webkit-overflow-scrolling: touch
    margin: -units(2) -units(2)
    padding: units(2) units(2)
    vertical-align: top

    @include min($screen-l)
      margin: -units(2) 0
      padding: units(2) units(10)

    > *
      display: inline-block
      vertical-align: top
      max-width: 80vw
      margin-right: units(1)
  
