@import '../assets'

header[is="section-header"]
  @extend %main-content

  > div
    padding: units(8) 0 units(3) 0

  h2
    @extend %heading-2

  p
    @extend %body-2
    margin-top: units(1)

  &.large
    h2
      @extend %heading-1
      margin-bottom: units(2)

  &.center
    > div
      margin: 0 auto
      padding-bottom: units(5)
      
    h2, h3, p
      text-align: center
      margin-left: auto
      margin-right: auto

  @include min($screen-s)
    &.large