@import '../assets'

div[is="social-sharing"] 

  h2
    @extend %heading-m

  ul
    list-style: none
    padding-left: 0
    padding-top: units(1)

  li
    margin-bottom: units(1)

    > a 
      display: flex
      align-items: center
      justify-content: center
      @extend %body-s
      border-radius: $border-m
      background: $yolk-1000
      padding: units(1)
      color: $blue-1000

      &:hover
        background: lighten($yolk-1000, 10%)

      > svg 
        margin-right: 0.5rem
        width: units(3)

  @include min($screen-s)
    ul
      grid-gap: 0.75rem
      display: grid
      grid-template-columns: repeat(3, 1fr)

    li
      margin: 0