@import '../assets'

div[is="shop"]

  div[is="delivery-container"]
    padding: 0 units(3)
    max-width: size(400)
    margin: 0 auto units(2) auto

  @include min($screen-s)
    > section 
      padding-top: 2rem
  
      > h2, > p 
        margin-left: auto
        margin-right: auto
        text-align: center
  
