@import '../assets'
  
section[is="split-hero"]
  position: relative

  @include min($screen-m)
    display: flex
    align-items: stretch

  > div a
    display: block
    width: 100%
    height: 100%

  div[is="main-promo"], div[is="sub-promo"]
    height: units(50)
    border-radius: $border-s
    overflow: hidden
    flex: 1

    a
      > div
        display: flex
        align-items: stretch
        flex-direction: column
        width: 100%
        height: 100%

    @include min($screen-m)
      height: units(60)

  div[is="main-promo"]
    margin-bottom: units(3)

    @include min($screen-m)
      margin-bottom: 0
      margin-right: units(3)

      div[is="split-hero-content"]
        margin-left: -$border-s
        margin-top: 0
        max-width: units(45)

      a
        > div
          flex-direction: row

  div[is="sub-promo"]
    @include min($screen-m)
      max-width: units(45)

    div[is="split-hero-content"]

      h1
        @extend %heading-3

  div[is="split-hero-content"]
    padding: $space-s
    border-radius: $border-s
    margin-top: -$border-s
    position: relative
    z-index: 1000

    h1
      @extend %heading-2

    h4
      @extend %overline

    > div:first-child
      margin-bottom: $space-xs

  div[is="split-hero-image"]
    flex: 1
    background-size: cover
    background-position: center center
  