@import '../fonts'
@import '../assets'
@import "../forms.sass"
@import "../icons.sass"
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400500600700&display=swap')

code
  font-family: Sofia Pro, sans-serif

*, *:before, *:after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

html
  background-color: $sunken
  color: $text
  font-size: 62.75%

  // @include min($screen-s)
  //   font-size: 100%
  // @include min($screen-m)
  //   font-size: 100%

li
  list-style-type: none

body
  padding: 0
  margin: 0
  font-family: Sofia Pro, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Helvetica Neue', sans-serif
  -moz-osx-font-smoothing: grayscale
  position: relative
  width: 100%
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  -webkit-font-smoothing: antialiased
  font-size: 100%
  background-color: $background
  margin: 0 auto
  //overflow-x: hidden

  &.fixed
    position: fixed
    top: 0
    left: 0
    overflow: hidden
    height: 100vh

h1, h2, h3, h4, h5, h6, li, ul, html, body
  margin: 0
  padding: 0
  border: 0

li
  color: inherit

p
  margin: 0
  color: inherit

  a
    text-decoration: underline

strong
  letter-spacing: inherit

blockquote
  margin: 0

a
  text-decoration: none
  color: inherit

h1, h2, h3, h4, h5, h6 p
  a
    color: inherit

iframe,img,svg,video
  display: block
  max-width: 100%

img
  height: auto
  &[is="in-action"]
    border-radius: 0.5rem

table
  border-collapse: collapse
  max-width: 100%

caption,td,th
  text-align: left

td,th
  border-bottom: 1px solid $separator
  padding: 0.75rem 1.5rem 0.75rem 0

section[is="section"]
  @include min($screen-m)

div[is="product-promos"]
  @extend %product-list

.alternative
    background-color: $background-secondary

p[is="lede"]
  font-size: 1.33em
  max-width: 30rem

div[is="error-summary"]
  background-color: $error
  border-radius: 0.125rem
  color: $on-error
  padding: 0.25rem 1rem

div[is="error"] 
  border-left: 0.5rem solid $error
  padding-left: 0.5rem
  > p
    margin-bottom: 0.48em
    margin-top: 0.48em
    > strong
      background-color: $error
      border-radius: 0.125rem
      color: $on-error
      display: inline-block
      font-weight: 400
      padding: 0 0.5rem

a[is="skip"] 
  color:$on-focus
  display: block
  left: -100vw
  padding: 0.5rem 2rem
  position: absolute
  text-align: center

  &:hover 
    text-decoration: none

  &:focus 
    background-color:$focus
    left: 0
    right: 0
    z-index: 3


ul[is="social-sharing"] 
  list-style: none
  padding-left: 0

  > li 
    padding-bottom: 1rem
    padding-top: 1rem

    > a 
      align-items: center
      display: flex

      > svg 
        margin-right: 0.5rem

  @include min($screen-s)
    grid-gap: 0.75rem
    display: grid
    grid-template-columns: repeat(3, 1fr)
  

div[class="testimonial"]
  > img 
    margin-right: 2rem

  > div > blockquote
    margin-left: 0

  @include min($screen-s)
    display: flex
  

// h1
//   @extend %heading-xl
//   @extend %bold

// h2
//   @extend %heading-l
//   @extend %bold

// h3
//   @extend %heading-m
//   @extend %bold

// h4
//   @extend %heading-s
//   @extend %bold

// p
//   @extend %body-s
//   @extend %regular

//

p + p
  margin-top: units(2) 
h1,
h2,
h3,
h4,
h5,
h6 
  color: $text-display

// h1,
// h2,
// h3 
//   line-height: 1.3

// h1,
// h2 
//   max-width: 25ch

// h1 
//   font-size: 2.5em
//   margin-bottom: 0.28em

// h2 
//   font-size: 2em
//   margin-bottom: 0.48em

// h3 
//   font-size: 1.73em
//   margin-bottom: 0.58em

// h4 
//   font-size: 1.5em
//   margin-bottom: 0.83em

// h5 
//   font-size: 1.17em
//   margin-bottom: 1em

// h6 
//   font-size: 1em
//   margin-bottom: 1.5em

cite,
dd,
dt,
hr,
li,
p 
  max-width: 50ch

address,
dd,
dt,
h4,
h5,
h6,
li,
p,
td,
th 
  line-height: 1.5

blockquote,
figure 
  margin-left: 2rem
  margin-right: 2rem

dd 
  margin-left: 2rem

ol,
ul 
  padding-left: 2rem

figcaption 
  margin-bottom: 0.48em
  margin-top: 0.48em

sub,
sup 
  line-height: 1

abbr 
  text-decoration: none

hr 
  border-style: solid
  color: $separator
  margin-left: 0
  margin-right: 0

a[is="button"]
  display: inline-flex
  align-items: center
  justify-content: center
  @extend %button-l
  border-radius: $border-m
  padding: 0 units(4)
  color: white
  background-color: $complementary
  height: units(7)
  box-shadow: 2px 4px 0 0 $accent

  &:hover
    background-color: lighten($complementary, 5%)

  &:active
    box-shadow: 1px 2px 0 0 $accent
    background-color: darken($complementary, 5%)