@import '../assets'

div[is="universal-features-mini"]
  @extend %body-4
  margin: units(5) 0 units(4) 0

  ul
    display: grid
    grid-gap: units(2.5)
    grid-template-columns: repeat(3, 1fr)

  li
    list-style: none
    text-align: center

    img
      width: 100%
      max-width: size(100)
      margin: 0 auto size(6) auto

    h4
      @extend %body-4
      text-align: center

  @include min($screen-m)
    ul
      grid-template-columns: repeat(4, 1fr)