@import '../assets'

div[is="universal-features"]
  @extend %body-3
  margin: units(4) 0

  ul
    display: grid
    grid-gap: units(3)

  li
    list-style: none
    background: $grey-100
    border-radius: $border-s
    overflow: hidden
    display: flex

    div.image
      flex: 0.4
      background-size: cover
      background-position: center center
      border-radius: $border-s

    div.content
      flex: 1
      padding: units(2)

      h4
        @extend %overline
        margin-bottom: units(0.5)
      
      p
        @extend %body-3
  
  @include min($screen-m)
    ul
      // grid-template-columns: repeat(4, 1fr)