@import '../assets'

section[is="warning-banner"]
  margin-bottom: units(2)
  
  @include min($screen-m)
    margin-top: -units(3)

  > div
    @extend %main-content
    background: $blue-100
    border-radius: $border-xs
    padding: units(2)
    display: flex
    align-items: center
    justify-content: center

    // @include min($screen-s)
    //   display: flex
    //   justify-content: space-between
    //   align-items: center

    //   > div
    //     padding-right: units(5)

    h4
      @extend %body-3
      @extend %bold
      display: inline
      padding-right: units(0.5)

    p
      @extend %body-3
      display: inline
      max-width: 75ch

    a
      margin-left: units(1)
    