@import '../assets'

section[is="warning-banner"]
  margin-bottom: units(2)
  
  @include min($screen-m)
    margin-top: -units(3)

  > a
    display: flex
    @extend %main-content
    @include animate(0.2s)

    &:hover
      scale: 1.03

    h5
      @extend %micro-button-style

    > div
      background: $blue-200
      border-radius: $border-s
      padding: units(2) units(2) units(2) units(4)
      margin: 0 auto
      display: inline-flex
      justify-content: center
      align-items: center
      gap: units(3)

      h4
        @extend %body-3
        @extend %bold
        display: inline
        padding-right: units(0.5)

      p
        @extend %body-3
        display: inline
        max-width: 75ch
    