aside[is="about-brand"] {
  background-color: hsl(var(--tertiary-background));
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  margin: 0 -1rem;
  padding: 3rem 1rem 4rem;

  & > div {
    background-color: hsl(var(--tertiary-elevated));
    border-radius: 0.5rem;
    box-shadow: 0 2px 0 hsl(var(--drop) / 10%);
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;

    & > div {
      order: 2;
      padding: 0.75rem;

      & > h4,
      & > h5 {
        display: flex;
        margin-block-start: 0;

        &::before {
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 100%;
          block-size: 2rem;
          content: "";
          display: block;
          inline-size: 2rem;
          margin-block-end: -0.5rem;
          margin-inline-end: 0.75rem;
        }
      }

      & > h4 {
        line-height: 1.3;
      }

      & > p {
        margin-block-end: 0;
      }
    }

    & > img {
      display: block;
      order: 1;
    }

    &:nth-of-type(1) {
      & > div {
        & > h4,
        & > h5 {
          &::before {
            background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 42 43'%3E%3Cpath d='M5.8 1A4.8 4.8 0 001 5.8v30.4C1 38.8 3 41 5.6 41h30.8a4.8 4.8 0 004.6-4.8V5.8C41 3.1 38.9 1 36.2 1H5.8z' fill='%23FFFBF5' stroke='%23EBAA3B' stroke-width='2'/%3E%3Cpath d='M30.4 20.1l.8-3.8c.2-1 .3-1 .7-1.9.4-.7 1.2-1.2 1.8-1.3h1c.2.2.4.4.4.6l-.1.8-.2 1.6a11.7 11.7 0 000 2.3l-.9 6.9c-.1 1.6-.6 3.6-.6 3.6s-1 4.3-4.6 6.2h-.1a7.7 7.7 0 01-7.7-.6l-1.4-1-1.1-1s0 .1 0 0c-.7-.4-1.3-1-1.9-1.7-1-1-.6-1-2-2-2-1.5-5.8-3.4-7.7-4.8-1.1-.9-.8-1.7-.7-2 .4-.7 1.3-.9 1.8-.7l6.6 3.4h.6s0 0 0 0c.2-.2.3-.6 0-.8C13.8 22 11 19 9.9 17.7 8.6 16.3 8.2 16 7.5 15c0 0-1-1.4 0-2.2.9-.6 1.6-.3 2.3.4l5.3 5.4 2.4 2.2c.1.2.4.2.6.1.3-.1.4-.5.2-.7a1006 1006 0 01-5.6-11.7c0-.6.1-1 .6-1.3l.6-.3c1-.2 1.5.3 2 1l5.7 10.4a.6.6 0 001.2-.3c-.3-3.2-.8-7-1-10.1v-1c.3-.5.6-.9 1.2-1 .8 0 1.3.4 1.6 1.3.6 2.5 1.1 5.6 1.6 8.1l.8 3.1.8 2.3a1.3 1.3 0 002.6-.2V20z' fill='%23FFFBF5' stroke='%23EBAA3B' stroke-width='2'/%3E%3C/svg%3E");
          }
        }
      }
    }

    &:nth-of-type(2) {
      & > div {
        & > h4,
        & > h5 {
          &::before {
            background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 42 43'%3E%3Cpath d='M36.2 1H5.8A4.8 4.8 0 001 5.8v30.4C1 38.9 3.1 41 5.8 41h30.4c2.7 0 4.8-2.1 4.8-4.8V5.8C41 3.2 38.9 1 36.2 1zm-2.8 23h-.1a2.7 2.7 0 01-2.6 3.5h-.1a2.7 2.7 0 01-4 1.6 2.7 2.7 0 01-2.4 1V33l.7 4.2h-7.4L18 33v-3.7a2.7 2.7 0 01-4-1.8 2.7 2.7 0 01-4.1-2.7l-.1-.1a2.7 2.7 0 01-1.4-4.5 2.7 2.7 0 01.9-4.9l-.1-.8c0-.9.4-1.7 1-2.2-.2-.4-.3-1-.3-1.5a2.7 2.7 0 014.2-2.2c.3-1 1.3-1.8 2.5-1.8h.1a2.7 2.7 0 014.8-.9A2.7 2.7 0 0126.3 7 2.7 2.7 0 0130 9.2h.7a2.7 2.7 0 012 4.3l.6 1.2a2.7 2.7 0 011.1 4.1 2.7 2.7 0 01-1 5.2z' fill='%23FFFBF5'/%3E%3Cpath d='M33.4 24h-.1a2.7 2.7 0 01-2.6 3.5h-.1a2.7 2.7 0 01-4 1.6 2.7 2.7 0 01-2.4 1V33l.7 4.2h-7.4L18 33v-3.7a2.7 2.7 0 01-4-1.8 2.7 2.7 0 01-4.1-2.7l-.1-.1a2.7 2.7 0 01-1.4-4.5 2.7 2.7 0 01.9-4.9l-.1-.8c0-.9.4-1.7 1-2.2-.2-.4-.3-1-.3-1.5a2.7 2.7 0 014.2-2.2c.3-1 1.3-1.8 2.5-1.8h.1a2.7 2.7 0 014.8-.9A2.7 2.7 0 0126.3 7 2.7 2.7 0 0130 9.2h.7a2.7 2.7 0 012 4.3l.6 1.2a2.7 2.7 0 011.1 4.1 2.7 2.7 0 01-1 5.2m2.8-23H5.8A4.8 4.8 0 001 5.8v30.4C1 38.9 3.1 41 5.8 41h30.4c2.7 0 4.8-2.1 4.8-4.8V5.8C41 3.2 38.9 1 36.2 1z' stroke='%2300A650' stroke-width='2'/%3E%3Cpath d='M21.3 16c0-.2.1-.2.2-.3a4 4 0 011-1.2 3.4 3.4 0 012.1-.6 3.6 3.6 0 012.6 1.4l.5.9.2.7v1.5a6 6 0 01-.7 2.2 9.3 9.3 0 01-1.8 2.6l-.7.6-.7.5-.8.7-.4.3a22.7 22.7 0 01-.8.5l-.5.3-.2.2s0 0 0 0l-.7-.5a21.1 21.1 0 01-2.5-1.9l-.2-.1-.4-.4-.5-.5-.4-.5a10.5 10.5 0 01-1.7-3l-.2-.7V18v-.7-.4c.1-.4.2-.8.5-1.2a3.3 3.3 0 011.6-1.5 3.8 3.8 0 011.5-.3 3.3 3.3 0 011.9.7 3.8 3.8 0 011.1 1.3z' fill='%23FFFBF5' stroke='%2300A650' stroke-width='2'/%3E%3C/svg%3E");
          }
        }
      }
    }

    &:nth-of-type(3) {
      & > div {
        & > h4,
        & > h5 {
          &::before {
            background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Crect x='1' y='1' width='38' height='38' rx='4' fill='%23FFFBF5' stroke='%2328377E' stroke-width='2'/%3E%3Cpath d='M20.4 25.7h2c.2 0 .1.2.1.2-.5 1.8-2 1.8-2 1.8s-1.7 0-2.2-1.8l.1-.2h2z' fill='%2328377E'/%3E%3Cpath d='M26.3 28.3h-.1s-1.6 1.6-5.9 1.6c-4.2 0-5.8-1.5-5.8-1.5l-.1-.1s-4-2.6-3.5-9.7c0 0 0-.8.3-1.8 1.5.5 10.2 4 12.6-3.2 0 0 1 4.8 5.5 3.2l.4 1.8c.4 7-3.3 9.6-3.4 9.7zm4.7-9.8s-.4-9.7-10.7-9.7C10 8.8 9.6 18.5 9.6 18.5 9.1 26 13 29 13.6 29.3c.3.3 2.2 1.9 6.7 1.9s6.3-1.6 6.7-1.9c.5-.4 4.4-3.4 4-10.8z' fill='%2328377E'/%3E%3Cpath d='M16.9 21.8c-1-1-2-.1-2.1 0l-.5-.6c.5-.6 1.8-1.3 3 0l-.4.6zm9 0c-.9-1-1.8-.1-2 0l-.5-.6c.6-.6 2-1.3 3.2 0l-.6.6z' fill='%2328377E'/%3E%3C/svg%3E");
          }
        }
      }
    }
  }

  & > p {
    margin-inline: auto;
    text-align: center;
  }

  @media (min-width: 40em) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    margin-inline: -2rem;
    padding-inline: 2rem;

    & > div:nth-of-type(1) {
      grid-column: 1 / span 2;
      grid-gap: 2.5rem;
      grid-row: 1;
      grid-template-columns: repeat(2, 1fr);
      padding: 2rem 1.5rem;
      place-items: center;
    }

    & > p {
      grid-column: 1 / span 2;
    }
  }
}
