section[is="call-outs"] {
  background-color: hsl(var(--backgrounds));
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin-block: 2rem;
  margin-inline: -1rem;
  padding-block: 3rem;
  padding-inline: 1rem;

  & > *:first-child {
    margin-block-start: 0;
  }

  & > *:last-child {
    margin-block-end: 0;
  }

  & > h2,
  & > p,
  & > a {
    grid-column: auto / span 1;
    justify-self: center;
    text-align: center;
  }

  & > h2 {
    grid-row: 1;
  }

  & > p {
    grid-row: 2;
  }

  & > a {
    grid-row: 4;
  }
}

div[is="call-outs"] {
  grid-column: auto / span 1;
  grid-row: 3;
  margin-block: 1.5rem;

  @media (min-width: 40em) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &.one {
      grid-template-columns: repeat(1, 1fr);
    }

    &.three {
      grid-template-columns: repeat(3, 1fr);
    }

    &.four {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
