article[is="call-out"] {
  background-color: hsl(var(--background));
  border-radius: 0.5rem;
  margin: 0.5rem;
  max-inline-size: 50rem;
  padding: 2rem;

  & > h2 {
    font-size: 1.5em;
    margin-block: 0;
  }
}
