div[is="example"] {
  border-radius: 0.125rem;
  box-shadow: 0 0 0 1px hsl(var(--separator));
  margin-block: 2rem;
  padding: 2.5rem 1rem 1rem;
  position: relative;

  &::before {
    background-color: hsl(var(--meta));
    border-end-end-radius: 0.125rem;
    color: hsl(var(--on-meta));
    content: "Example " attr(data-name);
    display: block;
    font-size: 0.67em;
    inset-block-start: 0;
    inset-inline-start: 0;
    line-height: 1.3;
    padding: 0.25rem 0.5rem;
    position: absolute;
  }
}
