dl[is="fact"] {
  align-items: center;
  border-block-end: 1px solid hsl(var(--separator));
  border-radius: 100% / 2rem;
  display: flex;
  justify-content: center;
  margin-block-start: 1.5rem;
  padding-block-end: 1.5rem;

  & > dt {
    display: flex;
    font-size: 3em;
    font-weight: 700;
    line-height: 1;

    & > svg {
      color: hsl(var(--icon));
      margin-block-start: 0.5rem;
      margin-inline-end: 0.5rem;
    }

    & > sup {
      font-size: 0.48em;
    }
  }

  & > dd {
    margin-block-start: 0.25rem;
    margin-inline-start: 1.25rem;
    text-align: start;
  }
}
