div[is="featured-cards"] {
  display: grid;
  grid-gap: 2rem;
  margin-block: 3rem 0;

  & > article {
    background-color: hsl(var(--elevated));
    border-radius: 0.5rem;
    box-shadow: 0 2px 0 hsl(var(--drop) / 10%);
    padding: 1rem;

    @media (min-width: 40em) {
      padding: 1.5rem;
    }
  }

  @media (min-width: 40em) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &.one {
      grid-template-columns: repeat(1, 1fr);
    }

    &.three {
      grid-template-columns: repeat(3, 1fr);
    }

    &.four {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
