section[is="image-with-text"] {
  margin-inline: -1rem;
  padding: 1.5rem 1rem;

  & > div {
    & > p:last-child {
      margin-block-start: 2em;
    }
  }

  &.last {
    padding-block-end: 4rem;
  }

  &.alternative {
    background-color: hsl(var(--background-secondary));
  }

  @media (min-width: 40em) {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    margin-inline: -2rem;
    padding: 2rem;
    place-items: center;

    &.swapped {
      & > img {
        grid-column: 2;
      }

      & > div {
        grid-column: 1;
      }
    }
  }
}
