div[is="prominent-features"] {
  display: grid;
  grid-gap: 2rem;
  margin-block: 3rem 0;

  @media (min-width: 40em) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &.one {
      grid-template-columns: repeat(1, 1fr);
    }

    &.three {
      grid-template-columns: repeat(3, 1fr);
    }

    &.four {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
