ul[is="swatches-scale"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  max-inline-size: 40rem;
  padding-inline-start: 0;

  & > li {
    block-size: 3rem;
    box-sizing: border-box;
    inline-size: 3rem;
    list-style: none;
    margin-block-end: 2rem;
    padding-block-start: 3rem;
    text-align: center;
  }
}
