ul[is="swatches"] {
  margin-block-end: 1.5em;
  padding-inline-start: 0;

  & > li {
    align-items: center;
    block-size: 3rem;
    border: 1px solid hsl(var(--separator));
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    inline-size: 3rem;
    list-style: none;
    margin-block-end: 1rem;
    position: relative;
    text-align: center;
    text-indent: 4rem;
    white-space: nowrap;
  }
}
