div[is="table-of-contents"] {
  margin-block-start: 2rem;
  /* stylelint-disable-next-line selector-combinator-allowed-list */
  & ol {
    counter-reset: table-of-contents;
    list-style: none;
    padding: 0;

    & > li {
      min-inline-size: 30rem;
      padding: 0.23em 0;

      &::before {
        content: counters(table-of-contents, ".") " ";
        counter-increment: table-of-contents;
      }

      & > ol {
        margin: 0.5rem 0 0 1rem;
      }
    }
  }
}
