{{ 'awards.css' | asset_url | stylesheet_tag }}

<section is="awards">
  {% assign sorted_awards = metaobjects.award.values | sort: 'date_year' | reverse %}
  {% for award in sorted_awards %}
    {% render 'award', award: award %}
  {% endfor %}
</section>

{% schema %}
{
  "name": "Awards",
  "presets": [
    {
      "name": "Awards"
    }
  ]
}
{% endschema %}
