{{ 'awards.css' | asset_url | stylesheet_tag }}

<section is="awards">
  {% for award in metaobjects.award.values %}
    {% render 'award', award: award %}
  {% endfor %}
</section>

{% schema %}
{
  "name": "Awards",
  "presets": [
    {
      "name": "Awards"
    }
  ]
}
{% endschema %}
