{% comment %} {% assign isEmpty = true %}
{% assign collection_count = section.blocks.size %}

{% if collection_count > 0 %}
  {% assign isEmpty = false %}
{% endif %} {% endcomment %}
{{ 'collections.css' | asset_url | stylesheet_tag }}

<section is="section">
  {% if section.settings.title != blank %}
      <h2>{{ section.settings.title | escape }}</h2>
  {% endif %}
  {% if section.settings.text != blank %}
    <p>{{ section.settings.text }}</p>
  {% endif %}

  {% unless section.blocks == empty %}

    <div class="collections">
      <h1>Collections</h1>
      <ul>
      {% for block in section.blocks %}
        {% assign collection = collections[block.settings.collection] %}
        <li>{% include 'collection-promo', collection: collection %}</li>
      {% endfor %}
      </ul>
    </div>

  {% endunless %}

</section>

{% schema %}
{
  "name": "Collections",
  "tag": "section",
  "class": "collections",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Collections"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}