{% comment %} {% assign isEmpty = true %}
{% assign collection_count = section.blocks.size %}

{% if collection_count > 0 %}
  {% assign isEmpty = false %}
{% endif %} {% endcomment %}
{{ 'collections.css' | asset_url | stylesheet_tag }}

<section is="section">
  
  {% render 'section-header', title: section.settings.title, text: section.settings.text %}

  {% unless section.blocks == empty %}

    <div class="collections">
      <ul>
        {% for block in section.blocks %}
          {% assign collection = collections[block.settings.collection] %}
          {% if collection.products_count > 0 %}
            <li>{% render 'collection-promo', collection: collection %}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

  {% endunless %}

</section>

{% schema %}
{
  "name": "Collections",
  "tag": "section",
  "class": "collections",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Collections"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}