{{ 'contact.css' | asset_url | stylesheet_tag }}

<div is="contact">
  {% form 'contact' %}
    {{ form.errors | default_errors }}
    <div class="first-name">
      <label for="first-name">Name</label>
      <input type="text" name="contact[first_name]" id="first-name" />
    </div>
    <div class="email">
      <label for="email">Email</label>
      <input type="email" name="contact[email]" id="email" />
    </div>
    <div class="message">
      <label for="message">Message</label>
      <textarea name="contact[body]" id="message"></textarea>
    </div>
    <div class="submit">
      <input type="submit" value="Send" />
    </div>
  {% endform %}
</div>

{% schema %}
{
  "name": "Contact",
  "settings": [
  ],
  "presets": [
    {
      "name": "Contact"
    }
  ]
}
{% endschema %}