{{ 'delivery-bar.css' | asset_url | stylesheet_tag }}

{% comment %} <a href="/pages/delivery" is="delivery-bar" class="christmas"> {% endcomment %}
<a href="/pages/delivery" is="delivery-bar">
  <ul>
    <div class="icon delivery"></div>
    <li>Free UK delivery for orders over £15</li>
    <div class="dot not-mobile"></div>
    <li class="not-mobile">Sustainable, recyclable, biodegradable!</li>
  </ul>
</a>