{{ 'delivery-bar.css' | asset_url | stylesheet_tag }}

{% comment %} <a href="/pages/delivery" is="delivery-bar" class="christmas"> {% endcomment %}
<a href="/pages/delivery" is="delivery-bar">
  <ul>
    <div class="icon delivery"></div>
    <li>We are away for a couple of days, Orders will be sent Monday the 9/04 <span class="not-mobile">Royal Mail 1st Class Tracked</span></li>
    <div class="dot not-mobile-tablet"></div>
    <li class="not-mobile-tablet">Sustainable, recyclable, biodegradable!</li>
  </ul>
</a>