{{ 'delivery-bar.css' | asset_url | stylesheet_tag }}

{% comment %} <a href="/pages/delivery" is="delivery-bar" class="christmas"> {% endcomment %}
<a href="/pages/delivery" is="delivery-bar">
  <ul>
    <div class="icon delivery"></div>
    <li>Worldwide delivery</li>
    <div class="dot"></div>
    <li>Free within the UK</li>
    <div class="dot not-mobile"></div>
    <li class="not-mobile">Order before 8pm for next day shipping</li>
  </ul>
</a>