{{ 'delivery-bar.css' | asset_url | stylesheet_tag }}

<a href="/pages/delivery" is="delivery-bar">
  <ul>
    <div class="icon">
      <img
        src="{{ 'icon-delivery.svg' | asset_url }}"
        alt=""
        loading="lazy"
        width="24"
        height="24"
      />
    </div>
    <li>Worldwide delivery</li>
    <div class="dot"></div>
    <li>Free within the UK</li>
    <div class="dot"></div>
    <li>Order before 8pm for next day shipping</li>
  </ul>
</a>