{{ 'gap.css' | asset_url | stylesheet_tag }}

<div is="gap">
</div>

{% schema %}
{
  "name": "Gap",
  "settings": [
    {
      "type": "header",
      "content": "Editing",
      "info": "You can edit this section within the theme settings"
    },
    {
      "type": "range",
      "id": "size",
      "label": "Gap size",
      "min": 2,
      "max": 3,
      "step": 1,
      "default": 2
    },
  ],
  "presets": [
    {
      "name": "Gap"
    }
  ]
}
{% endschema %}
