{{ 'gap.css' | asset_url | stylesheet_tag }}

{% case section.settings.size %}
  {% when 1 %}
    {%- assign gap_size = 'small' -%}
  {% when 2 %}
    {%- assign gap_size = 'medium' -%}
  {% when 3 %}
    {%- assign gap_size = 'large' -%}
{% endcase %}

<div is="gap" class="{{ gap_size }}">
</div>

{% schema %}
{
  "name": "Gap",
  "settings": [
    {
      "type": "range",
      "id": "size",
      "label": "Gap size",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2
    }
  ],
  "presets": [
    {
      "name": "Gap"
    }
  ]
}
{% endschema %}
