{{ 'hero-event.css' | asset_url | stylesheet_tag }}

<section is="hero-event" style="background-image: url({{ section.settings.image | img_url: 'master' }})">
  <div>
    {% render 'hero-content', section: section %}
  </div>
</section>

{% schema %}
{
  "name": "Hero Event",
  "settings": [
    {
    "id": "heading",
    "type": "text",
    "label": "Heading",
    "default": "Add a title"
    },
    {
      "id": "text",
      "type": "text",
      "label": "Text",
      "default": "Add descriptive text"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
