{{ 'hero-event.css' | asset_url | stylesheet_tag }}

{% comment %} style="background-image: url({{ section.settings.image | img_url: 'master' }})" {% endcomment %}
<section is="hero-event">
  <div>
    <img
      src="{{ section.settings.image | img_url: 'master' }}"
      alt=""
      is="in-action"
      loading="lazy"
      width="1200"
      height="800"
      />
    {% render 'hero-content', section: section %}
  </div>
</section>

{% schema %}
{
  "name": "Hero Event",
  "settings": [
    {
    "id": "heading",
    "type": "text",
    "label": "Heading",
    "default": "Add a title"
    },
    {
      "id": "text",
      "type": "text",
      "label": "Text",
      "default": "Add descriptive text"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Hero Event"
    }
  ]
}
{% endschema %}
