{{ 'page-content.css' | asset_url | stylesheet_tag }}

<section is="section">

  <div is="page-content">
    {{ page.content }}
  </div>

</section>

{% schema %}
{
  "name": "Page content",
  "settings": [
  ],
  "presets": [
    {
      "name": "Page content"
    }
  ]
}
{% endschema %}
