{{ 'product-sorting.js' | asset_url | script_tag }}
{{ 'product-promos.css' | asset_url | stylesheet_tag }}

<section is="section">
  
  {% render 'section-header', title: section.settings.title, text: section.settings.text %}

  {%- assign collection = collections[section.settings.collection] -%}

  {% if section.settings.show_sorting_options %}
    <div class="product-sorting">
      <select id="sort-by" class="sort-by-select">
        <option value="created-descending">Newest</option>
        <option value="price-ascending">Price: Low to High</option>
        <option value="price-descending">Price: High to Low</option>
        <option value="title-ascending">Alphabetical: A-Z</option>
        <option value="title-descending">Alphabetical: Z-A</option>
      </select>
    </div>
  {% endif %}

  {% assign products = collection.products %}

  {%- assign product_limit = section.settings.grid | times: section.settings.rows -%}

  <div is="product-promos" class="product-promos-container">
    <div class="product-grid">
      {% for product in products limit: product_limit %}
        {%- if product.available -%}
          {% render 'product-promo', product: product %}
        {%- endif -%}
      {% endfor %}
    </div>
  </div>

  {% render 'signpost', section: section, button: true, center: true %}

</section>

{% schema %}
{
  "name": "Product promos",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Add a title"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "info": "Optional"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "grid",
      "label": "Products per row",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "rows",
      "label": "Rows",
      "min": 1,
      "max": 20,
      "step": 1,
      "default": 2
    },
    {
      "type": "checkbox",
      "id": "show_signpost_link",
      "label": "Show 'View all' link",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_sorting_options",
      "label": "Show Sort options",
      "default": false
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text",
      "default": "View all"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    }
  ],
  "presets": [
    {
      "name": "Product promos"
    }
  ]
}
{% endschema %}
