{{ 'reviews.css' | asset_url | stylesheet_tag }}



<section is="section" class="reviews-container">
  <h5>Customer reviews</h5>

  <div is="reviews">
    <div>
      {% for review in metaobjects.review.values %}
        {% render 'review', review: review %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Reviews Customers",
  "presets": [
    {
      "name": "Reviews Customers",
    }
  ]
}
{% endschema %}
