{% include 'rich-text' %}

{% schema %}
{
  "name": "Rich text",
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Add rich text to the page.</p>"
    },
    {
      "type": "checkbox",
      "id": "show_colour",
      "label": "Show background colour",
      "default": false
    }
  ]
}
{% endschema %}
