<section is="rich-text" {% if section.settings.show_colour == true %}class="alternative"{% endif %}>
  {%- if section.settings.heading != blank -%}
    <h2>{{ section.settings.heading }}</h2>
  {%- endif -%}
  {%- if section.settings.text != blank -%}
    {{ section.settings.text }}
  {%- endif -%}
</section>

{% schema %}
{
  "name": "Rich text",
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "Add a title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Add rich text to the page.</p>"
    },
    {
      "type": "checkbox",
      "id": "show_colour",
      "label": "Show background colour",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Rich text"
    }
  ]
}
{% endschema %}
