{{ 'split-hero.css' | asset_url | stylesheet_tag }}

{% comment %} style="background-image: url({{ section.settings.image | image_url: width: 2048 }})" {% endcomment %}
<section is="split-hero">
  <div is="main-promo">
    {%- render 'split-hero-promo',
      promo_link_url: section.settings.link_url_a,
      promo_image: section.settings.image_a,
      promo_background_image: section.settings.background_image_a,
      promo_bg_color: section.settings.bg_color_a,
      promo_text_color: section.settings.text_color_a,
      promo_subtitle: section.settings.subtitle_a,
      promo_heading: section.settings.heading_a,
      promo_link_text: section.settings.link_text_a
    -%}
  </div>
  <div is="sub-promo">
    {%- render 'split-hero-promo',
      promo_link_url: section.settings.link_url_b,
      promo_image: section.settings.image_b,
      promo_background_image: section.settings.background_image_b,
      promo_bg_color: section.settings.bg_color_b,
      promo_text_color: section.settings.text_color_b,
      promo_subtitle: section.settings.subtitle_b,
      promo_heading: section.settings.heading_b,
      promo_link_text: section.settings.link_text_b
    -%}
  </div>
</section>

{% schema %}
{
  "name": "Split Hero",
  "settings": [
    {
      "id": "heading_a",
      "type": "text",
      "label": "Main promo heading",
      "default": "Add a title"
    },
    {
      "id": "subtitle_a",
      "type": "text",
      "label": "Main promo subtitle",
      "default": "Add a subtitle"
    },
    {
      "type": "text",
      "id": "link_text_a",
      "label": "Main promo link text"
    },
    {
      "type": "url",
      "id": "link_url_a",
      "label": "Main promo link URL"
    },
    {
      "id": "image_a",
      "type": "image_picker",
      "label": "Main promo Image"
    },
    {
      "id": "background_image_a",
      "type": "image_picker",
      "label": "Main bg Image"
    },
    {
      "type": "color",
      "id": "bg_color_a",
      "label": "Main promo background color",
      "default": "#EBEDFA"
    },
    {
      "type": "color",
      "id": "text_color_a",
      "label": "Main promo text color",
      "default": "#0A122A"
    },
    {
      "id": "heading_b",
      "type": "text",
      "label": "Sub promo heading",
      "default": "Add a title"
    },
    {
      "id": "subtitle_b",
      "type": "text",
      "label": "Sub promo subtitle",
      "default": "Add a subtitle"
    },
    {
      "type": "text",
      "id": "link_text_b",
      "label": "Sub promo link text"
    },
    {
      "type": "url",
      "id": "link_url_b",
      "label": "Main promo link URL"
    },
    {
      "id": "image_b",
      "type": "image_picker",
      "label": "Sub promo image"
    },
    {
      "id": "background_image_b",
      "type": "image_picker",
      "label": "Sub bg Image"
    },
    {
      "type": "color",
      "id": "bg_color_b",
      "label": "Sub promo background color",
      "default": "#EBEDFA"
    },
    {
      "type": "color",
      "id": "text_color_b",
      "label": "Sub promo text color",
      "default": "#0A122A"
    }
  ],
  "presets": [
    {
      "name": "Split Hero"
    }
  ]
}
{% endschema %}
