button, label,
legend {
  font-weight: 500;
}

form {
  margin-bottom: 2.4rem;
  margin-top: 2.4rem;
}

fieldset {
  border: none;
  max-width: 100%;
  padding: 0;
}
fieldset > div {
  grid-gap: 1.25rem;
  display: grid;
  position: relative;
}
fieldset > div > div {
  position: relative;
}

legend {
  color: #0A122A;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

label,
legend {
  font-family: inherit;
}

label {
  display: block;
  font-size: inherit;
  margin-bottom: 0.48em;
  margin-top: 0.48em;
}
label > input {
  margin-right: 0.5rem;
}

input,
select,
textarea {
  background-color: transparent;
  border: 1px solid rgba(10, 18, 42, 0.12);
  border-radius: 0.125rem;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  max-width: 100%;
  padding: 0.5rem;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  color: hsl(0deg, 0%, 43.5%);
}

audio:focus,
input:focus,
select:focus,
textarea:focus,
video:focus {
  box-shadow: 0 0 0 3px #FFC700;
  outline: 0;
}

input[type=radio] {
  opacity: 0;
  position: absolute;
}
input[type=radio]:before {
  border: 1px solid rgba(10, 18, 42, 0.12);
  border-radius: 0.125rem;
  content: "";
  height: 1rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 1rem;
  z-index: 1;
}
input[type=radio]:after {
  border-bottom-width: 0;
  border-bottom: 0.25rem solid rgba(10, 18, 42, 0.12);
  border-left-width: 0;
  border-left: 0.25rem solid rgba(10, 18, 42, 0.12);
  border-right: 0 solid rgba(10, 18, 42, 0.12);
  border-top: 0 solid transparent;
  content: "";
  height: 0.25rem;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0.25rem;
  transform: rotate(-45deg) scale(0.75) translate(0.125rem);
  width: 0.75rem;
}
input[type=radio] + label {
  cursor: pointer;
  padding-left: 2rem;
  position: relative;
}
input[type=radio] + label:before {
  box-shadow: 0 0 0 3px #0A122A;
}
input[type=radio] + label:after {
  opacity: 100%;
}

input[type=radio] + label:before {
  border-radius: 50%;
}

input[type=radio] + label:after {
  background: hsl(236deg, 25.9%, 47.6%);
  border: 1px solid hsl(236deg, 25.9%, 47.6%);
  border-radius: 50%;
  height: 1rem;
  top: 0;
  transform: scale(0.6);
  width: 1rem;
}

input[type=checkbox]:focus + label:before,
input[type=radio]:focus + label:before {
  box-shadow: 0 0 0 3px #FFC700;
}

input[type=range] {
  appearance: none;
  border: none;
  box-shadow: none;
  padding: 0;
}

input[type=range]::-webkit-slider-runnable-track, input[type=range]::-moz-range-track {
  background: hsl(240deg, 23.6%, 65.1%);
  cursor: pointer;
  height: 0.125rem;
}

input[type=range]::-moz-range-thumb, input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: hsl(236deg, 25.9%, 47.6%);
  border: 1px solid hsl(236deg, 25.9%, 47.6%);
  border-radius: 50%;
  cursor: pointer;
  height: 1rem;
  margin-top: -0.5rem;
  transform: translateY(1px);
  width: 1rem;
}

input[type=range]:focus::-webkit-slider-thumb, input[type=range]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 4px hsl(38deg, 100%, 86.9%);
}

input[type=range]:focus {
  outline: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, hsl(236deg, 25.9%, 47.6%) 50%), linear-gradient(135deg, hsl(236deg, 25.9%, 47.6%) 50%, transparent 50%);
  background-position: calc(100% - 15px) 1rem, calc(100% - 10px) 1rem;
  background-repeat: no-repeat;
  background-size: 5px 5px, 5px 5px;
}

button {
  background-color: hsl(39deg, 95.1%, 59.8%);
  border: none;
  border-radius: 0.25rem;
  box-shadow: inset 0 -2px 0 #FBFAF8;
  color: hsl(230deg, 49.3%, 28.6%);
  font-family: inherit;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 0.5rem 1.25rem;
}
button:hover {
  background-color: #FFC700;
}
button:active {
  box-shadow: none;
  position: relative;
  top: 2px;
  transition-duration: 0s;
}
button:focus-visible {
  background-color: hsl(230deg, 46.6%, 34.5%);
}

a,
button,
summary {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
a:focus,
button:focus,
summary:focus {
  outline: none;
}
a:focus-visible,
button:focus-visible,
summary:focus-visible {
  background-color: hsl(38deg, 100%, 86.9%);
  outline: none;
}

a:focus-visible,
summary:focus-visible {
  box-shadow: 0 0 0 4px hsl(38deg, 100%, 86.9%);
  color: hsl(230deg, 46.6%, 34.5%);
}

a {
  color: hsl(209deg, 61.2%, 39.4%);
}
a:hover {
  text-decoration: none;
}
a:active {
  color: hsl(340deg, 68.5%, 43.5%);
}
a:active:focus-visible {
  color: hsl(340deg, 68.5%, 43.5%);
}
a:focus {
  color: hsl(209deg, 61.2%, 39.4%);
}
a:visited {
  color: hsl(281deg, 24.7%, 43.7%);
}
a:visited:focus-visible {
  color: hsl(281deg, 24.7%, 43.7%);
}

::-moz-selection {
  background-color: hsl(39deg, 95.1%, 59.8%);
  color: hsl(230deg, 49.3%, 28.6%);
}

::selection {
  background-color: hsl(39deg, 95.1%, 59.8%);
  color: hsl(230deg, 49.3%, 28.6%);
}

aside[is=about-brand] {
  background-color: hsl(38deg, 100%, 93.1%);
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  padding: 3rem 1rem 4rem;
}
aside[is=about-brand] > div {
  grid-gap: 1rem;
  background-color: hsl(36deg, 100%, 97.1%);
  border-radius: 0.5rem;
  box-shadow: 0 2px 0 hsl(0deg, 0%, 31%);
  display: grid;
  padding: 1rem;
}
aside[is=about-brand] > div > div {
  order: 2;
  padding: 0.75rem;
}
aside[is=about-brand] > div > div h4, aside[is=about-brand] > div > div h5 {
  display: flex;
  margin-top: 0;
}
aside[is=about-brand] > div > div h4:before, aside[is=about-brand] > div > div h5:before {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  display: block;
  height: 2rem;
  margin-bottom: -0.5rem;
  margin-right: 0.75rem;
  width: 2rem;
}
aside[is=about-brand] > div > img {
  display: block;
  order: 1;
}
aside[is=about-brand] > div:first-of-type > div > h4:before,
aside[is=about-brand] > div:first-of-type > div > h5:before {
  background-image: url("data:image/svg+xmlcharset=utf-8,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 42 43'%3E%3Cpath d='M5.8 1A4.8 4.8 0 0 0 1 5.8v30.4C1 38.8 3 41 5.6 41h30.8a4.8 4.8 0 0 0 4.6-4.8V5.8C41 3.1 38.9 1 36.2 1H5.8z' fill='%23FFFBF5' stroke='%23EBAA3B' stroke-width='2'/%3E%3Cpath d='m30.4 20.1.8-3.8c.2-1 .3-1 .7-1.9.4-.7 1.2-1.2 1.8-1.3h1c.2.2.4.4.4.6l-.1.8-.2 1.6a11.7 11.7 0 0 0 0 2.3l-.9 6.9c-.1 1.6-.6 3.6-.6 3.6s-1 4.3-4.6 6.2h-.1a7.7 7.7 0 0 1-7.7-.6l-1.4-1-1.1-1s0 .1 0 0c-.7-.4-1.3-1-1.9-1.7-1-1-.6-1-2-2-2-1.5-5.8-3.4-7.7-4.8-1.1-.9-.8-1.7-.7-2 .4-.7 1.3-.9 1.8-.7l6.6 3.4h.6c.2-.2.3-.6 0-.8C13.8 22 11 19 9.9 17.7 8.6 16.3 8.2 16 7.5 15c0 0-1-1.4 0-2.2.9-.6 1.6-.3 2.3.4l5.3 5.4 2.4 2.2c.1.2.4.2.6.1.3-.1.4-.5.2-.7a1006 1006 0 0 1-5.6-11.7c0-.6.1-1 .6-1.3l.6-.3c1-.2 1.5.3 2 1l5.7 10.4a.6.6 0 0 0 1.2-.3c-.3-3.2-.8-7-1-10.1v-1c.3-.5.6-.9 1.2-1 .8 0 1.3.4 1.6 1.3.6 2.5 1.1 5.6 1.6 8.1l.8 3.1.8 2.3a1.3 1.3 0 0 0 2.6-.2V20z' fill='%23FFFBF5' stroke='%23EBAA3B' stroke-width='2'/%3E%3C/svg%3E");
}
aside[is=about-brand] > div:nth-of-type(2) > div > h4:before,
aside[is=about-brand] > div:nth-of-type(2) > div > h5:before {
  background-image: url("data:image/svg+xmlcharset=utf-8,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 42 43'%3E%3Cpath d='M36.2 1H5.8A4.8 4.8 0 0 0 1 5.8v30.4C1 38.9 3.1 41 5.8 41h30.4c2.7 0 4.8-2.1 4.8-4.8V5.8C41 3.2 38.9 1 36.2 1zm-2.8 23h-.1a2.7 2.7 0 0 1-2.6 3.5h-.1a2.7 2.7 0 0 1-4 1.6 2.7 2.7 0 0 1-2.4 1V33l.7 4.2h-7.4L18 33v-3.7a2.7 2.7 0 0 1-4-1.8 2.7 2.7 0 0 1-4.1-2.7l-.1-.1a2.7 2.7 0 0 1-1.4-4.5 2.7 2.7 0 0 1 .9-4.9l-.1-.8c0-.9.4-1.7 1-2.2-.2-.4-.3-1-.3-1.5a2.7 2.7 0 0 1 4.2-2.2c.3-1 1.3-1.8 2.5-1.8h.1a2.7 2.7 0 0 1 4.8-.9A2.7 2.7 0 0 1 26.3 7 2.7 2.7 0 0 1 30 9.2h.7a2.7 2.7 0 0 1 2 4.3l.6 1.2a2.7 2.7 0 0 1 1.1 4.1 2.7 2.7 0 0 1-1 5.2z' fill='%23FFFBF5'/%3E%3Cpath d='M33.4 24h-.1a2.7 2.7 0 0 1-2.6 3.5h-.1a2.7 2.7 0 0 1-4 1.6 2.7 2.7 0 0 1-2.4 1V33l.7 4.2h-7.4L18 33v-3.7a2.7 2.7 0 0 1-4-1.8 2.7 2.7 0 0 1-4.1-2.7l-.1-.1a2.7 2.7 0 0 1-1.4-4.5 2.7 2.7 0 0 1 .9-4.9l-.1-.8c0-.9.4-1.7 1-2.2-.2-.4-.3-1-.3-1.5a2.7 2.7 0 0 1 4.2-2.2c.3-1 1.3-1.8 2.5-1.8h.1a2.7 2.7 0 0 1 4.8-.9A2.7 2.7 0 0 1 26.3 7 2.7 2.7 0 0 1 30 9.2h.7a2.7 2.7 0 0 1 2 4.3l.6 1.2a2.7 2.7 0 0 1 1.1 4.1 2.7 2.7 0 0 1-1 5.2m2.8-23H5.8A4.8 4.8 0 0 0 1 5.8v30.4C1 38.9 3.1 41 5.8 41h30.4c2.7 0 4.8-2.1 4.8-4.8V5.8C41 3.2 38.9 1 36.2 1z' stroke='%2300A650' stroke-width='2'/%3E%3Cpath d='M21.3 16c0-.2.1-.2.2-.3a4 4 0 0 1 1-1.2 3.4 3.4 0 0 1 2.1-.6 3.6 3.6 0 0 1 2.6 1.4l.5.9.2.7v1.5a6 6 0 0 1-.7 2.2 9.3 9.3 0 0 1-1.8 2.6l-.7.6-.7.5-.8.7-.4.3a22.7 22.7 0 0 1-.8.5l-.5.3-.2.2-.7-.5a21.1 21.1 0 0 1-2.5-1.9l-.2-.1-.4-.4-.5-.5-.4-.5a10.5 10.5 0 0 1-1.7-3l-.2-.7V16.9c.1-.4.2-.8.5-1.2a3.3 3.3 0 0 1 1.6-1.5 3.8 3.8 0 0 1 1.5-.3 3.3 3.3 0 0 1 1.9.7 3.8 3.8 0 0 1 1.1 1.3z' fill='%23FFFBF5' stroke='%2300A650' stroke-width='2'/%3E%3C/svg%3E");
}
aside[is=about-brand] > div:nth-of-type(3) > div > h4:before,
aside[is=about-brand] > div:nth-of-type(3) > div > h5:before {
  background-image: url("data:image/svg+xmlcharset=utf-8,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Crect x='1' y='1' width='38' height='38' rx='4' fill='%23FFFBF5' stroke='%2328377E' stroke-width='2'/%3E%3Cpath d='M20.4 25.7h2c.2 0 .1.2.1.2-.5 1.8-2 1.8-2 1.8s-1.7 0-2.2-1.8l.1-.2h2z' fill='%2328377E'/%3E%3Cpath d='M26.3 28.3h-.1s-1.6 1.6-5.9 1.6c-4.2 0-5.8-1.5-5.8-1.5l-.1-.1s-4-2.6-3.5-9.7c0 0 0-.8.3-1.8 1.5.5 10.2 4 12.6-3.2 0 0 1 4.8 5.5 3.2l.4 1.8c.4 7-3.3 9.6-3.4 9.7zm4.7-9.8s-.4-9.7-10.7-9.7C10 8.8 9.6 18.5 9.6 18.5 9.1 26 13 29 13.6 29.3c.3.3 2.2 1.9 6.7 1.9s6.3-1.6 6.7-1.9c.5-.4 4.4-3.4 4-10.8z' fill='%2328377E'/%3E%3Cpath d='M16.9 21.8c-1-1-2-.1-2.1 0l-.5-.6c.5-.6 1.8-1.3 3 0l-.4.6zm9 0c-.9-1-1.8-.1-2 0l-.5-.6c.6-.6 2-1.3 3.2 0l-.6.6z' fill='%2328377E'/%3E%3C/svg%3E");
}
aside[is=about-brand] > p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media screen and (min-width: 400px) {
  aside[is=about-brand] {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    padding-left: 2rem;
    padding-right: 2rem;
  }
  aside[is=about-brand] > div:first-of-type {
    grid-gap: 2.5rem;
    grid-column: 1/span 2;
    grid-row: 1;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 1.5rem;
    place-items: center;
  }
  aside[is=about-brand] > p {
    grid-column: 1/span 2;
  }
}