aside[is="about-brand"] {
  & > div {
    max-width: var(--content-max);
    margin: 0 auto;
    display: grid;
    gap: var(--space-4);
    grid-template-columns: 1fr;

    & > div > div {
      padding-top: var(--space-2);

      & h4 {
        font-family: var(--font-heading);
        font-weight: var(--weight-bold);
        font-size: var(--text-heading-3);
        line-height: var(--leading-tight);
        letter-spacing: var(--tracking-heading);
        margin-bottom: var(--space-1);
      }

      & p {
        font-size: var(--text-body-3);
        line-height: var(--leading-snug);
      }
    }
  }

  @media (width >= 550px) {
    & > div {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
