aside[is=about-brand] > div {
  max-width: 140rem;
  margin: 0 auto;
  margin: 0 3.2rem;
}

aside[is=about-brand] > div > div > div h4 {
  font-family: Sofia Pro, "NotoSans", "NotoSansJP", "NotoSansKR", sans-serif;
  font-weight: 700;
}

aside[is=about-brand] > div > div > div p {
  font-family: Sofia Pro, "NotoSans", "NotoSansJP", "NotoSansKR", sans-serif;
  font-weight: 400;
}

aside[is=about-brand] > div > div > div p {
  font-weight: 400;
}

aside[is=about-brand] > div > div > div h4 {
  font-size: 2.7rem;
  line-height: 115%;
  letter-spacing: -0.54px;
}
@media screen and (min-width: 1200px) {
  aside[is=about-brand] > div > div > div h4 {
    font-size: 3.4rem;
    line-height: 115%;
    letter-spacing: -0.68px;
  }
}

aside[is=about-brand] > div > div > div p {
  font-size: 1.7rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1200px) {
  aside[is=about-brand] > div > div > div p {
    font-size: 1.8rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

aside[is=about-brand] > div {
  display: grid;
  gap: 3.2rem;
  grid-template-columns: 1fr;
}
aside[is=about-brand] > div > div > div {
  padding-top: 1.6rem;
}
aside[is=about-brand] > div > div > div h4 {
  margin-bottom: 0.8rem;
}
@media screen and (min-width: 500px) {
  aside[is=about-brand] > div {
    grid-template-columns: repeat(3, 1fr);
  }
}