div[is=accordian] {
  max-width: 140rem;
  margin: 0 auto;
}

article[is=accordian-item] > div, article[is=accordian-item] h4 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

article[is=accordian-item] > div, article[is=accordian-item] h4 {
  font-weight: 400;
}

article[is=accordian-item].active h4 {
  font-weight: 700;
}

article[is=accordian-item] h4 {
  font-size: 2.2rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1200px) {
  article[is=accordian-item] h4 {
    font-size: 2.6rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

article[is=accordian-item] > div {
  font-size: 1.9rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1200px) {
  article[is=accordian-item] > div {
    font-size: 2.1rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

article[is=accordian-item] {
  background: #F2F2F2;
  border-radius: 3.2rem;
  overflow: hidden;
  cursor: pointer;
  padding: 0 2.4rem;
  margin-bottom: 0.8rem;
}
article[is=accordian-item] header {
  padding: 2.4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article[is=accordian-item] .minus {
  display: none;
  background: white !important;
}
article[is=accordian-item] .plus {
  display: block;
}
article[is=accordian-item] > div {
  padding: 0 0 2.4rem 0;
  display: none;
}
article[is=accordian-item] h4 {
  color: #2D3788;
}
article[is=accordian-item].active {
  background: #2D3788;
}
article[is=accordian-item].active h4, article[is=accordian-item].active p, article[is=accordian-item].active div {
  color: white;
}
article[is=accordian-item].active div {
  display: block;
}
article[is=accordian-item].active .minus {
  display: block;
}
article[is=accordian-item].active .plus {
  display: none;
}

div[is=accordian] {
  grid-gap: 3.2rem;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
@media screen and (min-width: 700px) {
  div[is=accordian] {
    grid-template-columns: minmax(16rem, 1fr) 1fr;
  }
}
div[is=accordian] #accordian-content {
  width: 100%;
}
div[is=accordian] #accordian-images {
  display: none;
}
@media screen and (min-width: 700px) {
  div[is=accordian] #accordian-images {
    display: block;
  }
  div[is=accordian] #accordian-images img {
    display: none;
  }
  div[is=accordian] #accordian-images img.active {
    display: block;
  }
}