@container product-list-container (width > 350px) {}
@container product-list-container (width > 770px) {}
@container product-list-container (width > 1080px) {}
@container product-list-container (width > 1200px) {}

.button-loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2D3788 url(loading-b.gif) no-repeat center center;
  background-size: 24px 24px;
}

a[is=outline-button], article[is=award] a[is=product-link] span, article[is=award] a[is=product-link] p, article[is=award] div[is=content] div[is=main-content] p, article[is=award] div[is=content] div[is=main-content] h4, article[is=award] div[is=content] div[is=main-content] h2 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

a[is=outline-button], article[is=award] a[is=product-link] span, article[is=award] a[is=product-link] p, article[is=award] div[is=content] div[is=main-content] p, article[is=award] div[is=content] div[is=main-content] h4, article[is=award] div[is=content] div[is=main-content] h2 {
  font-weight: 400;
}

article[is=award] a[is=product-link] p, article[is=award] div[is=content] div[is=main-content] p {
  font-weight: 500;
}

article[is=award] div[is=content] div[is=main-content] h4, a[is=outline-button] {
  font-weight: 700;
}

article[is=award] div[is=content] div[is=main-content] h2 {
  font-size: 1.9rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  article[is=award] div[is=content] div[is=main-content] h2 {
    font-size: 2.1rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

article[is=award] a[is=product-link] span, article[is=award] a[is=product-link] p, article[is=award] div[is=content] div[is=main-content] p, article[is=award] div[is=content] div[is=main-content] h4 {
  font-size: 1.7rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  article[is=award] a[is=product-link] span, article[is=award] a[is=product-link] p, article[is=award] div[is=content] div[is=main-content] p, article[is=award] div[is=content] div[is=main-content] h4 {
    font-size: 1.8rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  a[is=outline-button] {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  color: #2D3788;
  height: 3.2rem;
  white-space: nowrap;
  border: 1px solid #EBEDFA;
}
a[is=outline-button]:hover {
  background: #EBEDFA;
}

article[is=award] {
  position: relative;
}
article[is=award] div[is=gallery] img {
  display: block;
  border: 1px solid #E7E9EF;
}
article[is=award] div[is=content] div[is=main-content] {
  padding: 1.2rem 0 0.8rem;
}
article[is=award] div[is=content] div[is=main-content] h2 {
  line-height: 115%;
  margin: 0.8rem 0 0.8rem 0;
}
article[is=award] div[is=content] div[is=main-content] p {
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  padding: 0.4rem 1.2rem;
  border-radius: 500px;
  background-color: #EBEDFA;
  display: inline;
}
article[is=award] div[is=content] div[is=main-content] p.winner {
  background-color: #2D3788;
  color: #FFFFFF;
  border: 3px solid #FAB638;
}
article[is=award] a[is=product-link] {
  cursor: pointer !important;
  padding: 0.8rem 0.8rem;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  border: 1px solid #E7E9EF;
  border-radius: 1.6rem;
}
article[is=award] a[is=product-link]:hover {
  border: 1px solid #2D3788;
}
article[is=award] a[is=product-link] p {
  margin-bottom: 0.4rem;
  width: 100%;
}
article[is=award] a[is=product-link] span {
  display: block;
}
article[is=award] a[is=product-link] img {
  width: 40%;
  max-width: 12rem;
  height: auto;
  border-radius: 1.6rem;
  margin-right: 1.2rem;
}