section[is=banner] > a > div {
  max-width: 140rem;
  margin: 0 auto;
}

section[is=banner] .banner-content h2, section[is=banner] .banner-content h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
}

section[is=banner] .banner-content h2 {
  font-weight: 900;
}

section[is=banner] .banner-content h3 {
  font-size: 3.2rem;
  line-height: 115%;
  letter-spacing: -0.64px;
}
@media screen and (min-width: 1080px) {
  section[is=banner] .banner-content h3 {
    font-size: 4.2rem;
    line-height: 115%;
    letter-spacing: -0.84px;
  }
}

section[is=banner] .banner-content h2 {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
@media screen and (min-width: 1080px) {
  section[is=banner] .banner-content h2 {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 1.5px;
  }
}

section[is=banner] {
  position: relative;
}
section[is=banner] div[is=hero-content] {
  position: relative;
  padding: 2.4rem;
}
@media screen and (min-width: 770px) {
  section[is=banner] div[is=hero-content] {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1080px) {
  section[is=banner] div[is=hero-content] {
    background: #FFFFFF;
    display: block;
    width: 50%;
    padding: 3.2rem;
    max-width: 56rem;
    border-radius: 3.2rem;
  }
}
section[is=banner] > a {
  display: block;
}
section[is=banner] .banner-content {
  position: relative;
  overflow: hidden;
  background: #F3F3F7;
  border-radius: 3.2rem;
}
section[is=banner] .banner-content div[is=button] {
  margin-top: 2.4rem;
}
@media screen and (min-width: 1080px) {
  section[is=banner] .banner-content {
    background: none;
    border-radius: 3.2rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    aspect-ratio: 2/1;
    padding: 4rem;
  }
  section[is=banner] .banner-content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}