section[is="big-banner"] {
  position: relative;
  transition: scale var(--duration-slow);

  &.swapped {
    @media (width >= 770px) {
      & div[is="hero-content"] {
        order: -1;
      }
    }
  }

  &:hover {
    scale: 1.02;
  }

  & div[is="hero-content"] {
    padding: var(--space-3);
    max-width: 48rem;
  }

  & > a {
    display: block;

    & > div {
      max-width: var(--content-max);
      margin: 0 auto;
    }
  }

  & .banner-content {
    background: var(--color-green-1000);
    border-radius: var(--radius-l);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: block;

    & h2, & h3, & p {
      color: var(--color-white);
    }

    & h2[is="label"] {
      margin-bottom: var(--space-0-5);
    }

    & p {
      font-size: var(--text-body-2);
      line-height: var(--leading-body);
      margin-top: var(--space-2);
    }

    & div[is="button"] {
      margin-top: var(--space-3);

      & .icon {
        margin-inline-start: var(--space-2);
      }
    }

    & img {
      position: relative;
      border-radius: 0;
    }

    @media (width >= 770px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-items: center;
    }
  }
}
