section[is=big-banner] > a > div {
  max-width: 140rem;
  margin: 0 auto;
}

section[is=big-banner] .banner-content h2, section[is=big-banner] .banner-content h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
}

section[is=big-banner] .banner-content h2 {
  font-weight: 900;
}

section[is=big-banner] .banner-content h3 {
  font-size: 2.7rem;
  line-height: 115%;
  letter-spacing: -0.54px;
}
@media screen and (min-width: 1080px) {
  section[is=big-banner] .banner-content h3 {
    font-size: 3.4rem;
    line-height: 115%;
    letter-spacing: -0.68px;
  }
}

section[is=big-banner] .banner-content h2 {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
@media screen and (min-width: 1080px) {
  section[is=big-banner] .banner-content h2 {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 1.5px;
  }
}

section[is=big-banner] {
  position: relative;
  margin: 3.2rem 0;
  transition: scale 0.5s;
}
section[is=big-banner]:hover {
  scale: 1.02;
}
section[is=big-banner] div[is=hero-content] {
  padding: 2.4rem;
  max-width: 48rem;
}
section[is=big-banner] > a {
  display: block;
}
section[is=big-banner] .banner-content {
  background: #2D8872;
  border-radius: 4rem;
  overflow: hidden;
  display: block;
}
section[is=big-banner] .banner-content h2, section[is=big-banner] .banner-content h3, section[is=big-banner] .banner-content p {
  color: #FFFFFF;
}
section[is=big-banner] .banner-content h2 {
  margin-bottom: 0.4rem;
}
section[is=big-banner] .banner-content div[is=button] {
  margin-top: 2.4rem;
}
section[is=big-banner] .banner-content img {
  position: relative;
  border-radius: 0;
}
@media screen and (min-width: 770px) {
  section[is=big-banner] .banner-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
}