ul[is=breadcrumbs] {
  display: flex;
  flex-wrap: wrap;
  padding: 1.6rem 2.4rem;
  position: relative;
  z-index: 2;
  background: #1b2454;
}
ul[is=breadcrumbs] a {
  color: white;
}
ul[is=breadcrumbs] li {
  display: flex;
  justify-content: center;
  list-style: none;
}
ul[is=breadcrumbs] li:before {
  background-color: white;
  opacity: 0.5;
  -webkit-clip-path: polygon(0 3%, 2% 0, 22% 0, 30% 2%, 100% 48%, 100% 52%, 30% 98%, 22% 100%, 2% 100%, 0 97%, 70% 52%, 70% 48%);
  clip-path: polygon(0 3%, 2% 0, 22% 0, 30% 2%, 100% 48%, 100% 52%, 30% 98%, 22% 100%, 2% 100%, 0 97%, 70% 52%, 70% 48%);
  content: "";
  height: 0.75rem;
  margin-right: 0.5rem;
  position: relative;
  transform: rotate(180deg) translateY(-0.125rem);
  width: 0.5rem;
}
ul[is=breadcrumbs] li:not(:last-of-type) {
  display: none;
}
@media screen and (min-width: 400px) {
  ul[is=breadcrumbs] > li:first-of-type:before {
    display: none;
  }
  ul[is=breadcrumbs] > li:not(:last-of-type) {
    display: flex;
  }
  ul[is=breadcrumbs] > li:not(:first-of-type):before {
    margin-left: 0.5rem;
    transform: rotate(0deg) translateY(0.25rem);
  }
}