div[is=cart] > div {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

div[is=cart] div[is=checkout] button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: units(2);
  padding: 0 3.2rem;
  color: white;
  background-color: #2D3788;
  height: 5.6rem;
}
div[is=cart] div[is=checkout] button:hover {
  background-color: #333f9b;
}
div[is=cart] div[is=checkout] button:active {
  box-shadow: 1px 2px 0 0 #FAB638;
  background-color: #272f75;
}

button[is=command] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: units(1);
  padding: 0 1.6rem;
  color: #0A122A;
  background-color: #F6D18A;
  height: 4rem;
}
button[is=command]:hover {
  background-color: #fbbf51;
}
button[is=command]:active {
  background-color: #f9ad1f;
}

div[is=cart] div[is=checkout] header h3, div[is=cart] h1 {
  font-family: Sofia Pro, "NotoSans", "NotoSansJP", "NotoSansKR", sans-serif;
  font-weight: 700;
}

button[is=command], div[is=cart] > div, div[is=cart] div[is=checkout] button, div[is=cart] div[is=checkout] header p {
  font-family: Sofia Pro, "NotoSans", "NotoSansJP", "NotoSansKR", sans-serif;
  font-weight: 400;
}

button[is=command], div[is=cart] > div, div[is=cart] div[is=checkout] button, div[is=cart] div[is=checkout] header p {
  font-weight: 400;
}

button[is=command], div[is=cart] div[is=checkout] button {
  font-weight: 700;
}

div[is=cart] h1 {
  font-size: 3.2rem;
  line-height: 115%;
  letter-spacing: -0.64px;
}
@media screen and (min-width: 1200px) {
  div[is=cart] h1 {
    font-size: 4.8rem;
    line-height: 115%;
    letter-spacing: -0.96px;
  }
}

div[is=cart] div[is=checkout] header h3 {
  font-size: 2.4rem;
  line-height: 115%;
  letter-spacing: -0.48px;
}
@media screen and (min-width: 1200px) {
  div[is=cart] div[is=checkout] header h3 {
    font-size: 2.8rem;
    line-height: 115%;
    letter-spacing: -0.56px;
  }
}

div[is=cart] div[is=checkout] header p {
  font-size: 2.4rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1200px) {
  div[is=cart] div[is=checkout] header p {
    font-size: 2.8rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

div[is=cart] > div, div[is=cart] div[is=checkout] button {
  font-size: 1.7rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1200px) {
  div[is=cart] > div, div[is=cart] div[is=checkout] button {
    font-size: 1.8rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

button[is=command] {
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1200px) {
  button[is=command] {
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

div[is=cart] {
  padding: 3.2rem 0;
}
div[is=cart] div[is=signpost] {
  margin-top: 3.2rem;
}
div[is=cart] h1 {
  margin-bottom: 1.6rem;
}
div[is=cart] form {
  grid-row-gap: 2rem;
  display: grid;
  grid-template-columns: 1fr;
}
div[is=cart] form table {
  width: 100%;
}
div[is=cart] form th {
  border-top: 2px solid #0A122A;
  background: #F3F0EB;
  padding-left: 0.8rem;
}
div[is=cart] form td {
  padding: 0.8rem 0;
  padding-left: 0.8rem;
}
div[is=cart] form img {
  display: block;
  margin: 0.8rem 0.8rem 0.8rem 0;
}
div[is=cart] form label {
  display: none;
}
div[is=cart] form input {
  width: 8rem;
}
div[is=cart] div[is=checkout] {
  border-top: 2px solid #0A122A;
  padding: 1.6rem 0 0 0;
}
div[is=cart] div[is=checkout] header {
  display: flex;
  justify-content: space-between;
}
div[is=cart] div[is=checkout] button {
  margin: 1.6rem 0;
  border-radius: 1.6rem;
  width: 100%;
}
@media screen and (min-width: 500px) {
  div[is=cart] form {
    grid-column-gap: 6.4rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    align-items: flex-start;
  }
  div[is=cart] form > * {
    grid-column: 1;
  }
  div[is=cart] form div[is=checkout] {
    grid-column: 2;
    grid-row: 1;
    position: sticky;
    top: 1rem;
  }
  div[is=cart] form table a {
    align-items: center;
    display: flex;
  }
}