.button-loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2D3788 url(loading.gif) no-repeat center center;
  background-size: 24px 24px;
}

a[is=outline-button] {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

a[is=outline-button] {
  font-weight: 400;
}

a[is=outline-button] {
  font-weight: 700;
}

a[is=outline-button] {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  a[is=outline-button] {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  color: #2D3788;
  height: 3.2rem;
  white-space: nowrap;
  border: 1px solid #EBEDFA;
}
a[is=outline-button]:hover {
  background: #EBEDFA;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E7E9EF;
}
.cart-item .inactive {
  opacity: 0.4;
}
.cart-item .image {
  margin: 0.8rem 0.8rem 0.8rem 0;
}
.cart-item .image img {
  border-radius: 1.6rem;
}
.cart-item .info {
  flex: 1;
}
@media screen and (min-width: 1080px) {
  .cart-item .info {
    display: flex;
    align-items: center;
  }
}
.cart-item .title {
  flex: 1;
}
.cart-item .meta {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 740px) {
  .cart-item .meta {
    flex: 0.7;
  }
}
.cart-item .price {
  text-align: left;
  flex: 1;
  padding: 0.8rem;
}
@media screen and (min-width: 740px) {
  .cart-item .price {
    padding: 1.6rem;
  }
}
.cart-item .quantity {
  display: flex;
}
.cart-item label {
  display: none;
}
.cart-item .item-button {
  background: none;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.cart-item .item-button .icon {
  display: block;
  width: 2rem;
  height: 2rem;
  mask-size: contain;
  -webkit-mask-size: contain;
  background-color: #1D203F;
}
.cart-item .plus, .cart-item .minus {
  border: 1px solid #E7E9EF;
  border-radius: 0.8rem;
}
.cart-item .plus {
  border-radius: 0 0.8rem 0.8rem 0;
  border-left: none;
}
.cart-item .minus {
  border-radius: 0.8rem 0 0 0.8rem;
  border-right: none;
}
.cart-item input {
  width: 3.2rem;
  height: 3.2rem;
  padding: 0;
  pointer-events: none;
  text-align: center;
  border-radius: 0;
}