.collection-promo {
  flex: 1;
  min-width: 0;
  text-align: center;
  background: var(--color-blue-100);
  border-radius: var(--radius-s);
  height: 100%;
  transition: scale var(--duration-slow);

  &:hover {
    scale: 1.05;
  }

  & img {
    border-radius: var(--radius-m);
  }

  & > div {
    padding: var(--space-1-5) var(--space-2);
  }

  & h3 {
    font-size: var(--text-body-3);
    font-weight: var(--weight-medium);
    line-height: var(--leading-snug);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & p {
    font-size: var(--text-body-4);
    line-height: var(--leading-snug);
  }

  @media (max-width: 549px) {
    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media (width >= 770px) {
    width: var(--space-20);

    & > div {
      padding: var(--space-1-5) var(--space-2-5);
    }
  }
}
