.collections ul {
  max-width: 140rem;
  margin: 0 auto;
}

.collections ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 1.6rem;
}
@media screen and (min-width: 770px) {
  .collections ul {
    grid-gap: 4rem;
  }
}
.collections ul li {
  list-style: none;
}