@container product-list-container (width > 350px) {}
@container product-list-container (width > 770px) {}
@container product-list-container (width > 1080px) {}
@container product-list-container (width > 1200px) {}

.collections ul {
  max-width: 152rem;
  margin: 0 auto;
}

.button-loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2D3788 url(loading-b.gif) no-repeat center center;
  background-size: 24px 24px;
}

a[is=outline-button] {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

a[is=outline-button] {
  font-weight: 400;
}

a[is=outline-button] {
  font-weight: 700;
}

a[is=outline-button] {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  a[is=outline-button] {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  color: #2D3788;
  height: 3.2rem;
  white-space: nowrap;
  border: 1px solid #EBEDFA;
}
a[is=outline-button]:hover {
  background: #EBEDFA;
}

.collections ul {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}
@media screen and (min-width: 740px) {
  .collections ul {
    gap: 1.6rem;
  }
}
.collections ul li {
  list-style: none;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}