.collection-promo h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
}

.collection-promo p {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

.collection-promo p {
  font-weight: 400;
}

.collection-promo h3 {
  font-weight: 900;
}

.collection-promo h3 {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
@media screen and (min-width: 1080px) {
  .collection-promo h3 {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 1.5px;
  }
}

.collection-promo p {
  font-size: 1.7rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  .collection-promo p {
    font-size: 1.8rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

.collection-promo {
  display: block;
  text-align: center;
  background: #EBEDFA;
  border-radius: 1.6rem;
  height: 100%;
  transition: scale 0.5s;
}
.collection-promo:hover {
  scale: 1.05;
}
.collection-promo img {
  border-radius: 3.2rem;
}
.collection-promo > div {
  padding: 2.4rem;
}
.collection-promo h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}