.collections ul {
  max-width: 140rem;
  margin: 0 auto;
  margin: 0 3.2rem;
}

.collections ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 3.2rem;
}
.collections ul li {
  list-style: none;
}