.collections ul {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.collections ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2.4rem;
}
.collections ul li {
  list-style: none;
}