div[is="contact"] {
  & .contact-intro {
    & > div {
      padding: var(--space-3);
      border: 1px solid var(--color-blue-100);
      border-radius: var(--radius-s);
    }

    & h2 {
      font-family: var(--font-heading);
      font-weight: var(--weight-bold);
      font-size: var(--text-heading-3);
      line-height: var(--leading-tight);
      letter-spacing: var(--tracking-heading);
      margin-bottom: var(--space-2);
    }

    & h3 {
      font-size: var(--text-body-1);
      font-weight: var(--weight-medium);
      line-height: var(--leading-body);
    }

    & p {
      font-size: var(--text-body-2);
      line-height: var(--leading-body);
    }

    @media (max-width: 769px) {
      & div {
        margin-bottom: var(--space-5);
      }
    }

    @media (width >= 770px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: var(--space-5);
    }
  }

  & .contact-main {
    margin-top: var(--space-8);

    & .contact-form {
      padding: var(--space-5);
      background: var(--color-blue-100);
      border-radius: 1.2rem;
    }

    & .studio img {
      width: 100%;
      margin-bottom: var(--space-2);
      border-radius: 1.2rem;
    }

    & .intro {
      margin-bottom: var(--space-3);
    }

    & h2 {
      font-family: var(--font-heading);
      font-weight: var(--weight-bold);
      font-size: var(--text-heading-3);
      line-height: var(--leading-tight);
      letter-spacing: var(--tracking-heading);
      margin-bottom: var(--space-2);
    }

    & p {
      font-size: var(--text-body-2);
      line-height: var(--leading-body);
    }

    & a {
      display: inline-flex;
      align-items: center;
      font-size: var(--text-body-2);
      font-weight: var(--weight-bold);
      color: var(--color-grey-1000);

      &::after {
        content: "";
        display: block;
        width: var(--space-3);
        height: var(--space-3);
        background: var(--color-grey-1000);
        mask-image: url(icon-arrow-right.svg);
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: contain;
        margin-inline-start: var(--space-1);
      }

      &:hover {
        text-decoration: underline;
      }
    }

    & label {
      font-size: var(--text-body-3);
      font-weight: var(--weight-medium);
    }

    & input {
      margin-bottom: var(--space-1);
    }

    & input[type="text"],
    & input[type="email"],
    & textarea {
      width: 100%;
      background: var(--color-white);
    }

    & input[type="submit"] {
      margin-top: var(--space-2);
    }

    @media (width >= 770px) {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      gap: var(--space-5);
    }

    @media (max-width: 769px) {
      & .studio {
        margin-top: var(--space-5);
      }
    }
  }
}
