article[is="content-block-highlight"] {
  background: var(--color-blue-1000);
  border-radius: var(--radius-m);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 32rem;

  &:nth-child(2n) {
    flex-direction: column-reverse;
  }

  & img {
    border-radius: 0;
  }

  & div {
    padding: var(--space-3);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h4, & p {
      color: var(--color-white);
    }

    & h4 {
      font-family: var(--font-heading);
      font-weight: var(--weight-bold);
      font-size: var(--text-heading-3);
      line-height: var(--leading-tight);
      letter-spacing: var(--tracking-heading);
    }

    & p {
      font-size: var(--text-body-2);
      line-height: var(--leading-body);
    }
  }
}

div[is="content-blocks-highlight"] {
  padding-bottom: var(--space-4);

  & > div {
    max-width: var(--content-max);
    margin: 0 auto;
    display: grid;
    gap: var(--space-4);
    justify-content: center;
    align-content: center;
    justify-items: center;
  }

  @media (width >= 550px) {
    & > div {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (width >= 1080px) {
    & > div {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
