div[is=content-blocks-highlight] > div {
  max-width: 140rem;
  margin: 0 auto;
}

article[is=content-block-highlight] div h4 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
}

article[is=content-block-highlight] div p {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

article[is=content-block-highlight] div p {
  font-weight: 400;
}

article[is=content-block-highlight] div h4 {
  font-size: 2.7rem;
  line-height: 115%;
  letter-spacing: -0.54px;
}
@media screen and (min-width: 1080px) {
  article[is=content-block-highlight] div h4 {
    font-size: 3.4rem;
    line-height: 115%;
    letter-spacing: -0.68px;
  }
}

article[is=content-block-highlight] div p {
  font-size: 1.9rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  article[is=content-block-highlight] div p {
    font-size: 2.1rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

article[is=content-block-highlight] {
  background: #2D3788;
  border-radius: 3.2rem;
  overflow: hidden;
  display: grid;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 28rem;
}
article[is=content-block-highlight]:nth-child(2n) img {
  grid-row: 2;
}
article[is=content-block-highlight] img {
  border-radius: 0;
}
article[is=content-block-highlight] div {
  padding: 2.4rem;
}
article[is=content-block-highlight] div h4, article[is=content-block-highlight] div p {
  color: white;
}
div[is=content-blocks-highlight] {
  padding-bottom: 3.2rem;
}
div[is=content-blocks-highlight] > div {
  grid-gap: 3.2rem;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
@media screen and (min-width: 550px) {
  div[is=content-blocks-highlight] > div {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 770px) {
  div[is=content-blocks-highlight] > div {
    grid-template-columns: repeat(4, 1fr);
  }
}