@container product-list-container (width > 550px) {}
@container product-list-container (width > 770px) {}
@container product-list-container (width > 1080px) {}
@container product-list-container (width > 1200px) {}

.button-loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2D3788 url(loading-b.gif) no-repeat center center;
  background-size: 24px 24px;
}

div[is=delivery] header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  color: #2D3788;
  cursor: pointer;
  user-select: none;
}
div[is=delivery] header span {
  display: flex;
  align-items: center;
}
div[is=delivery] header span .icon {
  margin-right: 0.8rem;
}

a[is=outline-button], div[is=delivery] header, div[is=delivery], div[is=delivery] header span, div[is=delivery] div[is=delivery-content] h4, div[is=delivery] div[is=delivery-content] h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

a[is=outline-button], div[is=delivery] header, div[is=delivery], div[is=delivery] header span, div[is=delivery] div[is=delivery-content] h4, div[is=delivery] div[is=delivery-content] h3 {
  font-weight: 400;
}

div[is=delivery] div[is=delivery-content] h4, div[is=delivery] div[is=delivery-content] h3, a[is=outline-button], div[is=delivery] header span {
  font-weight: 700;
}

div[is=delivery] div[is=delivery-content] h4, div[is=delivery] div[is=delivery-content] h3 {
  font-size: 2.2rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  div[is=delivery] div[is=delivery-content] h4, div[is=delivery] div[is=delivery-content] h3 {
    font-size: 2.6rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

div[is=delivery] header, div[is=delivery], div[is=delivery] header span {
  font-size: 1.7rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  div[is=delivery] header, div[is=delivery], div[is=delivery] header span {
    font-size: 1.8rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  a[is=outline-button] {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  color: #2D3788;
  height: 3.2rem;
  white-space: nowrap;
  border: 1px solid #EBEDFA;
}
a[is=outline-button]:hover {
  background: #EBEDFA;
}

div[is=delivery] {
  margin: 0;
  border-radius: 1.6rem;
  max-width: 100%;
  cursor: pointer;
  border: 1px solid #EBEDFA;
}
div[is=delivery]:hover:not(.active) {
  background-color: #EBEDFA;
}
div[is=delivery] div[is=delivery-charges] {
  background: #F3F3F7;
  color: #0A122A;
  border-radius: 1.6rem;
  padding: 2.4rem;
  margin-top: 2.4rem;
}
div[is=delivery] div[is=delivery-content] {
  visibility: hidden;
  height: 0;
}
div[is=delivery] div[is=delivery-content] h3 {
  margin-bottom: 0.8rem;
}
div[is=delivery] div[is=delivery-content] p + h3 {
  margin-top: 3.2rem;
}
div[is=delivery] div[is=delivery-content] h4 {
  margin-bottom: 0.8rem;
}
div[is=delivery] div[is=delivery-content] table {
  width: 100%;
}
div[is=delivery] div[is=delivery-content] table td {
  padding: 0.8rem 0;
  border-color: rgba(10, 18, 42, 0.1);
}
div[is=delivery] div[is=delivery-content] table td:last-child {
  text-align: right;
}
div[is=delivery] div[is=delivery-content] table tr:last-child td {
  border: none;
}
div[is=delivery] header {
  display: flex;
  margin-bottom: 0;
  align-items: center;
  user-select: none;
}
div[is=delivery].active {
  border-radius: 1.6rem;
}
div[is=delivery].active div[is=delivery-content] {
  visibility: visible;
  height: auto;
  padding: 1.6rem 1.6rem 2.4rem 1.6rem;
}