a[is=outline-button], a[is=delivery-bar] ul li, a[is=delivery-bar] div[is=delivery_warning] {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

a[is=outline-button], a[is=delivery-bar] ul li, a[is=delivery-bar] div[is=delivery_warning] {
  font-weight: 400;
}

a[is=delivery-bar] ul li, a[is=outline-button] {
  font-weight: 700;
}

a[is=delivery-bar] div[is=delivery_warning] {
  font-size: 1.9rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  a[is=delivery-bar] div[is=delivery_warning] {
    font-size: 2.1rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

a[is=delivery-bar] ul li {
  font-size: 1.7rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  a[is=delivery-bar] ul li {
    font-size: 1.8rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  font-size: 1.4rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  a[is=outline-button] {
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  color: #2D3788;
  height: 3.2rem;
  white-space: nowrap;
  border: 1px solid #EBEDFA;
}
a[is=outline-button]:hover {
  background: #EBEDFA;
}

a[is=delivery-bar] {
  display: block;
  height: 3.6rem;
  border-bottom: 1px solid #E7E9EF;
  padding: 0 1.6rem;
  position: relative;
  background: white;
}
@media screen and (min-width: 740px) {
  a[is=delivery-bar] {
    height: 4.8rem;
  }
}
a[is=delivery-bar].christmas:before {
  content: "";
  bottom: 0;
  left: 0;
  opacity: 0.35;
  background: url("pattern-bg-4.jpg");
  mix-blend-mode: multiply;
  pointer-events: none;
  z-index: 0;
  position: absolute;
  width: 100%;
  top: 100%;
  height: 80px;
}
@media screen and (max-width: 1080px) {
  a[is=delivery-bar] .not-mobile {
    display: none !important;
  }
}
a[is=delivery-bar] div[is=delivery_warning] {
  background: #fceff3;
  border-radius: 0.8rem;
  padding: 0.8rem;
}
a[is=delivery-bar] ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
a[is=delivery-bar] ul > * {
  margin-right: 1.6rem;
}
@media screen and (min-width: 740px) {
  a[is=delivery-bar] ul > * {
    margin-right: 2.4rem;
  }
}
a[is=delivery-bar] ul .dot {
  display: block;
  width: 0.7rem;
  height: 0.7rem;
  background: #2D3788;
  border-radius: 500px;
}
a[is=delivery-bar] ul li {
  color: #2D3788;
  white-space: nowrap;
}
@media screen and (min-width: 1080px) {
  a[is=delivery-bar] ul li {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 1.5px;
  }
}