p[is=delivery] {
  margin-bottom: 0;
  margin-top: 0;
}
p[is=delivery] a {
  display: flex;
  margin-bottom: 0;
}
p[is=delivery] a svg {
  margin-right: 0.5rem;
}
p[is=delivery].expanded {
  background-color: hsl(146deg, 68.9%, 31.6%);
  border-radius: 0.5rem;
  max-width: 100%;
  padding: 1.5rem 1rem;
  color: hsl(0deg, 0%, 100%);
}
p[is=delivery].expanded a {
  color: hsl(0deg, 0%, 100%);
}
@media screen and (min-width: 400px) {
  p[is=delivery].expanded {
    padding: 2rem;
  }
}