div[is=features] > div {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

div[is=features] > div {
  grid-gap: 2rem;
  display: grid;
  grid-column: auto/span 1;
  grid-row: 3;
  margin-bottom: 0;
  margin-top: 3rem;
}
@media screen and (min-width: 400px) {
  div[is=features] > div {
    grid-template-columns: repeat(2, 1fr);
  }
  div[is=features] > div.one {
    grid-template-columns: repeat(1, 1fr);
  }
  div[is=features] > div.three {
    grid-template-columns: repeat(3, 1fr);
  }
  div[is=features] > div.four {
    grid-template-columns: repeat(2, 1fr);
  }
  div[is=features] > div.five {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 700px) {
  div[is=features] > div.four {
    grid-template-columns: repeat(4, 1fr);
  }
  div[is=features] > div.five {
    grid-template-columns: repeat(5, 1fr);
  }
}