div[is=features] > div {
  max-width: 140rem;
  margin: 0 auto;
}

div[is=features] {
  padding-bottom: 3.2rem;
}
div[is=features] > div {
  grid-gap: 2.4rem;
  display: grid;
  grid-column: auto/span 1;
  grid-row: 3;
  margin-bottom: 0;
}
@media screen and (min-width: 550px) {
  div[is=features] > div {
    grid-template-columns: repeat(2, 1fr);
  }
  div[is=features] > div.one {
    grid-template-columns: repeat(1, 1fr);
  }
  div[is=features] > div.three {
    grid-template-columns: repeat(3, 1fr);
  }
  div[is=features] > div.four {
    grid-template-columns: repeat(2, 1fr);
  }
  div[is=features] > div.five {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 770px) {
  div[is=features] > div.four {
    grid-template-columns: repeat(4, 1fr);
  }
  div[is=features] > div.five {
    grid-template-columns: repeat(5, 1fr);
  }
}