@container product-list-container (width > 350px) {}
@container product-list-container (width > 770px) {}
@container product-list-container (width > 1080px) {}
@container product-list-container (width > 1200px) {}

#gallery-lightbox #close-button {
  box-shadow: 0 1px 4px rgba(10, 18, 42, 0.05);
}

.button-loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2D3788 url(loading-b.gif) no-repeat center center;
  background-size: 24px 24px;
}

a[is=outline-button] {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

a[is=outline-button] {
  font-weight: 400;
}

a[is=outline-button] {
  font-weight: 700;
}

a[is=outline-button] {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  a[is=outline-button] {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  color: #2D3788;
  height: 3.2rem;
  white-space: nowrap;
  border: 1px solid #EBEDFA;
}
a[is=outline-button]:hover {
  background: #EBEDFA;
}

div[is=gallery] {
  position: relative;
}
@media screen and (max-width: 740px) {
  div[is=gallery] > div {
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    margin: 0 -1.6rem 1.6rem -1.6rem;
    padding: 0 2.4rem;
  }
  div[is=gallery] > div * {
    border-radius: 3.2rem;
    display: inline-block;
    max-width: 80vw;
    margin-right: 0.8rem;
  }
}
@media screen and (min-width: 740px) {
  div[is=gallery] > div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.6rem;
  }
}
@media screen and (min-width: 1080px) {
  div[is=gallery] > div {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.6rem;
  }
  div[is=gallery] > div img:first-child {
    grid-column: span 2;
  }
}

#gallery-lightbox {
  position: fixed;
  background: white;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  padding: 1.6rem;
  visibility: hidden;
}
#gallery-lightbox #close-button {
  position: fixed;
  top: 2.4rem;
  right: 2.4rem;
  cursor: pointer;
  background: white;
  border-radius: 0.8rem;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#gallery-lightbox #close-button .icon {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #1D203F;
}
#gallery-lightbox .container {
  max-width: 120rem;
  margin: 0 auto;
}
#gallery-lightbox .container img {
  margin: 0 0 3.2rem 0;
}
@media screen and (min-width: 740px) {
  #gallery-lightbox {
    padding: 6.4rem;
  }
}