@media screen and (max-width: 700px) {
  div[is=gallery] > div {
    white-space: nowrap;
    overflow-x: scroll;
    margin: 0 -2.4rem;
    padding: 0 2.4rem;
  }
  div[is=gallery] > div * {
    border-radius: 1.6rem;
    display: inline-block;
    margin-right: 1.6rem;
  }
}
@media screen and (min-width: 700px) {
  div[is=gallery] > div > div {
    white-space: nowrap;
    overflow-x: scroll;
    height: 20rem;
  }
  div[is=gallery] > div > div img {
    height: 100%;
    width: auto;
  }
  div[is=gallery] > div > div * {
    border-radius: 1.6rem;
    display: inline-block;
    margin-right: 1.6rem;
  }
}