div[is="gap"] {
  height: var(--space-8);

  &.extra-small { height: var(--space-3); }
  &.small       { height: var(--space-5); }
  &.medium      { height: var(--space-8); }
  &.large       { height: var(--space-12); }

  @media (width >= 770px) {
    height: var(--space-12);

    &.extra-small { height: var(--space-4); }
    &.small       { height: var(--space-8); }
    &.medium      { height: var(--space-12); }
    &.large       { height: var(--space-18); }
  }
}
