header[is="header"] {
  align-items: center;
  background-color: var(--color-blue-1000);
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: repeat(2, 1fr);
  position: relative;
  z-index: var(--z-base);

  & > a {
    background-color: var(--color-accent);
    padding: var(--space-0-5);
    z-index: 2;

    &:focus-visible {
      background-color: var(--color-focus);
      box-shadow: none;
    }

    & > svg {
      height: auto;
      max-width: 100%;
    }
  }

  & > nav {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  & > p {
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid var(--color-white-12);
    display: flex;
    grid-column: 2;
    grid-row: 1;
    justify-content: flex-end;
    margin: 0;
    max-width: none;
    white-space: nowrap;
    font-size: var(--text-body-3);
    line-height: var(--leading-snug);

    & > a {
      display: flex;
      align-items: center;
      border-radius: 0.5rem;
      color: var(--color-white);
      font-weight: var(--weight-bold);
      margin-inline-end: 1rem;
      padding: 0.5rem 0.75rem;
      text-decoration: none;

      &:hover {
        background-color: var(--color-blue-1200);
      }

      & .icon {
        background-color: var(--color-white);
        margin-inline-end: 0.5rem;
      }

      & > strong {
        align-items: center;
        background-color: var(--color-accent);
        border-radius: 1rem;
        color: var(--color-blue-1000);
        display: flex;
        font-style: normal;
        height: 2rem;
        justify-content: center;
        margin-inline-end: 0.5rem;
        padding-inline: 0.5rem;
      }
    }
  }

  @media (width >= 770px) {
    grid-template-columns: var(--space-18) 1fr var(--space-24);
    grid-template-rows: auto;

    & > a {
      padding: var(--space-1-5);
    }

    & > nav {
      grid-column: 2;
      grid-row: 1;
    }

    & > p {
      border-bottom: none;
      border-inline-start: 1px solid var(--color-border-on-dark);
      grid-column: 3;

      & > a {
        margin-inline: auto;
      }
    }
  }
}
