section[is=hero] > div {
  max-width: 140rem;
  margin: 0 auto;
}

section[is=hero] > div h1 {
  font-family: Sofia Pro, "NotoSans", "NotoSansJP", "NotoSansKR", sans-serif;
  font-weight: 700;
}

section[is=hero] > div p {
  font-family: Sofia Pro, "NotoSans", "NotoSansJP", "NotoSansKR", sans-serif;
  font-weight: 400;
}

section[is=hero] > div p {
  font-weight: 400;
}

section[is=hero] > div h1 {
  font-size: 3.8rem;
  line-height: 115%;
  letter-spacing: -0.76px;
}
@media screen and (min-width: 1200px) {
  section[is=hero] > div h1 {
    font-size: 5.6rem;
    line-height: 115%;
    letter-spacing: -1.12px;
  }
}

section[is=hero] > div p {
  font-size: 2.2rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1200px) {
  section[is=hero] > div p {
    font-size: 2.6rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

section[is=hero] {
  background-color: #5B5E95;
  position: relative;
}
section[is=hero] > div h1, section[is=hero] > div p {
  color: #FFFFFF;
}
section[is=hero] > div > div {
  position: relative;
  z-index: 2;
}
section[is=hero] > div > img {
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 700px) {
  section[is=hero] > div {
    grid-column-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  section[is=hero] > div img {
    order: 2;
  }
  section[is=hero] > div div {
    order: 1;
  }
  section[is=hero] > div h1 {
    margin-top: 0;
  }
  section[is=hero] > div p {
    margin-bottom: 0;
  }
}