section[is="image-with-text"] {
  & > div {
    max-width: var(--content-max);
    margin: 0 auto;
    background: var(--color-blue-100);
    border-radius: var(--radius-m);
    overflow: hidden;

    & > div {
      max-width: 40rem;
      padding: var(--space-4);
    }
  }

  & h3 {
    font-family: var(--font-heading);
    font-weight: var(--weight-bold);
    font-size: var(--text-heading-2);
    line-height: var(--leading-tight);
    letter-spacing: var(--tracking-heading);
  }

  & h5 {
    font-family: var(--font-heading);
    font-weight: var(--weight-extra-bold);
    font-size: var(--text-overline);
    line-height: var(--leading-tight);
    letter-spacing: var(--tracking-caps);
    text-transform: uppercase;
  }

  & p {
    font-size: var(--text-body-2);
    line-height: var(--leading-body);
  }

  &.last {
    padding-bottom: 4rem;
  }

  & img {
    width: 100%;
  }

  @media (width >= 550px) {
    & > div {
      display: grid;
      gap: 2rem;
      grid-auto-flow: column;
      grid-template-columns: 1.5fr 1fr;
      place-items: center;

      &.swapped {
        grid-template-columns: 1fr 1.5fr;

        & > img  { grid-column: 2; }
        & > div  { grid-column: 1; }
      }
    }
  }
}
