section[is=image-with-text] > div {
  max-width: 100rem;
  margin: 0 auto;
}

section[is=image-with-text] {
  padding: 1.5rem 1rem;
}
section[is=image-with-text] > div > div {
  max-width: 40rem;
}
section[is=image-with-text] > div > div > p:last-child {
  margin-top: 2em;
}
section[is=image-with-text].last {
  padding-bottom: 4rem;
}
@media screen and (min-width: 400px) {
  section[is=image-with-text] > div {
    grid-column-gap: 2rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    place-items: center;
  }
  section[is=image-with-text] > div.swapped > img {
    grid-column: 2;
  }
  section[is=image-with-text] > div.swapped > div {
    grid-column: 1;
  }
}