section[is=intro] > div {
  max-width: 140rem;
  margin: 0 auto;
}

section[is=intro] h1 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
}

section[is=intro] p {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

section[is=intro] p {
  font-weight: 400;
}

section[is=intro] h1 {
  font-size: 3.8rem;
  line-height: 115%;
  letter-spacing: -0.76px;
}
@media screen and (min-width: 1080px) {
  section[is=intro] h1 {
    font-size: 5.6rem;
    line-height: 115%;
    letter-spacing: -1.12px;
  }
}

section[is=intro] p {
  font-size: 1.9rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  section[is=intro] p {
    font-size: 2.1rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

section[is=intro] {
  padding: 3.2rem 0;
}
section[is=intro] img {
  margin-bottom: 2.4rem;
}
section[is=intro] p {
  margin: 1.6rem 0 3.2rem 0;
}
@media screen and (min-width: 550px) {
  section[is=intro] {
    padding: 4rem 5.6rem;
  }
  section[is=intro] > div > div {
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
    text-align: center;
  }
  section[is=intro] > div > div h1, section[is=intro] > div > div p {
    margin-left: auto;
    margin-right: auto;
  }
  section[is=intro].with-image > div {
    grid-column-gap: 3.2rem;
    display: grid;
    grid-auto-flow: column;
    grid-row: auto;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  section[is=intro].with-image > div > div {
    grid-column: 2;
    max-width: 48rem;
    text-align: left;
  }
  section[is=intro].with-image > div > img {
    grid-column: 1;
  }
}