section[is="intro"] {
  position: relative;
  padding: var(--space-4) 0;

  & > div {
    max-width: var(--content-max);
    margin: 0 auto;
  }

  & img {
    margin-bottom: var(--space-3);
  }

  & h1 {
    font-family: var(--font-heading);
    font-weight: var(--weight-bold);
    font-size: var(--text-heading-1);
    line-height: var(--leading-tight);
    letter-spacing: var(--tracking-heading);
  }

  & p {
    font-size: var(--text-body-1);
    line-height: var(--leading-body);
    margin: var(--space-2) 0 var(--space-4);
  }

  & a {
    font-size: var(--text-body-1);
    font-weight: var(--weight-bold);
    line-height: var(--leading-body);
  }

  @media (width >= 550px) {
    padding: var(--space-5) var(--space-7);

    & > div > div {
      margin-inline: auto;
      max-width: 60rem;
      text-align: center;

      & h1, & p {
        margin-inline: auto;
      }
    }

    &.with-image > div {
      display: grid;
      gap: var(--space-4);
      grid-auto-flow: column;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;

      & > div {
        grid-column: 2;
        max-width: 48rem;
        text-align: start;
      }

      & > img {
        grid-column: 1;
      }
    }
  }
}
