div[is="linked-files"] {
  & > ul {
    max-width: 72rem;
    margin: auto;

    & li {
      border-top: 1px solid var(--color-border);
      height: 100%;
      overflow: hidden;

      &:hover {
        background-color: var(--color-blue-100);
        color: var(--color-blue-1000);

        & .download-icon {
          background-color: var(--color-blue-1000);
          color: var(--color-white);

          &::before {
            background: var(--color-white);
          }
        }
      }

      & a {
        height: 100%;
        display: flex;

        & img {
          width: 10rem;
          display: none;
          border-radius: var(--radius-s);
        }

        & .content {
          flex: 1;
          padding-block: var(--space-2);
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        & p {
          font-size: var(--text-body-2);
          line-height: var(--leading-body);
        }

        & .download-icon {
          color: var(--color-blue-1000);
          font-size: var(--text-body-3);
          font-weight: var(--weight-bold);
          display: flex;
          align-items: center;
          border-radius: var(--radius-s);
          padding: var(--space-1) var(--space-1-5);

          &::before {
            content: "";
            display: block;
            width: var(--space-3);
            height: var(--space-3);
            position: relative;
            background: var(--color-blue-1000);
            mask-image: url(icon-download.svg);
            mask-position: center;
            mask-repeat: no-repeat;
            mask-size: contain;
          }
        }

        @media (width >= 770px) {
          & img {
            display: block;
          }

          & .image {
            padding: var(--space-1);
          }

          & .content {
            padding-inline-start: var(--space-2);
            padding-inline-end: var(--space-3);
          }
        }
      }
    }
  }
}
