section[is=logos] {
  padding: 3rem 1rem;
}
section[is=logos] > :first-child {
  margin-top: 0;
}
section[is=logos] > :last-child {
  margin-bottom: 0;
}
section[is=logos] > p:last-child {
  margin-top: 2rem;
}
section[is=logos] > ul {
  grid-gap: 1rem;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  list-style: none;
  margin-top: 2rem;
  padding-left: 0;
}
section[is=logos] > ul > li {
  background: hsl(0deg, 0%, 100%);
  border-radius: 0.5rem;
  display: grid;
  padding: 1rem;
  place-items: center;
}
section[is=logos] > ul > li > span {
  display: none;
}
section[is=logos].no-top-padding {
  padding-top: 0;
}
@media screen and (min-width: 400px) {
  section[is=logos] {
    padding: 5rem 2rem;
  }
  section[is=logos] h2,
section[is=logos] h3,
section[is=logos] p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  section[is=logos] P:last-child {
    margin-top: 3rem;
  }
}