section[is=logos] > div {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

section[is=logos] > div ul {
  grid-gap: 1rem;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  list-style: none;
  margin-top: 2rem;
  padding-left: 0;
}
section[is=logos] > div ul li {
  background: hsl(0deg, 0%, 100%);
  border-radius: 0.5rem;
  display: grid;
  padding: 1rem;
  place-items: center;
}
section[is=logos] > div ul li span {
  display: none;
}
section[is=logos].no-top-padding {
  padding-top: 0;
}
@media screen and (min-width: 400px) {
  section[is=logos] h2,
section[is=logos] h3,
section[is=logos] p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  section[is=logos] P:last-child {
    margin-top: 3rem;
  }
}