section[is=logos] > div {
  max-width: 140rem;
  margin: 0 auto;
}

section[is=logos] > div header h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
}

section[is=logos] > div header p {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

section[is=logos] > div header p {
  font-weight: 400;
}

section[is=logos] > div header h3 {
  font-size: 3.2rem;
  line-height: 115%;
  letter-spacing: -0.64px;
}
@media screen and (min-width: 1200px) {
  section[is=logos] > div header h3 {
    font-size: 4.2rem;
    line-height: 115%;
    letter-spacing: -0.84px;
  }
}

section[is=logos] > div header p {
  font-size: 1.9rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1200px) {
  section[is=logos] > div header p {
    font-size: 2.1rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

section[is=logos] > div header {
  width: 100%;
  max-width: 40rem;
}
section[is=logos] ul {
  width: 100%;
  grid-gap: 0.8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  padding-left: 0;
}
section[is=logos] li {
  background: #FFFFFF;
  border-radius: 0.4rem;
  display: grid;
  padding: 0.8rem;
  place-items: center;
}
section[is=logos] li span {
  display: none;
}
section[is=logos].no-top-padding {
  padding-top: 0;
}
@media screen and (min-width: 500px) {
  section[is=logos] > div {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3.2rem;
    place-items: center;
  }
  section[is=logos] li {
    padding: 2.4rem;
  }
  section[is=logos].swapped ul {
    grid-column: 2;
  }
  section[is=logos].swapped header {
    grid-column: 1;
  }
}