@container product-list-container (width > 550px) {}
@container product-list-container (width > 770px) {}
@container product-list-container (width > 1080px) {}
@container product-list-container (width > 1200px) {}

.button-loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2D3788 url(loading-b.gif) no-repeat center center;
  background-size: 24px 24px;
}

nav[is=menu] > ul > li .dropdown h4 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
}

a[is=outline-button], nav[is=menu] > ul > li .dropdown li, nav[is=menu] > ul > li > a {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

a[is=outline-button], nav[is=menu] > ul > li .dropdown li, nav[is=menu] > ul > li > a {
  font-weight: 400;
}

nav[is=menu] > ul > li > a, a[is=outline-button] {
  font-weight: 700;
}

nav[is=menu] > ul > li .dropdown h4 {
  font-weight: 900;
}

nav[is=menu] > ul > li .dropdown h4 {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
@media screen and (min-width: 1080px) {
  nav[is=menu] > ul > li .dropdown h4 {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 1.5px;
  }
}

nav[is=menu] > ul > li > a {
  font-size: 1.9rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  nav[is=menu] > ul > li > a {
    font-size: 2.1rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

nav[is=menu] > ul > li .dropdown li {
  font-size: 1.7rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  nav[is=menu] > ul > li .dropdown li {
    font-size: 1.8rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  a[is=outline-button] {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  color: #2D3788;
  height: 3.2rem;
  white-space: nowrap;
  border: 1px solid #EBEDFA;
}
a[is=outline-button]:hover {
  background: #EBEDFA;
}

nav[is=menu] {
  height: 100%;
}
nav[is=menu] > ul {
  display: flex;
  height: 100%;
  justify-content: center;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
nav[is=menu] > ul > li {
  align-items: center;
  display: flex;
  height: 100%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  position: relative;
}
nav[is=menu] > ul > li .dropdown {
  display: none;
  position: absolute;
  top: 6.4rem;
  background: white;
  padding: 2rem 2.4rem;
  border-radius: 1.6rem;
  box-shadow: 0px 1px 4px rgba(10, 18, 42, 0.1), 0px 8px 24px rgba(10, 18, 42, 0.12);
}
nav[is=menu] > ul > li .dropdown li {
  width: 24rem;
  padding: 0.4rem 0;
  color: #19226B;
  opacity: 0.7;
}
nav[is=menu] > ul > li .dropdown li:hover {
  opacity: 1;
}
nav[is=menu] > ul > li .dropdown .divider {
  margin: 0.8rem 0;
  height: 0.1rem;
  background: #E7E9EF;
}
nav[is=menu] > ul > li .dropdown h4 {
  color: #41495E;
  margin: 1.6rem 0 0.8rem 0;
}
@media screen and (min-width: 740px) {
  nav[is=menu] > ul > li:hover .dropdown {
    display: block;
  }
}
nav[is=menu] > ul > li > a {
  border-radius: 0.4rem;
  color: #FFFFFF;
  display: block;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
}
nav[is=menu] > ul > li > a:hover {
  background-color: #19226B;
}
nav[is=menu] > ul > li > a .dropdown {
  display: none;
}
nav[is=menu] > ul > li.on {
  box-shadow: inset 0 -6px 0 0 #FAB638;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
nav[is=menu] > ul > li.on > a {
  padding-left: 0;
  padding-right: 0;
}
nav[is=menu] > ul > li.on > a:hover {
  background-color: #2D3788;
}
@media screen and (min-width: 550px) {
  nav[is=menu] > ul > li.on {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
}
@media screen and (min-width: 740px) {
  nav[is=menu] > ul > li > a {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  nav[is=menu] > ul > li.on {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }
}