div[is=page-features] > div {
  max-width: 140rem;
  margin: 0 auto;
}

.button-loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2D3788 url(loading.gif) no-repeat center center;
  background-size: 24px 24px;
}

a[is=page-feature] h4, a[is=page-feature] h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
}

a[is=outline-button], a[is=page-feature] p, a[is=page-feature] p[is=text-button] {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

a[is=outline-button], a[is=page-feature] p, a[is=page-feature] p[is=text-button] {
  font-weight: 400;
}

a[is=page-feature] p[is=text-button], a[is=outline-button], a[is=page-feature] p[is=text-button] {
  font-weight: 700;
}

a[is=page-feature] h4 {
  font-weight: 900;
}

a[is=page-feature] h3 {
  font-size: 2.7rem;
  line-height: 115%;
  letter-spacing: -0.54px;
}
@media screen and (min-width: 1080px) {
  a[is=page-feature] h3 {
    font-size: 3.4rem;
    line-height: 115%;
    letter-spacing: -0.68px;
  }
}

a[is=page-feature] h4 {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
@media screen and (min-width: 1080px) {
  a[is=page-feature] h4 {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 1.5px;
  }
}

a[is=page-feature] p[is=text-button] {
  font-size: 1.9rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  a[is=page-feature] p[is=text-button] {
    font-size: 2.1rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

a[is=page-feature] p {
  font-size: 1.7rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  a[is=page-feature] p {
    font-size: 1.8rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  a[is=outline-button] {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  color: #2D3788;
  height: 3.2rem;
  white-space: nowrap;
  border: 1px solid #EBEDFA;
}
a[is=outline-button]:hover {
  background: #EBEDFA;
}

a[is=page-feature] {
  background: #FFFFFF;
  border-radius: 3.2rem;
  overflow: hidden;
  transition: all 0.5s;
}
a[is=page-feature] h4 {
  margin-bottom: 0.4rem;
}
a[is=page-feature] p[is=text-button] {
  margin-top: 0.8rem;
}
a[is=page-feature]:hover {
  scale: 1.03;
}
a[is=page-feature]:hover:nth-child(1) div[is=content] {
  scale: 1.05;
}
a[is=page-feature] div[is=image] {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 20rem;
  border-radius: 1.6rem;
}
a[is=page-feature]:nth-child(1) p[is=text-button] {
  color: #1D203F;
}
a[is=page-feature]:nth-child(1) p[is=text-button]:after {
  background: #1D203F;
}
a[is=page-feature]:nth-child(1) article {
  background: #EBEDFA;
}
a[is=page-feature]:nth-child(1) div[is=content] {
  padding: 2.4rem;
  transition: all 0.5s;
}
@media screen and (min-width: 740px) {
  a[is=page-feature]:nth-child(1) article {
    position: relative;
    background: none;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 4rem;
  }
  a[is=page-feature]:nth-child(1) div[is=image] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
  }
  a[is=page-feature]:nth-child(1) div[is=content] {
    background: white;
    position: relative;
    border-radius: 3.2rem;
    padding: 4rem;
    max-width: 80%;
  }
}
a[is=page-feature]:nth-child(2), a[is=page-feature]:nth-child(3) {
  padding: 2.4rem;
}
a[is=page-feature]:nth-child(2) h4, a[is=page-feature]:nth-child(2) h3, a[is=page-feature]:nth-child(2) a, a[is=page-feature]:nth-child(3) h4, a[is=page-feature]:nth-child(3) h3, a[is=page-feature]:nth-child(3) a {
  color: white;
}
@media screen and (min-width: 740px) {
  a[is=page-feature]:nth-child(2), a[is=page-feature]:nth-child(3) {
    padding: 4rem;
  }
}
a[is=page-feature]:nth-child(2) {
  background: #0C7489;
}
a[is=page-feature]:nth-child(3) {
  background: #2D3788;
}

div[is=page-features] > div {
  grid-gap: 4rem;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
@media screen and (min-width: 740px) {
  div[is=page-features] > div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  div[is=page-features] > div a[is=page-feature]:first-child {
    grid-row: span 2;
  }
  div[is=page-features] > div a[is=page-feature]:nth-child(2) {
    padding: 4rem;
  }
  div[is=page-features] > div a[is=page-feature]:nth-child(3) {
    background: #2D3788;
  }
}