div[is=page-features] > div {
  max-width: 140rem;
  margin: 0 auto;
}

article[is=page-feature] div h4, article[is=page-feature] div h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
}

article[is=page-feature] div p {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

article[is=page-feature] div p {
  font-weight: 400;
}

article[is=page-feature] div h4 {
  font-weight: 900;
}

article[is=page-feature] div h3 {
  font-size: 2.7rem;
  line-height: 115%;
  letter-spacing: -0.54px;
}
@media screen and (min-width: 1200px) {
  article[is=page-feature] div h3 {
    font-size: 3.4rem;
    line-height: 115%;
    letter-spacing: -0.68px;
  }
}

article[is=page-feature] div h4 {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  article[is=page-feature] div h4 {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 1.5px;
  }
}

article[is=page-feature] div p {
  font-size: 1.7rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1200px) {
  article[is=page-feature] div p {
    font-size: 1.8rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

article[is=page-feature] {
  background: #FFFFFF;
  border-radius: 3.2rem;
  overflow: hidden;
}
article[is=page-feature]:nth-child(1) {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: flex-end;
}
article[is=page-feature]:nth-child(1) > div {
  background: white;
  border-radius: 3.2rem;
  padding: 4rem;
  max-width: 80%;
}
article[is=page-feature]:nth-child(2), article[is=page-feature]:nth-child(3) {
  padding: 4rem;
}
article[is=page-feature]:nth-child(2) h4, article[is=page-feature]:nth-child(2) h3, article[is=page-feature]:nth-child(2) a, article[is=page-feature]:nth-child(3) h4, article[is=page-feature]:nth-child(3) h3, article[is=page-feature]:nth-child(3) a {
  color: white;
}
article[is=page-feature]:nth-child(2) {
  background: #0C7489;
}
article[is=page-feature]:nth-child(3) {
  background: #2D3788;
}
article[is=page-feature] img {
  width: 100%;
  border-radius: 3.2rem;
  margin-bottom: 1.6rem;
}
div[is=page-features] {
  padding-bottom: 3.2rem;
}
div[is=page-features] > div {
  grid-gap: 4rem;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
@media screen and (min-width: 700px) {
  div[is=page-features] > div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  div[is=page-features] > div article[is=page-feature]:first-child {
    grid-row: span 2;
  }
  div[is=page-features] > div article[is=page-feature]:nth-child(2) {
    padding: 4rem;
  }
  div[is=page-features] > div article[is=page-feature]:nth-child(3) {
    background: #2D3788;
  }
}