div[is=page] ul {
  padding-left: 3.2rem;
}
div[is=page] ul li {
  list-style-type: disc;
}

div[is=page] h5, div[is=page] h6, div[is=page] h3, div[is=page] .heading-s, div[is=page] h2, div[is=page] .heading-m, div[is=page] h1, div[is=page] .heading-l, div[is=page] ul li {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
}

div[is=page] .body-2, div[is=page] p, div[is=page] ul li, div[is=page] .body-1, div[is=page] .button-text, div[is=page] h4, div[is=page] .body-0 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

div[is=page] .body-2, div[is=page] p, div[is=page] ul li, div[is=page] .body-1, div[is=page] .button-text, div[is=page] h4, div[is=page] .body-0 {
  font-weight: 400;
}

div[is=page] strong, div[is=page] b, div[is=page] .button-text {
  font-weight: 700;
}

div[is=page] h5 {
  font-weight: 900;
}

div[is=page] h1, div[is=page] .heading-l, div[is=page] ul li {
  font-size: 3.8rem;
  line-height: 115%;
  letter-spacing: -0.76px;
}
@media screen and (min-width: 1080px) {
  div[is=page] h1, div[is=page] .heading-l, div[is=page] ul li {
    font-size: 5.6rem;
    line-height: 115%;
    letter-spacing: -1.12px;
  }
}

div[is=page] h2, div[is=page] .heading-m {
  font-size: 3.2rem;
  line-height: 115%;
  letter-spacing: -0.64px;
}
@media screen and (min-width: 1080px) {
  div[is=page] h2, div[is=page] .heading-m {
    font-size: 4.2rem;
    line-height: 115%;
    letter-spacing: -0.84px;
  }
}

div[is=page] h6, div[is=page] h3, div[is=page] .heading-s {
  font-size: 2.7rem;
  line-height: 115%;
  letter-spacing: -0.54px;
}
@media screen and (min-width: 1080px) {
  div[is=page] h6, div[is=page] h3, div[is=page] .heading-s {
    font-size: 3.4rem;
    line-height: 115%;
    letter-spacing: -0.68px;
  }
}

div[is=page] h5 {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
@media screen and (min-width: 1080px) {
  div[is=page] h5 {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 1.5px;
  }
}

div[is=page] h4, div[is=page] .body-0 {
  font-size: 2.2rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  div[is=page] h4, div[is=page] .body-0 {
    font-size: 2.6rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

div[is=page] .body-1, div[is=page] .button-text {
  font-size: 1.9rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  div[is=page] .body-1, div[is=page] .button-text {
    font-size: 2.1rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

div[is=page] .body-2, div[is=page] p, div[is=page] ul li {
  font-size: 1.7rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  div[is=page] .body-2, div[is=page] p, div[is=page] ul li {
    font-size: 1.8rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

div[is=page] ul {
  margin-top: 1.6rem;
}
div[is=page] ul li:not(:first-child) {
  margin-top: 1.6rem;
}
div[is=page] a {
  text-decoration: underline;
}
div[is=page] p + h2, div[is=page] p + h3, div[is=page] ul + h2, div[is=page] ul + h3 {
  margin-top: 3.2rem;
}
div[is=page] p + h4, div[is=page] p + h5, div[is=page] ul + h4, div[is=page] ul + h5 {
  margin-top: 2.4rem;
}
div[is=page] blockquote {
  margin-top: 2.4rem;
  padding: 2.4rem 0 0 0;
}
div[is=page] h1, div[is=page] .heading-l {
  margin-bottom: 3.2rem;
}
div[is=page] h2, div[is=page] .heading-m {
  margin-bottom: 2.4rem;
}
div[is=page] h3, div[is=page] .heading-s {
  margin-bottom: 0.8rem;
}
div[is=page] h4 {
  margin-bottom: 0.8rem;
}
div[is=page] h6 {
  margin-bottom: 0.8rem;
}
div[is=page] hr {
  height: 1;
  border: none;
  background: #E7E9EF;
  margin: 3.2rem 0 2.4rem 0;
}

div[is=page] {
  margin: 3.2rem auto 9.6rem auto;
  max-width: 60rem;
}
div[is=page] img {
  border: 1px solid #E7E9EF;
  margin: 4rem -2.4rem;
  width: calc(100% + 48px);
  max-width: calc(100% + 48px);
}
@media screen and (min-width: 550px) {
  div[is=page] img {
    border-radius: 3.2rem;
    margin: 4rem -4rem;
    border-radius: 3.2rem;
    width: calc(100% + 80px);
    max-width: calc(100% + 80px);
  }
}
@media screen and (min-width: 550px) {
  div[is=page] {
    padding: 3.2rem 3.2rem 4.8rem 3.2rem;
  }
}