@container product-list-container (width > 550px) {}
@container product-list-container (width > 770px) {}
@container product-list-container (width > 1080px) {}
@container product-list-container (width > 1200px) {}

[is=product-promo] form button {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  background: #EBEDFA;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  color: #2D3788;
  height: 3.2rem;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  box-shadow: none;
}
[is=product-promo] form button.blue {
  background: #2D3788;
  color: white;
}
[is=product-promo] form button.blue:active {
  background-color: #272f75;
}
[is=product-promo] form button.blue:before {
  content: "";
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  position: relative;
  background: white;
  -webkit-mask-image: url(icon-arrow-right.svg);
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  margin-left: 0.8rem;
}
[is=product-promo] form button:hover {
  background-color: #2D3788;
  color: white;
}
[is=product-promo] form button:hover .icon {
  background: white;
}
[is=product-promo] form button:active {
  background-color: #d7dbf5;
}

.button-loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2D3788 url(loading-b.gif) no-repeat center center;
  background-size: 24px 24px;
}

[is=product-promo] .new, a[is=outline-button], [is=product-promo] form button, [is=product-promo] .content p, [is=product-promo] .content h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

[is=product-promo] .new, a[is=outline-button], [is=product-promo] form button, [is=product-promo] .content p, [is=product-promo] .content h3 {
  font-weight: 400;
}

[is=product-promo] .content p, [is=product-promo] .new, a[is=outline-button], [is=product-promo] form button {
  font-weight: 700;
}

[is=product-promo] .content p, [is=product-promo] .content h3 {
  font-size: 1.7rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  [is=product-promo] .content p, [is=product-promo] .content h3 {
    font-size: 1.8rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

[is=product-promo] .new, a[is=outline-button], [is=product-promo] form button {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  [is=product-promo] .new, a[is=outline-button], [is=product-promo] form button {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  color: #2D3788;
  height: 3.2rem;
  white-space: nowrap;
  border: 1px solid #EBEDFA;
}
a[is=outline-button]:hover {
  background: #EBEDFA;
}

[is=product-promo] {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  min-height: 0;
  height: 100%;
  position: relative;
}
[is=product-promo] .image {
  transition: all 0.3s ease-in-out;
}
[is=product-promo] .new {
  position: absolute;
  top: -0.8rem;
  left: 1.6rem;
  height: auto;
  padding: 0.2rem 0.8rem;
  background: #86FFAE;
  color: #005B13;
  border-radius: 1.2rem;
}
[is=product-promo] form {
  display: none;
}
@media screen and (min-width: 1080px) {
  [is=product-promo] form {
    display: block;
    position: absolute;
    bottom: 2.8rem;
    right: 0;
  }
}
[is=product-promo]:hover .image {
  scale: 1.05;
}
[is=product-promo]:hover img.image-1 {
  display: none;
}
[is=product-promo]:hover img.image-2 {
  visibility: visible;
  position: relative;
}
[is=product-promo] img {
  border-radius: 0.8rem;
}
[is=product-promo] img.image-1 {
  display: block;
}
[is=product-promo] img.image-2 {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
[is=product-promo] a:hover {
  text-decoration: underline;
}
[is=product-promo] .content {
  position: relative;
  padding-top: 0.8rem;
  padding-bottom: 1.6rem;
}
@media screen and (min-width: 740px) {
  [is=product-promo] .content {
    padding-top: 1.2rem;
  }
}
@media screen and (min-width: 1080px) {
  [is=product-promo] .content h3 {
    overflow: hidden;
    width: calc(100% - 60px);
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
[is=product-promo] .content p {
  color: #41495E;
  margin-top: 0.4rem;
}
[is=product-promo]:focus-visible {
  background: none;
  box-shadow: none;
}
[is=product-promo]:focus-visible h3 {
  background-color: #FAB638;
  box-shadow: 0 0 0 3px focus;
}