div[is=product-promos] > div {
  grid-gap: 1.6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
@media screen and (min-width: 550px) {
  div[is=product-promos] > div {
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  }
}
@media screen and (min-width: 770px) {
  div[is=product-promos] > div {
    grid-gap: 2.4rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1080px) {
  div[is=product-promos] > div {
    grid-gap: 3.2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  div[is=product-promos] > div {
    grid-gap: 4rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

div[is=product-promos] > div {
  max-width: 140rem;
  margin: 0 auto;
}