[is="product-promo"] {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  min-height: 0;
  height: 100%;
  position: relative;

  & .image {
    transition: all var(--duration-normal) var(--ease-standard);
    aspect-ratio: 3 / 2;
    overflow: hidden;
    position: relative;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .new {
    position: absolute;
    top: calc(-1 * var(--space-1));
    left: var(--space-2);
    height: auto;
    padding: 0.2rem 0.8rem;
    font-size: var(--text-body-4);
    font-weight: var(--weight-bold);
    line-height: var(--leading-snug);
    background: var(--color-new-bg);
    color: var(--color-new-text);
    border-radius: 1.2rem;
  }

  & form {
    display: none;

    & button {
      display: inline-flex;
      flex-direction: row-reverse;
      align-items: center;
      background: var(--color-blue-100);
      justify-content: center;
      cursor: pointer;
      font-size: var(--text-body-4);
      font-weight: var(--weight-bold);
      line-height: var(--leading-snug);
      border-radius: var(--radius-xs);
      padding-inline: var(--space-1-5);
      color: var(--color-blue-1000);
      height: var(--btn-height-micro);
      white-space: nowrap;
      box-shadow: none;
      position: relative;
      overflow: hidden;

      &:hover {
        background-color: var(--color-blue-1000);
        color: var(--color-white);
      }
    }

    @media (width >= 1080px) {
      display: block;
      position: absolute;
      bottom: var(--space-3-5);
      right: 0;
    }
  }

  &:hover {
    & .image {
      scale: 1.05;
    }

    & img.image-1 {
      display: none;
    }

    & img.image-2 {
      visibility: visible;
      position: relative;
    }
  }

  & img {
    border-radius: var(--radius-xs);

    &.image-1 {
      display: block;
    }

    &.image-2 {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  & a:hover {
    text-decoration: underline;
  }

  & .content {
    position: relative;
    padding-top: var(--space-1);
    padding-bottom: var(--space-2);

    & h3 {
      font-size: var(--text-body-3);
      font-weight: var(--weight-regular);
      line-height: var(--leading-snug);

      @media (width >= 1080px) {
        overflow: hidden;
        width: calc(100% - 60px);
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    & p {
      font-size: var(--text-body-3);
      font-weight: var(--weight-bold);
      line-height: var(--leading-snug);
      color: var(--color-text-subtle);
      margin-top: var(--space-0-5);
    }

    @media (width >= 770px) {
      padding-top: var(--space-1-5);
    }
  }

  &:focus-visible {
    background: none;
    box-shadow: none;

    & h3 {
      background-color: var(--color-focus);
      box-shadow: 0 0 0 3px var(--color-focus);
    }
  }
}
