div[is=product] > div .description ul {
  padding-left: 3.2rem;
}
div[is=product] > div .description ul li {
  list-style-type: disc;
}

div[is=product] > div {
  max-width: 140rem;
  margin: 0 auto;
}

div[is=product] > div form button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: units(2);
  padding: 0 3.2rem;
  color: white;
  background-color: #2D3788;
  height: 5.6rem;
  white-space: nowrap;
  outline: none;
  border: none;
  transition: scale 0.5s;
}
div[is=product] > div form button:hover {
  scale: 1.05;
}
div[is=product] > div form button:after {
  content: "";
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  background: #FFFFFF;
  -webkit-mask-image: url(icon-arrow-right.svg);
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  margin-left: 0.8rem;
}
div[is=product] > div form button:hover {
  background-color: #333f9b;
}
div[is=product] > div form button:active {
  box-shadow: 1px 2px 0 0 #FAB638;
  background-color: #272f75;
}

div[is=product] > div .meta h4, div[is=product] > div .description h5, div[is=product] > div .meta h3, div[is=product] > div .description h3, div[is=product] > div .description .heading-s, div[is=product] > div .description h2, div[is=product] > div .description .heading-m, div[is=product] > div div[is=product-content] > header h1, div[is=product] > div .description h1, div[is=product] > div .description .heading-l, div[is=product] > div .description ul li {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
}

div[is=product] > div .description .body-2, div[is=product] > div .description h6, div[is=product] > div .description .body-1, div[is=product] > div .description p, div[is=product] > div .description ul li, div[is=product] > div .description .button-text, div[is=product] > div form button, div[is=product] > div div[is=product-content] > header p, div[is=product] > div .description h4, div[is=product] > div .description .body-0 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

div[is=product] > div .description .body-2, div[is=product] > div .description h6, div[is=product] > div .description .body-1, div[is=product] > div .description p, div[is=product] > div .description ul li, div[is=product] > div .description .button-text, div[is=product] > div form button, div[is=product] > div div[is=product-content] > header p, div[is=product] > div .description h4, div[is=product] > div .description .body-0 {
  font-weight: 400;
}

div[is=product] > div .description h6, div[is=product] > div .description h4, div[is=product] > div .description strong, div[is=product] > div .description b, div[is=product] > div .description .button-text, div[is=product] > div form button {
  font-weight: 700;
}

div[is=product] > div .meta h4, div[is=product] > div .description h5 {
  font-weight: 900;
}

div[is=product] > div div[is=product-content] > header h1, div[is=product] > div .description h1, div[is=product] > div .description .heading-l, div[is=product] > div .description ul li {
  font-size: 3.8rem;
  line-height: 115%;
  letter-spacing: -0.76px;
}
@media screen and (min-width: 1080px) {
  div[is=product] > div div[is=product-content] > header h1, div[is=product] > div .description h1, div[is=product] > div .description .heading-l, div[is=product] > div .description ul li {
    font-size: 5.6rem;
    line-height: 115%;
    letter-spacing: -1.12px;
  }
}

div[is=product] > div .description h2, div[is=product] > div .description .heading-m {
  font-size: 3.2rem;
  line-height: 115%;
  letter-spacing: -0.64px;
}
@media screen and (min-width: 1080px) {
  div[is=product] > div .description h2, div[is=product] > div .description .heading-m {
    font-size: 4.2rem;
    line-height: 115%;
    letter-spacing: -0.84px;
  }
}

div[is=product] > div .meta h3, div[is=product] > div .description h3, div[is=product] > div .description .heading-s {
  font-size: 2.7rem;
  line-height: 115%;
  letter-spacing: -0.54px;
}
@media screen and (min-width: 1080px) {
  div[is=product] > div .meta h3, div[is=product] > div .description h3, div[is=product] > div .description .heading-s {
    font-size: 3.4rem;
    line-height: 115%;
    letter-spacing: -0.68px;
  }
}

div[is=product] > div .meta h4, div[is=product] > div .description h5 {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
@media screen and (min-width: 1080px) {
  div[is=product] > div .meta h4, div[is=product] > div .description h5 {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 1.5px;
  }
}

div[is=product] > div div[is=product-content] > header p, div[is=product] > div .description h4, div[is=product] > div .description .body-0 {
  font-size: 2.2rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  div[is=product] > div div[is=product-content] > header p, div[is=product] > div .description h4, div[is=product] > div .description .body-0 {
    font-size: 2.6rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

div[is=product] > div .description h6, div[is=product] > div .description .body-1, div[is=product] > div .description p, div[is=product] > div .description ul li, div[is=product] > div .description .button-text, div[is=product] > div form button {
  font-size: 1.9rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  div[is=product] > div .description h6, div[is=product] > div .description .body-1, div[is=product] > div .description p, div[is=product] > div .description ul li, div[is=product] > div .description .button-text, div[is=product] > div form button {
    font-size: 2.1rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

div[is=product] > div .description .body-2 {
  font-size: 1.7rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  div[is=product] > div .description .body-2 {
    font-size: 1.8rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

div[is=product] > div .description ul {
  margin-top: 1.6rem;
}
div[is=product] > div .description ul li:not(:first-child) {
  margin-top: 1.6rem;
}
div[is=product] > div .description a {
  text-decoration: underline;
}
div[is=product] > div .description p + h2, div[is=product] > div .description p + h3, div[is=product] > div .description ul + h2, div[is=product] > div .description ul + h3 {
  margin-top: 3.2rem;
}
div[is=product] > div .description p + h4, div[is=product] > div .description p + h5, div[is=product] > div .description ul + h4, div[is=product] > div .description ul + h5 {
  margin-top: 2.4rem;
}
div[is=product] > div .description blockquote {
  margin-top: 2.4rem;
  padding: 2.4rem 0 0 0;
}
div[is=product] > div .description h1, div[is=product] > div .description .heading-l {
  margin-bottom: 3.2rem;
}
div[is=product] > div .description h2, div[is=product] > div .description .heading-m {
  margin-bottom: 2.4rem;
}
div[is=product] > div .description h3, div[is=product] > div .description .heading-s {
  margin-bottom: 0.8rem;
}
div[is=product] > div .description h4 {
  margin-bottom: 0.8rem;
}
div[is=product] > div .description h6 {
  margin-bottom: 0.8rem;
}
div[is=product] > div .description hr {
  height: 1;
  border: none;
  background: #E7E9EF;
  margin: 3.2rem 0 2.4rem 0;
}

div[is=product] {
  padding-bottom: 6.4rem;
}
div[is=product] > div div[is=product-content] > header {
  margin-bottom: 2.4rem;
}
div[is=product] > div div[is=product-content] > header h1 {
  margin-bottom: 1.6rem;
}
div[is=product] > div .description {
  margin: 3.2rem 0;
}
div[is=product] > div .description > div * {
  margin-bottom: 1.6rem;
}
div[is=product] > div .meta {
  border: 2px solid #E7E9EF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 1.6rem;
}
div[is=product] > div .meta h4 {
  color: #41495E;
}
div[is=product] > div .meta h3 {
  color: #2D3788;
}
div[is=product] > div .meta > div {
  padding: 1.6rem 2.4rem;
}
div[is=product] > div .meta > div:first-child {
  border-right: 2px solid #E7E9EF;
}
div[is=product] > div img {
  border-radius: 1.6rem;
  width: 100%;
  cursor: pointer;
}
div[is=product] > div > h1 {
  margin-top: 0;
}
div[is=product] > div form {
  display: flex;
  margin-bottom: 1.6rem;
}
div[is=product] > div form #quantity {
  width: 20%;
}
div[is=product] > div form > button, div[is=product] > div form > p {
  flex: 1;
  margin-left: 0.8rem;
}
div[is=product] > div form > p {
  align-self: center;
  font-size: 1.33em;
  margin-bottom: 0;
  margin-top: 0;
}
@media screen and (min-width: 740px) {
  div[is=product] > div section {
    grid-column-gap: 4rem;
    align-items: flex-start;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
  }
}
@media screen and (min-width: 1080px) {
  div[is=product] > div section {
    grid-template-columns: 1.8fr 1fr;
  }
}