div[is=product] #description .text ul {
  padding-left: 3.2rem;
}
div[is=product] #description .text ul li {
  list-style-type: disc;
}

@container product-list-container (width > 350px) {}
@container product-list-container (width > 770px) {}
@container product-list-container (width > 1080px) {}
@container product-list-container (width > 1200px) {}

div[is=product] > div {
  max-width: 152rem;
  margin: 0 auto;
}

div[is=product] form button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.6rem;
  padding: 0 2.4rem;
  color: white;
  background-color: #2D3788;
  background: linear-gradient(186deg, #3D51F5 4.97%, #3645BF 19.29%, #2D3788 85.82%);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.18), 0px 6px 12px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px 0px rgba(255, 255, 255, 0.25) inset;
  height: 4.8rem;
  white-space: nowrap;
  outline: none;
  border: none;
  transition: scale 0.3s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
  overflow: hidden;
}
div[is=product] form button .icon {
  background-color: white;
  margin-left: 0.8rem;
  width: 2rem;
  height: 2rem;
  transition: all 0.3s ease-in-out;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
div[is=product] form button:hover {
  scale: 1.03;
}
div[is=product] form button:hover .icon {
  transform: translateX(0.4rem);
}
div[is=product] form button:hover {
  background-color: #333f9b;
}
div[is=product] form button:active {
  box-shadow: 1px 2px 0 0 #FAB638;
  background-color: #272f75;
}

.button-loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2D3788 url(loading-b.gif) no-repeat center center;
  background-size: 24px 24px;
}

div[is=product] #expanding-content > * header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  color: #2D3788;
  cursor: pointer;
  user-select: none;
}
div[is=product] #expanding-content > * header span {
  display: flex;
  align-items: center;
}
div[is=product] #expanding-content > * header span .icon {
  margin-right: 0.8rem;
}

div[is=product] #description .text h5, div[is=product] .meta h3, div[is=product] > div div[is=product-content] p[is=product-price], div[is=product] #description .text h3, div[is=product] #description .text .heading-s, div[is=product] #description .text h2, div[is=product] #description .text .heading-m, div[is=product] > div div[is=product-content] div[is=product-info] header h1, div[is=product] #description .text h1, div[is=product] #description .text .heading-l, div[is=product] #description .text ul li {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
}

a[is=outline-button], div[is=product] .meta-dimensions h5, div[is=product] .meta h4, div[is=product] #reviews .review h4, div[is=product] > div .tag, div[is=product] #description .text .body-2, div[is=product] #expanding-content > * header span, div[is=product] .meta-dimensions p, div[is=product] #reviews .review p, div[is=product] #description .text h6, div[is=product] #description .text .body-1, div[is=product] #description .text p, div[is=product] #description .text ul li, div[is=product] #description .text .button-text, div[is=product] form button, div[is=product] #description .text h4, div[is=product] #description .text .body-0 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

div[is=product] > div div[is=product-content] p[is=product-price], a[is=outline-button], div[is=product] .meta-dimensions h5, div[is=product] .meta h4, div[is=product] #reviews .review h4, div[is=product] > div .tag, div[is=product] #description .text .body-2, div[is=product] #expanding-content > * header span, div[is=product] .meta-dimensions p, div[is=product] #reviews .review p, div[is=product] #description .text h6, div[is=product] #description .text .body-1, div[is=product] #description .text p, div[is=product] #description .text ul li, div[is=product] #description .text .button-text, div[is=product] form button, div[is=product] #description .text h4, div[is=product] #description .text .body-0 {
  font-weight: 400;
}

div[is=product] #reviews .review h4 {
  font-weight: 500;
}

div[is=product] .meta-dimensions p, div[is=product] .meta-dimensions h5, div[is=product] .meta h4, div[is=product] > div .tag, div[is=product] #description .text h6, div[is=product] #description .text h4, div[is=product] #description .text strong, div[is=product] #description .text b, a[is=outline-button], div[is=product] #description .text .button-text, div[is=product] form button, div[is=product] #expanding-content > * header span {
  font-weight: 700;
}

div[is=product] #description .text h5 {
  font-weight: 900;
}

div[is=product] > div div[is=product-content] div[is=product-info] header h1, div[is=product] #description .text h1, div[is=product] #description .text .heading-l, div[is=product] #description .text ul li {
  font-size: 3.8rem;
  line-height: 115%;
  letter-spacing: -0.76px;
}
@media screen and (min-width: 1080px) {
  div[is=product] > div div[is=product-content] div[is=product-info] header h1, div[is=product] #description .text h1, div[is=product] #description .text .heading-l, div[is=product] #description .text ul li {
    font-size: 5.6rem;
    line-height: 115%;
    letter-spacing: -1.12px;
  }
}

div[is=product] #description .text h2, div[is=product] #description .text .heading-m {
  font-size: 3.2rem;
  line-height: 115%;
  letter-spacing: -0.64px;
}
@media screen and (min-width: 1080px) {
  div[is=product] #description .text h2, div[is=product] #description .text .heading-m {
    font-size: 4.2rem;
    line-height: 115%;
    letter-spacing: -0.84px;
  }
}

div[is=product] .meta h3, div[is=product] > div div[is=product-content] p[is=product-price], div[is=product] #description .text h3, div[is=product] #description .text .heading-s {
  font-size: 2.7rem;
  line-height: 115%;
  letter-spacing: -0.54px;
}
@media screen and (min-width: 1080px) {
  div[is=product] .meta h3, div[is=product] > div div[is=product-content] p[is=product-price], div[is=product] #description .text h3, div[is=product] #description .text .heading-s {
    font-size: 3.4rem;
    line-height: 115%;
    letter-spacing: -0.68px;
  }
}

div[is=product] #description .text h5 {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
@media screen and (min-width: 1080px) {
  div[is=product] #description .text h5 {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 1.5px;
  }
}

div[is=product] #description .text h4, div[is=product] #description .text .body-0 {
  font-size: 2.2rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  div[is=product] #description .text h4, div[is=product] #description .text .body-0 {
    font-size: 2.6rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

div[is=product] .meta-dimensions p, div[is=product] #reviews .review p, div[is=product] #description .text h6, div[is=product] #description .text .body-1, div[is=product] #description .text p, div[is=product] #description .text ul li, div[is=product] #description .text .button-text, div[is=product] form button {
  font-size: 1.9rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  div[is=product] .meta-dimensions p, div[is=product] #reviews .review p, div[is=product] #description .text h6, div[is=product] #description .text .body-1, div[is=product] #description .text p, div[is=product] #description .text ul li, div[is=product] #description .text .button-text, div[is=product] form button {
    font-size: 2.1rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

div[is=product] .meta-dimensions h5, div[is=product] .meta h4, div[is=product] #reviews .review h4, div[is=product] > div .tag, div[is=product] #description .text .body-2, div[is=product] #expanding-content > * header span {
  font-size: 1.7rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  div[is=product] .meta-dimensions h5, div[is=product] .meta h4, div[is=product] #reviews .review h4, div[is=product] > div .tag, div[is=product] #description .text .body-2, div[is=product] #expanding-content > * header span {
    font-size: 1.8rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  a[is=outline-button] {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

div[is=product] #description .text ul {
  margin-top: 1.6rem;
}
div[is=product] #description .text ul li:not(:first-child) {
  margin-top: 1.6rem;
}
div[is=product] #description .text a {
  text-decoration: underline;
}
div[is=product] #description .text p + h2, div[is=product] #description .text p + h3, div[is=product] #description .text ul + h2, div[is=product] #description .text ul + h3 {
  margin-top: 3.2rem;
}
div[is=product] #description .text p + h4, div[is=product] #description .text p + h5, div[is=product] #description .text ul + h4, div[is=product] #description .text ul + h5 {
  margin-top: 2.4rem;
}
div[is=product] #description .text blockquote {
  margin-top: 2.4rem;
  padding: 2.4rem 0 0 0;
}
div[is=product] #description .text h1, div[is=product] #description .text .heading-l {
  margin-bottom: 3.2rem;
}
div[is=product] #description .text h2, div[is=product] #description .text .heading-m {
  margin-bottom: 2.4rem;
}
div[is=product] #description .text h3, div[is=product] #description .text .heading-s {
  margin-bottom: 0.8rem;
}
div[is=product] #description .text h4 {
  margin-bottom: 0.8rem;
}
div[is=product] #description .text h6 {
  margin-bottom: 0.8rem;
}
div[is=product] #description .text hr {
  height: 1;
  border: none;
  background: #E7E9EF;
  margin: 3.2rem 0 2.4rem 0;
}

a[is=outline-button] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  color: #2D3788;
  height: 3.2rem;
  white-space: nowrap;
  border: 1px solid #EBEDFA;
}
a[is=outline-button]:hover {
  background: #EBEDFA;
}

div[is=product] {
  padding-bottom: 6.4rem;
}
div[is=product] > div .tag {
  display: inline-flex;
  padding: 0.4rem 0.8rem;
  background: #EBEDFA;
  color: #2D3788;
  border-radius: 1.2rem;
}
div[is=product] > div .new {
  background: #86FFAE;
  color: #005B13;
}
div[is=product] > div div[is=product-content] {
  position: relative;
}
div[is=product] > div div[is=product-content] p[is=product-price] {
  flex: 0;
  padding-right: 0.8rem;
}
div[is=product] > div div[is=product-content] div[is=product-info] header {
  margin-bottom: 2.4rem;
}
div[is=product] > div div[is=product-content] div[is=product-info] header h1 {
  margin-bottom: 1.6rem;
}
div[is=product] #expanding-content > * {
  border: 1px solid #EBEDFA;
  margin-top: -0.1rem;
  border-radius: 0;
}
div[is=product] #expanding-content > *:last-child {
  border-radius: 0 0 1.2rem 1.2rem !important;
}
div[is=product] #expanding-content > * header {
  border-radius: 0;
}
div[is=product] #expanding-content > * .content {
  visibility: hidden;
  height: 0;
}
div[is=product] #expanding-content > *:hover:not(.active) {
  background-color: #EBEDFA;
}
div[is=product] #expanding-content > *.active header {
  border-bottom: none;
}
div[is=product] #expanding-content > *.active .content {
  visibility: visible;
  height: auto;
}
div[is=product] #description.active #description-content {
  padding: 0.8rem 2.4rem 2.4rem 2.4rem;
}
div[is=product] #instructions a {
  display: block;
}
div[is=product] div[is=delivery] {
  border-radius: 0;
  margin-top: -0.1rem;
}
div[is=product] #reviews.active #reviews-content {
  padding: 0 2.4rem 1.6rem 2.4rem;
}
div[is=product] #reviews .review {
  justify-content: flex-start;
  padding: 1.6rem 0;
}
div[is=product] #reviews .review:not(:last-child) {
  border-bottom: 1px solid #E7E9EF;
}
div[is=product] #reviews .review a:hover {
  text-decoration: underline;
}
div[is=product] #reviews .review .stars {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
}
div[is=product] #reviews .review .icon {
  width: 2rem;
  height: 2rem;
  background: #0A122A;
  margin-right: -0.2rem;
}
div[is=product] #reviews .review p {
  white-space: wrap;
  margin-bottom: 0.4rem;
}
div[is=product] .meta {
  display: flex;
  margin-top: 3.2rem;
  border: 1px solid #EBEDFA;
  border-radius: 1.2rem 1.2rem 0 0;
}
div[is=product] .meta h4 {
  color: #41495E;
  margin-bottom: 0.4rem;
}
div[is=product] .meta h3 {
  color: #2D3788;
}
div[is=product] .meta > div {
  flex: 1;
  padding: 1.6rem 2.4rem;
}
div[is=product] .meta > div:not(:last-child) {
  border-right: 1px solid #E7E9EF;
}
div[is=product] .meta-dimensions {
  margin: 2.4rem 0 0 0;
  background: #F0F2F9;
  border-radius: 0.8rem;
}
div[is=product] .meta-dimensions h5 {
  color: #41495E;
}
div[is=product] .meta-dimensions p {
  color: #2D3788;
}
div[is=product] .meta-dimensions > div {
  padding: 1.2rem 1.6rem;
  display: grid;
}
div[is=product] .meta-dimensions > div:not(.meta-instructions) {
  grid-template-columns: 0.5fr 1fr;
}
div[is=product] .meta-dimensions > div:not(:last-child) {
  border-bottom: 1px solid #E7E9EF;
}
div[is=product] img {
  border-radius: 1.6rem;
  width: 100%;
  cursor: pointer;
}
div[is=product] > h1 {
  margin-top: 0;
}
div[is=product] form {
  display: flex;
  margin-bottom: 1.6rem;
}
div[is=product] form #quantity {
  width: 6.4rem;
}
div[is=product] form button {
  height: 5.6rem;
}
div[is=product] form > button, div[is=product] form > p {
  flex: 1;
  margin-left: 0.8rem;
}
div[is=product] form > p {
  align-self: center;
  font-size: 1.33em;
  margin-bottom: 0;
  margin-top: 0;
}
@media screen and (min-width: 740px) {
  div[is=product] > div section {
    grid-column-gap: 4rem;
    align-items: flex-start;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
  }
}
@media screen and (min-width: 1080px) {
  div[is=product] > div section {
    grid-template-columns: 1.8fr 1fr;
  }
}