[is="product-carousel-item"] {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  min-height: 0;
  height: 100%;
  position: relative;
  width: 60%;
  border-radius: var(--radius-s);
  overflow: hidden;
  transition: all var(--duration-fast);
  transition-timing-function: var(--ease-spring);

  & .image {
    background: var(--color-yolk-1000);
    padding: 0.6rem;
    position: relative;

    & img {
      border-radius: 10px;

      &.image-1 { display: block; }

      &.image-2 {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  & .new {
    position: absolute;
    top: var(--space-1);
    left: var(--space-1);
    height: auto;
    padding: 0.2rem 0.8rem;
    font-size: var(--text-body-4);
    font-weight: var(--weight-bold);
    line-height: var(--leading-snug);
    background: var(--color-green-1000);
    color: var(--color-white);
    border-radius: 1.2rem;
  }

  &:hover {
    scale: 1.02;
    transform: rotate(3deg);

    & img.image-1 { display: none; }

    & img.image-2 {
      visibility: visible;
      position: relative;
    }
  }

  & a:hover {
    text-decoration: underline;
  }

  & .content {
    position: relative;
    padding: var(--space-1) var(--space-2) var(--space-2);

    & h3 {
      font-size: var(--text-body-2);
      font-weight: var(--weight-regular);
      line-height: var(--leading-body);
      overflow: hidden;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: var(--color-white);
    }

    & p {
      font-size: var(--text-body-2);
      font-weight: var(--weight-bold);
      line-height: var(--leading-body);
      color: var(--color-white);
    }
  }

  &:focus-visible {
    background: none;
    box-shadow: none;

    & h3 {
      background-color: var(--color-focus);
      box-shadow: 0 0 0 3px var(--color-focus);
    }
  }

  @media (width >= 770px) {
    width: 34rem;
  }
}
