[is=product-promo] h3 {
  font-family: Sofia Pro, "NotoSans", "NotoSansJP", "NotoSansKR", sans-serif;
  font-weight: 700;
}

[is=product-promo] p {
  font-family: Sofia Pro, "NotoSans", "NotoSansJP", "NotoSansKR", sans-serif;
  font-weight: 400;
}

[is=product-promo] p {
  font-weight: 400;
}

[is=product-promo] h3 {
  font-size: 1.7rem;
  line-height: 115%;
  letter-spacing: -0.34px;
}
@media screen and (min-width: 1200px) {
  [is=product-promo] h3 {
    font-size: 1.8rem;
    line-height: 115%;
    letter-spacing: -0.36px;
  }
}

[is=product-promo] p {
  font-size: 1.7rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1200px) {
  [is=product-promo] p {
    font-size: 1.8rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

[is=product-promo] {
  display: block;
  overflow: hidden;
  background: #0A122A;
  border-radius: 1.6rem;
  text-decoration: none;
  color: hsl(209deg, 61.2%, 39.4%);
}
[is=product-promo]:focus-visible {
  background: none;
  box-shadow: none;
}
[is=product-promo]:focus-visible h3 {
  background-color: hsl(38deg, 100%, 86.9%);
  box-shadow: 0 0 0 3px focus;
}