.button-loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2D3788 url(loading-b.gif) no-repeat center center;
  background-size: 24px 24px;
}

[is=product-carousel-item] .new, a[is=outline-button], [is=product-carousel-item] .content p, [is=product-carousel-item] .content h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

[is=product-carousel-item] .new, a[is=outline-button], [is=product-carousel-item] .content p, [is=product-carousel-item] .content h3 {
  font-weight: 400;
}

[is=product-carousel-item] .content p, [is=product-carousel-item] .new, a[is=outline-button] {
  font-weight: 700;
}

[is=product-carousel-item] .content p, [is=product-carousel-item] .content h3 {
  font-size: 1.7rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  [is=product-carousel-item] .content p, [is=product-carousel-item] .content h3 {
    font-size: 1.8rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

[is=product-carousel-item] .new, a[is=outline-button] {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  [is=product-carousel-item] .new, a[is=outline-button] {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  color: #2D3788;
  height: 3.2rem;
  white-space: nowrap;
  border: 1px solid #EBEDFA;
}
a[is=outline-button]:hover {
  background: #EBEDFA;
}

[is=product-carousel-item] {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  min-height: 0;
  height: 100%;
  position: relative;
  width: 60%;
  background: #FAB638;
  border-radius: 1.6rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 740px) {
  [is=product-carousel-item] {
    width: 34rem;
  }
}
[is=product-carousel-item] .image {
  padding: 0.8rem;
}
[is=product-carousel-item] .image img {
  border-radius: 8px;
}
[is=product-carousel-item] .new {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  height: auto;
  padding: 0.2rem 0.8rem;
  background: #2D8872;
  color: #FFFFFF;
  border-radius: 1.2rem;
}
[is=product-carousel-item]:hover {
  scale: 1.05;
}
[is=product-carousel-item] a:hover {
  text-decoration: underline;
}
[is=product-carousel-item] .content {
  position: relative;
  padding: 0.8rem 1.6rem 1.6rem 1.6rem;
}
[is=product-carousel-item] .content h3 {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #0A122A;
}
[is=product-carousel-item] .content p {
  color: #0A122A;
  margin-top: 0.4rem;
}
[is=product-carousel-item]:focus-visible {
  background: none;
  box-shadow: none;
}
[is=product-carousel-item]:focus-visible h3 {
  background-color: #FAB638;
  box-shadow: 0 0 0 3px focus;
}