div[is=product-promos] > div {
  grid-gap: 0.8rem;
  row-gap: 1.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
@media screen and (min-width: 550px) {
  div[is=product-promos] > div {
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  }
}
@media screen and (min-width: 770px) {
  div[is=product-promos] > div {
    grid-gap: 1.2rem;
    row-gap: 1.6rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}
@media screen and (min-width: 1080px) {
  div[is=product-promos] > div {
    grid-gap: 1.6rem;
  }
}
@media screen and (min-width: 1200px) {
  div[is=product-promos] > div {
    grid-gap: 1.6rem;
  }
}

#filter-modal {
  box-shadow: 0px 1px 4px rgba(10, 18, 42, 0.12), 0px 8px 24px rgba(10, 18, 42, 0.18);
}

div[is=product-promos] > div {
  max-width: 152rem;
  margin: 0 auto;
}

.filter-toggle-button {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  background: #EBEDFA;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  color: #2D3788;
  height: 3.2rem;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  box-shadow: none;
}
.blue.filter-toggle-button {
  background: #2D3788;
  color: white;
}
.blue.filter-toggle-button:active {
  background-color: #272f75;
}
.blue.filter-toggle-button:before {
  content: "";
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  position: relative;
  background: white;
  -webkit-mask-image: url(icon-arrow-right.svg);
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  margin-left: 0.8rem;
}
.filter-toggle-button:hover {
  background-color: #2D3788;
  color: white;
}
.filter-toggle-button:hover .icon {
  background: white;
}
.filter-toggle-button:active {
  background-color: #d7dbf5;
}

.button-loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2D3788 url(loading-b.gif) no-repeat center center;
  background-size: 24px 24px;
}

#filter-modal header h2 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
}

.price-checkbox-item label,
.collection-checkbox-item label, .filter-input,
.filter-select, .filter-group label, a[is=outline-button], .filter-toggle-button,
.collection-checkbox-item label, .filter-input,
.filter-select, .filter-group label {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

a[is=outline-button], .filter-toggle-button, .price-checkbox-item label,
.collection-checkbox-item label, .filter-input,
.filter-select, .filter-group label {
  font-weight: 400;
}

a[is=outline-button], .filter-toggle-button {
  font-weight: 700;
}

#filter-modal header h2 {
  font-weight: 900;
}

#filter-modal header h2 {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
@media screen and (min-width: 1080px) {
  #filter-modal header h2 {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 1.5px;
  }
}

.price-checkbox-item label,
.collection-checkbox-item label, .filter-input,
.filter-select, .filter-group label {
  font-size: 1.7rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  .price-checkbox-item label,
.collection-checkbox-item label, .filter-input,
.filter-select, .filter-group label {
    font-size: 1.8rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

a[is=outline-button], .filter-toggle-button {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  a[is=outline-button], .filter-toggle-button {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  color: #2D3788;
  height: 3.2rem;
  white-space: nowrap;
  border: 1px solid #EBEDFA;
}
a[is=outline-button]:hover {
  background: #EBEDFA;
}

.product-sorting {
  text-align: right;
  position: relative;
}

.sort-by-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 2rem;
  width: 20rem;
  height: 4.8rem;
  padding: 0 1.2rem;
  padding-right: 4rem;
  border: 1px solid #E7E9EF;
  border-radius: 0.8rem;
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.8rem center;
  background-size: 2rem;
  cursor: pointer;
}
.product-filter-controls {
  margin-bottom: 2rem;
  text-align: right;
}

.filter-toggle-button {
  display: inline-flex;
}

#filter-modal {
  width: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000000;
  padding: 3.2rem 2.4rem 2.4rem 2.4rem;
  visibility: hidden;
  opacity: 0;
  border-radius: 0 0 1.6rem 1.6rem;
  max-height: 90vh;
  overflow-y: auto;
}
@media screen and (min-width: 740px) {
  #filter-modal {
    width: 40rem;
    border-radius: 1.6rem;
    padding-top: 1.6rem;
    top: 1.6rem;
    left: auto;
    bottom: auto;
    right: 1.6rem;
    max-height: 80vh;
  }
}
#filter-modal header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.2rem;
  margin-bottom: 1.6rem;
}
#filter-modal header .header-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
#filter-modal header #filter-modal-close {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#filter-modal header .icon.close {
  width: 1.6rem;
  height: 1.6rem;
  background: #1D203F;
  -webkit-mask-image: url(icon-close.svg);
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-image: url(icon-close.svg);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}
#filter-modal .filter-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.filter-group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}
.filter-group label {
  color: #1D203F;
}

.filter-input,
.filter-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 4.8rem;
  padding: 0 1.2rem;
  border: 1px solid #E7E9EF;
  border-radius: 0.8rem;
  background-color: white;
  color: #1D203F;
  cursor: pointer;
}
.filter-input:focus,
.filter-select:focus {
  outline: none;
  border-color: #2D3788;
}

.filter-input::placeholder {
  color: #666;
}

.filter-select {
  padding-right: 4rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.8rem center;
  background-size: 2rem;
}

.price-checkboxes {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.price-checkbox-item,
.collection-checkbox-item {
  display: flex;
  align-items: center;
}
.price-checkbox-item label,
.collection-checkbox-item label {
  color: #1D203F;
  cursor: pointer;
  margin: 0;
}

.collection-checkboxes {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}