main[is=product] {
  padding: 3.2rem;
}
main[is=product] img {
  border-radius: 2.4rem;
}
main[is=product] > h1 {
  margin-top: 0;
}
main[is=product] > img:first-of-type {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
main[is=product] > form {
  grid-gap: 0.75rem;
  background-color: hsl(240deg, 25.7%, 93.1%);
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 0 2px 0 hsl(0deg, 0%, 31%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  left: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 1.5rem 1rem;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 1;
}
main[is=product] > form > button, main[is=product] > form > p {
  grid-row: 2;
}
main[is=product] > form > div {
  grid-column: 1/span 2;
  grid-row: 1;
  margin-bottom: 0.5rem;
}
main[is=product] > form > p {
  align-self: center;
  font-size: 1.33em;
  margin-bottom: 0;
  margin-top: 0;
}
main[is=product] > form > button {
  max-width: 100%;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  width: 100%;
}
@media screen and (min-width: 400px) {
  main[is=product] {
    grid-column-gap: 3rem;
    align-items: flex-start;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  main[is=product] > * {
    grid-column: 1;
  }
  main[is=product] > form {
    grid-column: 2;
    grid-row: 1/span 2;
    grid-template-rows: repeat(3, auto);
    margin-left: 0;
    margin-right: 0;
    padding: 2rem;
    top: 1rem;
  }
  main[is=product] > form > p {
    grid-row: 1;
    margin-bottom: 0;
    margin-top: 0;
  }
  main[is=product] > form > button {
    grid-column: 1/span 2;
    grid-row: 2;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 100%;
  }
  main[is=product] > form > div {
    grid-row: 3;
    margin-top: 1rem;
  }
  main[is=product] > img:first-of-type {
    margin-bottom: 0;
  }
}