@container product-list-container (width > 350px) {}
@container product-list-container (width > 770px) {}
@container product-list-container (width > 1080px) {}
@container product-list-container (width > 1200px) {}

div[is=prominent-features] > div {
  max-width: 152rem;
  margin: 0 auto;
}

.button-loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2D3788 url(loading-b.gif) no-repeat center center;
  background-size: 24px 24px;
}

article[is=prominent-feature] div h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
}

a[is=outline-button], article[is=prominent-feature] div p, article[is=prominent-feature] div h4 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

a[is=outline-button], article[is=prominent-feature] div p, article[is=prominent-feature] div h4 {
  font-weight: 400;
}

article[is=prominent-feature] div h4 {
  font-weight: 500;
}

a[is=outline-button] {
  font-weight: 700;
}

article[is=prominent-feature] div h3 {
  font-size: 2.7rem;
  line-height: 115%;
  letter-spacing: -0.54px;
}
@media screen and (min-width: 1080px) {
  article[is=prominent-feature] div h3 {
    font-size: 3.4rem;
    line-height: 115%;
    letter-spacing: -0.68px;
  }
}

article[is=prominent-feature] div h4 {
  font-size: 2.2rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  article[is=prominent-feature] div h4 {
    font-size: 2.6rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

article[is=prominent-feature] div p {
  font-size: 1.9rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  article[is=prominent-feature] div p {
    font-size: 2.1rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  a[is=outline-button] {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  color: #2D3788;
  height: 3.2rem;
  white-space: nowrap;
  border: 1px solid #EBEDFA;
}
a[is=outline-button]:hover {
  background: #EBEDFA;
}

article[is=prominent-feature] {
  background: #FFFFFF;
}
article[is=prominent-feature] a.bigLink {
  cursor: pointer;
}
article[is=prominent-feature] a.bigLink img {
  transition: all 0.3s ease-in-out;
}
article[is=prominent-feature] a.bigLink:hover img {
  transform: scale(1.04);
}
article[is=prominent-feature] img {
  width: 100%;
  border-radius: 3.2rem;
  margin-bottom: 1.6rem;
}
article[is=prominent-feature] div p {
  margin-top: 0.8rem;
}

div[is=prominent-features] > div {
  grid-gap: 4rem;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
@media screen and (min-width: 740px) {
  div[is=prominent-features] > div {
    grid-template-columns: repeat(2, minmax(34rem, 48rem));
  }
  div[is=prominent-features] > div.one {
    grid-template-columns: repeat(1, minmax(30rem, 48rem));
  }
  div[is=prominent-features] > div.three {
    grid-template-columns: repeat(3, 1fr);
  }
  div[is=prominent-features] > div.four {
    grid-template-columns: repeat(4, 1fr);
  }
}