div[is=promos] > div.two {
  grid-template-columns: 1fr;
}
div[is=promos] > div.three {
  grid-template-columns: 1fr;
}
div[is=promos] > div.four {
  grid-template-columns: 1fr;
}
@media screen and (min-width: 550px) {
  div[is=promos] > div.two {
    grid-template-columns: repeat(2, 1fr);
  }
  div[is=promos] > div.three {
    grid-template-columns: repeat(2, 1fr);
  }
  div[is=promos] > div.four {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 770px) {
  div[is=promos] > div.three {
    grid-template-columns: repeat(3, 1fr);
  }
  div[is=promos] > div.four {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 1080px) {
  div[is=promos] > div.four {
    grid-template-columns: repeat(4, 1fr);
  }
}

a[is=promo] {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

div[is=promos] > div {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

a[is=promo] {
  background: hsl(240deg, 25.7%, 93.1%);
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.75rem 1.25rem;
  place-content: flex-start;
  text-decoration: none;
}
a[is=promo]:active {
  box-shadow: none;
  position: relative;
  top: 2px;
}
a[is=promo]:hover h3 {
  text-decoration: none;
}
a[is=promo]:focus-visible {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 0 0 4px hsl(38deg, 100%, 86.9%);
}
a[is=promo]:visited > h3 {
  color: hsl(281deg, 24.7%, 43.7%);
}
a[is=promo] > img {
  align-self: center;
}
a[is=promo] > h3 {
  color: unset;
  margin-top: 1rem;
  text-decoration: underline;
}
a[is=promo] > p {
  align-self: flex-start;
  color: hsl(0deg, 0%, 31%);
  margin-top: 0;
}

div[is=promos] > div {
  grid-gap: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin-bottom: 4rem;
  margin-top: 2rem;
}