div[is=promos] > div.two {
  grid-template-columns: 1fr;
}
div[is=promos] > div.three {
  grid-template-columns: 1fr;
}
div[is=promos] > div.four {
  grid-template-columns: 1fr;
}
@media screen and (min-width: 550px) {
  div[is=promos] > div.two {
    grid-template-columns: repeat(2, 1fr);
  }
  div[is=promos] > div.three {
    grid-template-columns: repeat(2, 1fr);
  }
  div[is=promos] > div.four {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 770px) {
  div[is=promos] > div.three {
    grid-template-columns: repeat(3, 1fr);
  }
  div[is=promos] > div.four {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1080px) {
  div[is=promos] > div.four {
    grid-template-columns: repeat(4, 1fr);
  }
}

div[is=promos] > div {
  max-width: 140rem;
  margin: 0 auto;
}

.button-loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2D3788 url(loading.gif) no-repeat center center;
}

a[is=promo] > h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
}

a[is=outline-button], a[is=promo] > p {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

a[is=outline-button], a[is=promo] > p {
  font-weight: 400;
}

a[is=outline-button] {
  font-weight: 700;
}

a[is=promo] > h3 {
  font-size: 3.2rem;
  line-height: 115%;
  letter-spacing: -0.64px;
}
@media screen and (min-width: 1080px) {
  a[is=promo] > h3 {
    font-size: 4.2rem;
    line-height: 115%;
    letter-spacing: -0.84px;
  }
}

a[is=promo] > p {
  font-size: 1.9rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  a[is=promo] > p {
    font-size: 2.1rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  a[is=outline-button] {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  color: #2D3788;
  height: 3.2rem;
  white-space: nowrap;
  border: 1px solid #EBEDFA;
}
a[is=outline-button]:hover {
  background: #EBEDFA;
}

a[is=promo] {
  background: #EBEDFA;
  border-radius: 3.2rem;
  display: grid;
  grid-template-columns: 1fr;
  padding: 3.2rem 2.4rem;
  place-content: flex-start;
  text-decoration: none;
}
a[is=promo]:active {
  position: relative;
  top: 2px;
}
a[is=promo]:hover h3 {
  text-decoration: none;
}
a[is=promo]:focus-visible {
  box-shadow: 0 0 0 4px #FAB638;
}
a[is=promo] > img {
  align-self: center;
}
a[is=promo] > h3 {
  margin-bottom: 0.8rem;
}
div[is=promos] > div {
  grid-gap: 3.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}