div[is=prominent-features] > div {
  max-width: 140rem;
  margin: 0 auto;
  margin: 0 3.2rem;
}

article[is=prominent-feature] div h4, article[is=prominent-feature] div h3 {
  font-family: Sofia Pro, "NotoSans", "NotoSansJP", "NotoSansKR", sans-serif;
  font-weight: 700;
}

article[is=prominent-feature] div p {
  font-family: Sofia Pro, "NotoSans", "NotoSansJP", "NotoSansKR", sans-serif;
  font-weight: 400;
}

article[is=prominent-feature] div p {
  font-weight: 400;
}

article[is=prominent-feature] div h3 {
  font-size: 2.4rem;
  line-height: 115%;
  letter-spacing: -0.48px;
}
@media screen and (min-width: 1200px) {
  article[is=prominent-feature] div h3 {
    font-size: 2.8rem;
    line-height: 115%;
    letter-spacing: -0.56px;
  }
}

article[is=prominent-feature] div h4 {
  font-size: 1.5rem;
  line-height: 115%;
  letter-spacing: 150%px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  article[is=prominent-feature] div h4 {
    font-size: 1.6rem;
    line-height: 115%;
    letter-spacing: -0.32px;
  }
}

article[is=prominent-feature] div p {
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1200px) {
  article[is=prominent-feature] div p {
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

article[is=prominent-feature] {
  background: #FFFFFF;
  border-radius: 3.2rem;
  overflow: hidden;
}
article[is=prominent-feature] img {
  width: 100%;
  border-radius: 3.2rem;
  margin-bottom: 1.6rem;
}
div[is=prominent-features] {
  padding-bottom: 3.2rem;
}
div[is=prominent-features] > div {
  grid-gap: 3.2rem;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
@media screen and (min-width: 500px) {
  div[is=prominent-features] > div {
    grid-template-columns: repeat(2, minmax(34rem, 48rem));
  }
  div[is=prominent-features] > div.one {
    grid-template-columns: repeat(1, minmax(30rem, 48rem));
  }
  div[is=prominent-features] > div.three {
    grid-template-columns: repeat(3, 1fr);
  }
  div[is=prominent-features] > div.four {
    grid-template-columns: repeat(4, 1fr);
  }
}