div[is=prominent-features] > div {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

article[is=prominent-feature] div h3 {
  font-family: Sofia Pro, "NotoSans", "NotoSansJP", "NotoSansKR", sans-serif;
  font-weight: 700;
}

article[is=prominent-feature] div p {
  font-family: Sofia Pro, "NotoSans", "NotoSansJP", "NotoSansKR", sans-serif;
  font-weight: 400;
}

article[is=prominent-feature] div p {
  font-weight: 400;
}

article[is=prominent-feature] div h3 {
  font-size: 2.4rem;
  line-height: 115%;
  letter-spacing: -0.48px;
}
@media screen and (min-width: 1200px) {
  article[is=prominent-feature] div h3 {
    font-size: 2.8rem;
    line-height: 115%;
    letter-spacing: -0.56px;
  }
}

article[is=prominent-feature] div p {
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1200px) {
  article[is=prominent-feature] div p {
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

article[is=prominent-feature] {
  background: #FFFFFF;
  border-radius: 1.6rem;
  overflow: hidden;
}
@media screen and (max-width: 500px) {
  article[is=prominent-feature] img {
    margin-bottom: 1.6rem;
  }
}
@media screen and (min-width: 500px) {
  article[is=prominent-feature] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  article[is=prominent-feature]:nth-child(2n) img {
    order: 2;
  }
}
article[is=prominent-feature] img {
  width: 100%;
  border-radius: 1.6rem;
}
article[is=prominent-feature] div {
  max-width: 40rem;
}
div[is=prominent-features] {
  padding-bottom: 3.2rem;
}
div[is=prominent-features] > div {
  grid-gap: 3.2rem;
  display: grid;
}