.button-loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2D3788 url(loading-b.gif) no-repeat center center;
  background-size: 24px 24px;
}

.reviews-container h5 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
}

a[is=outline-button], article[is=review] p, article[is=review] h4 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

a[is=outline-button], article[is=review] p, article[is=review] h4 {
  font-weight: 400;
}

article[is=review] h4, a[is=outline-button] {
  font-weight: 700;
}

.reviews-container h5 {
  font-weight: 900;
}

.reviews-container h5 {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
@media screen and (min-width: 1080px) {
  .reviews-container h5 {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 1.5px;
  }
}

article[is=review] p, article[is=review] h4 {
  font-size: 1.7rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  article[is=review] p, article[is=review] h4 {
    font-size: 1.8rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  a[is=outline-button] {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  color: #2D3788;
  height: 3.2rem;
  white-space: nowrap;
  border: 1px solid #EBEDFA;
}
a[is=outline-button]:hover {
  background: #EBEDFA;
}

.reviews-container {
  position: relative;
  border-top: 1px solid #E7E9EF;
  padding-top: 4rem;
}
@media screen and (min-width: 1080px) {
  .reviews-container {
    height: 18rem;
  }
}
.reviews-container h5 {
  position: absolute;
  background: white;
  left: 50%;
  transform: translateX(-50%);
  height: 2rem;
  top: -1rem;
}

article[is=review] {
  width: 28rem;
  padding: 0 1.6rem;
  height: 16rem;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
article[is=review]:hover a {
  color: #2D3788;
}
article[is=review]:hover .icon {
  background: #2D3788;
}
article[is=review] a {
  display: block;
  color: #0A122A;
}
article[is=review] .stars {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.4rem;
}
article[is=review] .icon {
  background: #0A122A;
}
article[is=review] p {
  white-space: wrap;
  margin-bottom: 0.4rem;
}

@media screen and (min-width: 1080px) {
  div[is=reviews] {
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
div[is=reviews] > div {
  white-space: nowrap;
  overflow-x: scroll;
  align-items: top;
  -webkit-overflow-scrolling: touch;
  margin: -1.6rem -1.6rem;
  padding: 1.6rem 1.6rem;
  vertical-align: top;
}
@media screen and (min-width: 1080px) {
  div[is=reviews] > div {
    margin: -1.6rem 0;
    padding: 1.6rem 8rem;
  }
}
div[is=reviews] > div > * {
  display: inline-block;
  vertical-align: top;
  max-width: 80vw;
  margin-right: 0.8rem;
}