section[is=rich-text] {
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 3rem 1rem;
}
section[is=rich-text] > :first-child {
  margin-top: 0;
}
section[is=rich-text] > :last-child {
  margin-bottom: 0;
}
section[is=rich-text] h1, section[is=rich-text] h2, section[is=rich-text] h3, section[is=rich-text] ol, section[is=rich-text] p, section[is=rich-text] ul {
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
}
@media screen and (min-width: 400px) {
  section[is=rich-text] {
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 5rem 2rem;
    text-align: center;
  }
}