section[is="rich-text"] {
  max-width: var(--content-max);
  margin: 0 auto;

  & > div {
    padding: 3rem 1rem;
  }

  & h1, & h2, & h3,
  & ol, & p, & ul {
    margin-inline: auto;
    max-width: 48rem;
  }

  @media (width >= 550px) {
    padding: 5rem 2rem;
    text-align: center;
  }
}
