header[is=section-header] {
  max-width: 140rem;
  margin: 0 auto;
}

header[is=section-header] h2, header[is=section-header].large h2 {
  font-family: Sofia Pro, "NotoSans", "NotoSansJP", "NotoSansKR", sans-serif;
  font-weight: 700;
}

header[is=section-header] p {
  font-family: Sofia Pro, "NotoSans", "NotoSansJP", "NotoSansKR", sans-serif;
  font-weight: 400;
}

header[is=section-header] p {
  font-weight: 400;
}

header[is=section-header].large h2 {
  font-size: 3.8rem;
  line-height: 115%;
  letter-spacing: -0.76px;
}
@media screen and (min-width: 1200px) {
  header[is=section-header].large h2 {
    font-size: 5.6rem;
    line-height: 115%;
    letter-spacing: -1.12px;
  }
}

header[is=section-header] h2 {
  font-size: 3.2rem;
  line-height: 115%;
  letter-spacing: -0.64px;
}
@media screen and (min-width: 1200px) {
  header[is=section-header] h2 {
    font-size: 4.2rem;
    line-height: 115%;
    letter-spacing: -0.84px;
  }
}

header[is=section-header] p {
  font-size: 1.9rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1200px) {
  header[is=section-header] p {
    font-size: 2.1rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

header[is=section-header] > div {
  padding: 8rem 0 2.4rem 0;
}
header[is=section-header] p {
  margin-top: 0.8rem;
}
header[is=section-header].large h2 {
  margin-bottom: 1.6rem;
}
header[is=section-header].center > div {
  margin: 0 auto;
  padding-bottom: 4rem;
}
header[is=section-header].center h2, header[is=section-header].center h3, header[is=section-header].center p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 500px) {
  header[is=section-header].large {
    padding: 6.4rem 2.4rem;
  }
}