div[is=social-sharing] h2 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
}

div[is=social-sharing] li > a {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

div[is=social-sharing] li > a {
  font-weight: 400;
}

div[is=social-sharing] h2 {
  font-size: 2.7rem;
  line-height: 115%;
  letter-spacing: -0.54px;
}
@media screen and (min-width: 1200px) {
  div[is=social-sharing] h2 {
    font-size: 3.4rem;
    line-height: 115%;
    letter-spacing: -0.68px;
  }
}

div[is=social-sharing] li > a {
  font-size: 1.7rem;
  line-height: 140%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1200px) {
  div[is=social-sharing] li > a {
    font-size: 1.8rem;
    line-height: 140%;
    letter-spacing: 0px;
  }
}

div[is=social-sharing] ul {
  list-style: none;
  padding-left: 0;
  padding-top: 0.8rem;
}
div[is=social-sharing] li {
  margin-bottom: 0.8rem;
}
div[is=social-sharing] li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.2rem;
  background: #FAB638;
  padding: 0.8rem;
  color: #2D3788;
}
div[is=social-sharing] li > a:hover {
  background: #fbc86a;
}
div[is=social-sharing] li > a > svg {
  margin-right: 0.5rem;
  width: 2.4rem;
}
@media screen and (min-width: 500px) {
  div[is=social-sharing] ul {
    grid-gap: 0.75rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  div[is=social-sharing] li {
    margin: 0;
  }
}