.button-loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2D3788 url(loading.gif) no-repeat center center;
}

section[is=split-hero] div[is=split-hero-content] h4, section[is=split-hero] div[is=sub-promo] div[is=split-hero-content] h1, section[is=split-hero] div[is=split-hero-content] h1 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
}

a[is=outline-button] {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
}

a[is=outline-button] {
  font-weight: 400;
}

a[is=outline-button] {
  font-weight: 700;
}

section[is=split-hero] div[is=split-hero-content] h4 {
  font-weight: 900;
}

section[is=split-hero] div[is=split-hero-content] h1 {
  font-size: 3.2rem;
  line-height: 115%;
  letter-spacing: -0.64px;
}
@media screen and (min-width: 1080px) {
  section[is=split-hero] div[is=split-hero-content] h1 {
    font-size: 4.2rem;
    line-height: 115%;
    letter-spacing: -0.84px;
  }
}

section[is=split-hero] div[is=sub-promo] div[is=split-hero-content] h1 {
  font-size: 2.7rem;
  line-height: 115%;
  letter-spacing: -0.54px;
}
@media screen and (min-width: 1080px) {
  section[is=split-hero] div[is=sub-promo] div[is=split-hero-content] h1 {
    font-size: 3.4rem;
    line-height: 115%;
    letter-spacing: -0.68px;
  }
}

section[is=split-hero] div[is=split-hero-content] h4 {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
@media screen and (min-width: 1080px) {
  section[is=split-hero] div[is=split-hero-content] h4 {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 1.5px;
  }
}

a[is=outline-button] {
  font-size: 1.4rem;
  line-height: 115%;
  letter-spacing: 0px;
}
@media screen and (min-width: 1080px) {
  a[is=outline-button] {
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: 0px;
  }
}

a[is=outline-button] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  color: #2D3788;
  height: 3.2rem;
  white-space: nowrap;
  border: 1px solid #EBEDFA;
}
a[is=outline-button]:hover {
  background: #EBEDFA;
}

section[is=split-hero] {
  position: relative;
}
section[is=split-hero] img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 740px) {
  section[is=split-hero] {
    display: flex;
    align-items: stretch;
  }
}
section[is=split-hero] > div a {
  display: block;
  width: 100%;
  height: 100%;
}
section[is=split-hero] div[is=main-promo], section[is=split-hero] div[is=sub-promo] {
  border-radius: 1.6rem;
  overflow: hidden;
  flex: 1;
}
section[is=split-hero] div[is=main-promo] a > div, section[is=split-hero] div[is=sub-promo] a > div {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 740px) {
  section[is=split-hero] div[is=main-promo], section[is=split-hero] div[is=sub-promo] {
    height: 48rem;
  }
}
section[is=split-hero] div[is=main-promo] {
  margin-bottom: 2.4rem;
}
section[is=split-hero] div[is=main-promo] a > div {
  flex-direction: column-reverse;
}
@media screen and (min-width: 740px) {
  section[is=split-hero] div[is=main-promo] {
    margin-bottom: 0;
    margin-right: 2.4rem;
  }
  section[is=split-hero] div[is=main-promo] div[is=split-hero-content] {
    margin-right: -1.6rem;
    margin-top: 0;
    max-width: 28rem;
  }
  section[is=split-hero] div[is=main-promo] a > div {
    flex-direction: row;
  }
}
@media screen and (min-width: 740px) {
  section[is=split-hero] div[is=sub-promo] {
    max-width: 36rem;
  }
}
section[is=split-hero] div[is=split-hero-content] {
  padding: 4rem;
  border-radius: 1.6rem;
  margin-top: -1.6rem;
  position: relative;
  z-index: 1000;
}
section[is=split-hero] div[is=split-hero-content] > div:first-child {
  margin-bottom: 2.4rem;
}
section[is=split-hero] div[is=split-hero-image] {
  flex: 1;
}