section[is="split-hero"] {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-5);

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  & > div a {
    width: 100%;
    height: 100%;
  }

  & div[is="main-promo"],
  & div[is="sub-promo"] {
    border-radius: var(--radius-s);
    flex: 1;
    transition: all var(--duration-normal);
    transition-timing-function: var(--ease-spring);

    &:hover {
      scale: 1.02;
      transform: rotate(-1deg);

      & div[is="split-hero-content"] {
        scale: 1.05;
      }

      & div[is="split-hero-image"] {
        scale: 1.02;
        transform: rotate(2deg);
      }
    }

    & div[is="split-hero-promo-container"] {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      flex: 1;
      border-radius: var(--radius-s);
    }

    & a {
      display: flex;
      height: 100%;
    }
  }

  & div[is="sub-promo"] {
    & div[is="split-hero-promo-container"] {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }

  

  & div[is="split-hero-content"] {
    flex: 1;
    width: 100%;
    padding: var(--space-5);
    border-radius: var(--radius-s);
    position: relative;
    z-index: var(--z-base);
    transition: all var(--duration-normal);
    transition-timing-function: var(--ease-spring);

    & > div:first-child {
      margin-bottom: var(--space-3);

      & [is="label"] {
        margin-bottom: var(--space-1);
        display: block;
      }
    }

    @media (width >= 770px) {
      width: 80%;
      padding: var(--space-10) var(--space-5) var(--space-5) var(--space-5);
      margin-top: calc(-1 * var(--space-5));
    }
  }

  & div[is="split-hero-image"] {
    height: 30rem;
    width: 100%;
    border-radius: var(--radius-s);
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    z-index: var(--z-navigation);
    transition: all var(--duration-normal);
    transition-timing-function: var(--ease-spring);

    @media (width >= 770px) {
      width: 90%;
    }
  }

  @media (width >= 770px) {
    flex-direction: row;
    align-items: stretch;
  }
}
