
:root {
  --charcoal-1: 0 0% 100%;
  --charcoal-1-05: 0 0% 97.3%;
  --charcoal-1-25: 0 0% 89.8%;
  --charcoal-1-5: 0 0% 82.4%;
  --charcoal-2-5: 0 0% 63.9%;
  --charcoal-5: 0 0% 43.5%;
  --charcoal-8: 0 0% 31%;
  --charcoal-14: 0 0% 16.9%;
  --sea-1: 300 33.3% 99.4%;
  --sea-1-2: 240 25.7% 93.1%;
  --sea-1-4: 240 23.8% 87.6%;
  --sea-2: 242 24% 76.3%;
  --sea-3: 240 23.6% 65.1%;
  --sea-6: 236 25.9% 47.6%;
  --sea-10: 230 46.6% 34.5%;
  --sea-11: 230 51.6% 31.6%;
  --sea-12: 230 49.3% 28.6%;
  --sea-13: 231 47% 25.9%;
  --sea-14: 232 44.5% 23.3%;
  --sea-16: 235 39.3% 17.5%;
  --sea-17: 235 35.1% 14.5%;
  --sea-18: 240 29.8% 11.2%;
  --sun-1: 45 100% 99.2%;
  --sun-1-04: 36 100% 97.1%;
  --sun-1-1: 38 100% 93.1%;
  --sun-1-2: 38 100% 86.9%;
  --sun-1-5: 37 100% 72%;
  --sun-1-75: 39 95.1% 59.8%;
  --sun-2: 40 83.6% 54.5%;
  --sun-4-5: 39 63.4% 36.5%;
  --grass-4-5: 146 68.9% 31.6%;
  --sky-2: 215 83.9% 75.7%;
  --sky-6: 209 61.2% 39.4%;
  --berry-2: 350 67.6% 78.2%;
  --berry-6: 340 68.5% 43.5%;
  --violet-2: 282 42.9% 76.7%;
  --violet-6: 281 24.7% 43.7%;
}
iframe,
img,
svg,
video {
  display: block;
  max-width: 100%;
}
img {
  height: auto;
}
table {
  border-collapse: collapse;
  max-width: 100%;
}
caption,
td,
th {
  text-align: left;
}
td,
th {
  border-bottom: 1px solid hsl(var(--separator));
  padding: 0.75rem 1.5rem 0.75rem 0;
}

div[is="cart"] {
  margin-bottom: 5rem;
}
div[is="cart"] > form {
  grid-row-gap: 2rem;
  display: grid;
  grid-template-columns: 1fr;
}
div[is="cart"] > form > table {
  width: 100%;
}
div[is="cart"] > form > table > tbody > tr > td > a > img {
  display: block;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
div[is="cart"] > form > table > tbody > tr > td > label {
  display: none;
}
div[is="cart"] > form > table > tbody > tr > td > input {
  width: 2.5rem;
}
div[is="cart"] > form > div {
  background-color: hsl(var(--background-secondary));
  border-radius: 0.25rem;
  box-shadow: 0 2px 0 hsl(var(--drop) / 20%);
  padding: 2rem 1rem;
}
div[is="cart"] > form > div > button {
  max-width: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
}
div[is="cart"] > form > div > p {
  margin-bottom: 0;
  margin-top: 1.25em;
}
@media (min-width: 40em) {
  div[is="cart"] > form {
    grid-column-gap: 2rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }
  div[is="cart"] > form > * {
    grid-column: 1;
  }
  div[is="cart"] > form > div {
    align-self: flex-start;
    grid-column: 2;
    grid-row: 1;
    padding: 2rem;
    position: sticky;
    top: 1rem;
  }
  div[is="cart"] > form > table > tbody > tr > td > a {
    align-items: center;
    display: flex;
  }
  div[is="cart"] > form > table > tbody > tr > td > a > img {
    margin-bottom: 0;
  }
  div[is="cart"] > form > table > tbody > tr > td > input {
    width: 1.5rem;
  }
}
div[is="cart"] > p {
  margin-top: 2.5em;
}

button[is="command"] {
  background-color: hsl(var(--command));
  font-size: 0.83em;
  font-weight: 400;
  padding: 0.25rem 0.5rem;
}
button[is="command"]:hover {
  background-color: hsl(var(--accent) / 90%);
}
button[is="command"]:focus-visible {
  background-color: hsl(var(--focus));
  color: hsl(var(--on-focus));
}
dark-mode-toggle {
  --dark-mode-toggle-label: hsl(var(--toggle-label));
  --dark-mode-toggle-track: hsl(var(--toggle-track));
  --dark-mode-toggle-thumb: hsl(var(--toggle-thumb));
  --dark-mode-toggle-focus: hsl(var(--focus));
  margin-bottom: 1.5rem;
}
p[is="delivery"] {
  margin-bottom: 0;
  margin-top: 0;
}
p[is="delivery"] > a {
  display: flex;
  margin-bottom: 0;
}
p[is="delivery"] > a > svg {
  margin-right: 0.5rem;
}
p[is="delivery"].expanded {
  background-color: hsl(var(--triadic));
  border-radius: 0.5rem;
  max-width: 100%;
  padding: 1.5rem 1rem;
}
p[is="delivery"].expanded,
p[is="delivery"].expanded > a {
  color: hsl(var(--on-triadic));
}
@media (min-width: 40em) {
  p[is="delivery"].expanded {
    padding: 2rem;
  }
}
div[is="error-summary"] {
  background-color: hsl(var(--error));
  border-radius: 0.125rem;
  color: hsl(var(--on-error));
  padding: 0.25rem 1rem;
}
div[is="error"] {
  border-left: 0.5rem solid hsl(var(--error));
  padding-left: 0.5rem;
}
div[is="error"] > p {
  margin-bottom: 0.48em;
  margin-top: 0.48em;
}
div[is="error"] > p > strong {
  background-color: hsl(var(--error));
  border-radius: 0.125rem;
  color: hsl(var(--on-error));
  display: inline-block;
  font-weight: 400;
  padding: 0 0.5rem;
}
article[is="feature"] {
  text-align: center;
}
article[is="feature"] > img {
  margin-bottom: 1.25rem;
}
article[is="feature"] > h3 {
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 0;
}
div[is="features"] {
  grid-gap: 2rem;
  display: grid;
  grid-column: auto/span 1;
  grid-row: 3;
  margin-bottom: 0;
  margin-top: 3rem;
}
@media (min-width: 30em) {
  div[is="features"] {
    grid-template-columns: repeat(2, 1fr);
  }
  div[is="features"].one {
    grid-template-columns: repeat(1, 1fr);
  }
  div[is="features"].three {
    grid-template-columns: repeat(3, 1fr);
  }
  div[is="features"].four {
    grid-template-columns: repeat(2, 1fr);
  }
  div[is="features"].five {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 60em) {
  div[is="features"].four {
    grid-template-columns: repeat(4, 1fr);
  }
  div[is="features"].five {
    grid-template-columns: repeat(5, 1fr);
  }
}
article[is="prominent-feature"] {
  background-color: hsl(var(--elevated));
  border-radius: 0.5rem;
  box-shadow: 0 2px 0 hsl(var(--drop) / 10%);
  padding: 1rem;
}
article[is="prominent-feature"] > img {
  margin-bottom: 1.25rem;
}
article[is="prominent-feature"] > div {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
@media (min-width: 40em) {
  article[is="prominent-feature"] {
    padding: 1.5rem;
  }
}
div[is="prominent-features"] {
  grid-gap: 2rem;
  display: grid;
  margin-bottom: 0;
  margin-top: 3rem;
}
@media (min-width: 40em) {
  div[is="prominent-features"] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  div[is="prominent-features"].one {
    grid-template-columns: repeat(1, 1fr);
  }
  div[is="prominent-features"].three {
    grid-template-columns: repeat(3, 1fr);
  }
  div[is="prominent-features"].four {
    grid-template-columns: repeat(4, 1fr);
  }
}

div[is="gallery"] {
  grid-gap: 1.5rem;
  display: grid;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}
div[is="gallery"] > img {
  border-radius: 0.25rem;
}
@media (min-width: 40em) {
  div[is="gallery"] {
    grid-template-columns: repeat(2, 1fr);
  }
}


p[is="hint"] {
  color: hsl(var(--text-secondary));
}
img[is="in-action"] {
  border-radius: 0.5rem;
}
section[is="intro"] {
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0 1rem;
}
section[is="intro"].with-image {
  padding-bottom: 2rem;
}
@media (min-width: 40em) {
  section[is="intro"].with-image {
    grid-column-gap: 2rem;
    display: grid;
    grid-auto-flow: column;
    grid-row: auto;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  section[is="intro"].with-image > div {
    grid-column: 2;
    max-width: 30rem;
    text-align: left;
  }
  section[is="intro"].with-image > div > h1 {
    margin-bottom: 0;
    margin-top: 0;
  }
  section[is="intro"].with-image > img {
    grid-column: 1;
  }
  section[is="intro"] {
    padding-bottom: 2rem;
  }
  section[is="intro"] > div {
    margin-left: auto;
    margin-right: auto;
    max-width: 30rem;
    text-align: center;
  }
}
p[is="lede"] {
  font-size: 1.33em;
  line-height: 1.75;
  max-width: 30rem;
}
nav[is="menu"] {
  height: 100%;
}
nav[is="menu"] > ul {
  display: flex;
  height: 100%;
  justify-content: center;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
nav[is="menu"] > ul > li {
  align-items: center;
  display: flex;
  height: 100%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
nav[is="menu"] > ul > li > a {
  border-radius: 0.5rem;
  color: hsl(var(--on-complementary));
  display: block;
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
nav[is="menu"] > ul > li > a:hover {
  background-color: hsl(var(--complementary-hover));
}
@media (min-width: 20em) {
  nav[is="menu"] > ul > li > a {
    font-size: 110%;
  }
}
@media (min-width: 50em) {
  nav[is="menu"] > ul > li > a {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
nav[is="menu"] > ul > li.on {
  box-shadow: inset 0 -6px 0 0 hsl(var(--accent));
  margin-left: 1rem;
  margin-right: 1rem;
}
nav[is="menu"] > ul > li.on > a {
  padding-left: 0;
  padding-right: 0;
}
nav[is="menu"] > ul > li.on > a:hover {
  background-color: hsl(var(--complementary));
}
@media (min-width: 20em) {
  nav[is="menu"] > ul > li.on {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (min-width: 50em) {
  nav[is="menu"] > ul > li.on {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
}
div[is="page"] {
  padding-bottom: 4rem;
}
@media (min-width: 40em) {
  div[is="page"] {
    margin-left: auto;
    margin-right: auto;
    max-width: 30rem;
  }
}
ul[is="pagination"] {
  padding-left: 0;
}
ul[is="pagination"] > li {
  list-style: none;
}
ul[is="pagination"] > li > a {
  display: inline-block;
  padding-left: 1rem;
  position: relative;
}
ul[is="pagination"] > li > a:before {
  background-color: currentColor;
  -webkit-clip-path: polygon(0 3%, 2% 0, 22% 0, 30% 2%, 100% 48%, 100% 52%, 30% 98%, 22% 100%, 2% 100%, 0 97%, 70% 52%, 70% 48%);
  clip-path: polygon(0 3%, 2% 0, 22% 0, 30% 2%, 100% 48%, 100% 52%, 30% 98%, 22% 100%, 2% 100%, 0 97%, 70% 52%, 70% 48%);
  content: "";
  display: block;
  height: 0.75rem;
  left: 0;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  position: absolute;
  text-decoration: none;
  transform: rotate(180deg);
  width: 0.5rem;
}
ul[is="pagination"] > li > a > span {
  display: block;
}
ul[is="pagination"] > li > a > span:first-of-type {
  font-size: 1.17em;
  font-weight: 700;
}
ul[is="pagination"] > li:last-of-type {
  margin-top: 1em;
}
ul[is="pagination"] > li:last-of-type > a:before {
  transform: rotate(0deg);
}
div[is="people"] {
  grid-gap: 2rem;
  display: grid;
}
@media (min-width: 60em) {
  div[is="people"] {
    grid-template-columns: repeat(3, 1fr);
  }
}
ul[is="photo-stream"] {
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding-left: 0;
}
@media (min-width: 50em) {
  ul[is="photo-stream"] {
    grid-template-columns: repeat(4, 1fr);
  }
}

aside[is="product-recommendations"],
main[is="product"] {
  margin-bottom: 4rem;
}
main[is="product"] {
  margin-top: 2rem;
}
main[is="product"] > h1 {
  margin-top: 0;
}
main[is="product"] > img:first-of-type {
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
main[is="product"] > form {
  grid-gap: 0.75rem;
  background-color: hsl(var(--background-secondary));
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 0 2px 0 hsl(var(--drop) / 20%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  left: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 1.5rem 1rem;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 1;
}
main[is="product"] > form > button,
main[is="product"] > form > p {
  grid-row: 2;
}
main[is="product"] > form > div {
  grid-column: 1 / span 2;
  grid-row: 1;
  margin-bottom: 0.5rem;
}
main[is="product"] > form > p {
  align-self: center;
  font-size: 1.33em;
  margin-bottom: 0;
  margin-top: 0;
}
main[is="product"] > form > button {
  max-width: 100%;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  width: 100%;
}
@media (min-width: 50em) {
  main[is="product"] {
    grid-column-gap: 3rem;
    align-items: flex-start;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  main[is="product"] > * {
    grid-column: 1;
  }
  main[is="product"] > form {
    grid-column: 2;
    grid-row: 1 / span 2;
    grid-template-rows: repeat(3, auto);
    margin-left: 0;
    margin-right: 0;
    padding: 2rem;
    top: 1rem;
  }
  main[is="product"] > form > p {
    grid-row: 1;
    margin-bottom: 0;
    margin-top: 0;
  }
  main[is="product"] > form > button {
    grid-column: 1 / span 2;
    grid-row: 2;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 100%;
  }
  main[is="product"] > form > div {
    grid-row: 3;
    margin-top: 1rem;
  }
  main[is="product"] > img:first-of-type {
    margin-bottom: 0;
  }
}
a[is="promo"] {
  background: hsl(var(--elevated-secondary));
  border-radius: 0.5rem;
  box-shadow: 0 2px 0 hsl(var(--charcoal-14) / 20%);
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.75rem 1.25rem;
  place-content: flex-start;
  text-decoration: none;
}
a[is="promo"]:active {
  box-shadow: none;
  position: relative;
  top: 2px;
}
a[is="promo"]:focus-visible {
  box-shadow: 0 2px 0 hsl(var(--drop)), 0 0 0 4px hsl(var(--focus));
}
a[is="promo"]:visited > h3 {
  color: hsl(var(--visited));
}
a[is="promo"] > img {
  align-self: center;
}
a[is="promo"] > h3 {
  color: unset;
  margin-top: 1rem;
  text-decoration: underline;
}
a[is="promo"] > h3:hover {
  text-decoration: none;
}
a[is="promo"] > p {
  align-self: flex-start;
  color: hsl(var(--text));
  margin-top: 0;
}
div[is="promos"] {
  grid-gap: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin-bottom: 4rem;
  margin-top: 2rem;
}
div[is="promos"].two {
  grid-template-columns: 1fr;
}
@media (min-width: 40em) {
  div[is="promos"].two {
    grid-template-columns: repeat(2, 1fr);
  }
}
div[is="promos"].three {
  grid-template-columns: 1fr;
}
@media (min-width: 40em) {
  div[is="promos"].three {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 60em) {
  div[is="promos"].three {
    grid-template-columns: repeat(3, 1fr);
  }
}
div[is="promos"].four {
  grid-template-columns: 1fr;
}
@media (min-width: 40em) {
  div[is="promos"].four {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 80em) {
  div[is="promos"].four {
    grid-template-columns: repeat(4, 1fr);
  }
}
section[is="rich-text"] {
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 3rem 1rem;
}
section[is="rich-text"].alternative {
  background-color: hsl(var(--background-secondary));
}
section[is="rich-text"] > :first-child {
  margin-top: 0;
}
section[is="rich-text"] > :last-child {
  margin-bottom: 0;
}
@media (min-width: 40em) {
  section[is="rich-text"] {
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 5rem 2rem;
    text-align: center;
  }
  section[is="rich-text"] > h1,
  section[is="rich-text"] > h2,
  section[is="rich-text"] > h3,
  section[is="rich-text"] > ol,
  section[is="rich-text"] > p,
  section[is="rich-text"] > ul {
    margin-left: auto;
    margin-right: auto;
    max-width: 30rem;
  }
}

div[is="shop"] {
  margin-bottom: 2rem;
}
div[is="shop"] > div {
  display: grid;
  grid-template-columns: 1fr;
  place-items: flex-start;
}
@media (min-width: 40em) {
  div[is="shop"] > div {
    grid-column-gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  div[is="shop"] > div > div {
    justify-self: end;
  }
}
div[is="shop"] > section {
  padding-top: 1rem;
}
@media (min-width: 40em) {
  div[is="shop"] > section {
    padding-top: 2rem;
  }
  div[is="shop"] > section > h2,
  div[is="shop"] > section > p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
a[is="signpost"] {
  display: inline-block;
  font-size: 1.17em;
  font-weight: 700;
  padding-left: 2.25rem;
  padding-top: 0.125rem;
  position: relative;
  text-decoration: none;
}
a[is="signpost"]:hover {
  text-decoration: underline;
}
a[is="signpost"]:after {
  border: 2px solid;
  border-radius: 0.25rem;
  content: "";
  height: 1.25rem;
  left: 0;
  position: absolute;
  top: 0.25rem;
  width: 1.25rem;
}
a[is="signpost"]:before {
  background-color: currentColor;
  border: 1px solid;
  -webkit-clip-path: polygon(0 3%, 2% 0, 22% 0, 30% 2%, 100% 48%, 100% 52%, 30% 98%, 22% 100%, 2% 100%, 0 97%, 70% 52%, 70% 48%);
  clip-path: polygon(0 3%, 2% 0, 22% 0, 30% 2%, 100% 48%, 100% 52%, 30% 98%, 22% 100%, 2% 100%, 0 97%, 70% 52%, 70% 48%);
  content: "";
  display: inline-block;
  height: 0.75rem;
  left: 0.5rem;
  line-height: 1;
  margin-right: 0.5rem;
  position: absolute;
  text-decoration: none;
  top: calc(0.5rem + 1px);
  width: 0.5rem;
}
a[is="skip"] {
  color: hsl(var(--on-focus));
  display: block;
  left: -100vw;
  padding: 0.5rem 2rem;
  position: absolute;
  text-align: center;
}
a[is="skip"]:hover {
  text-decoration: none;
}
a[is="skip"]:focus {
  background-color: hsl(var(--focus));
  left: 0;
  right: 0;
  z-index: 3;
}
ul[is="social-sharing"] {
  list-style: none;
  padding-left: 0;
}
ul[is="social-sharing"] > li {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
ul[is="social-sharing"] > li > a {
  align-items: center;
  display: flex;
}
ul[is="social-sharing"] > li > a > svg {
  margin-right: 0.5rem;
}
@media (min-width: 50em) {
  ul[is="social-sharing"] {
    grid-gap: 0.75rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
div[class="testimonial"] > img {
  margin-right: 2rem;
}
div[class="testimonial"] > div > blockquote {
  margin-left: 0;
}
@media (min-width: 30em) {
  div[class="testimonial"] {
    display: flex;
  }
}

