div[is="universal-features-mini"] {
  font-size: var(--text-body-4);
  line-height: var(--leading-snug);
  margin: var(--space-5) 0 var(--space-4);

  & ul {
    display: grid;
    gap: var(--space-2);
    grid-template-columns: repeat(4, 1fr);
  }

  & li {
    list-style: none;
    text-align: center;

    & img {
      width: 100%;
      max-width: 10rem;
      margin: 0 auto 0.6rem;
      cursor: default;
    }

    & h4 {
      font-size: var(--text-body-4);
      font-weight: var(--weight-regular);
      line-height: var(--leading-snug);
      text-align: center;
    }
  }

  @media (width >= 770px) {
    & ul {
      gap: var(--space-2-5);
    }
  }

  @media (width >= 1080px) {
    & ul {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
