section[is="warning-banner"] {
  margin-bottom: var(--space-2);

  @media (width >= 770px) {
    margin-top: calc(-1 * var(--space-3));
  }

  & > a {
    display: flex;
    max-width: var(--content-max);
    margin: 0 auto;
    transition: all 0.2s var(--ease-standard);

    &:hover {
      scale: 1.03;
    }

    & .cta-label {
      display: inline-flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: var(--text-body-4);
      font-weight: var(--weight-bold);
      line-height: var(--leading-snug);
      border-radius: var(--radius-xs);
      padding-inline: var(--space-1-5);
      color: var(--color-blue-1000);
      height: var(--btn-height-micro);
      white-space: nowrap;
      background: var(--color-blue-100);
    }

    & > div {
      background: var(--color-blue-200);
      border-radius: var(--radius-s);
      padding: var(--space-2) var(--space-2) var(--space-2) var(--space-4);
      margin: 0 auto;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: var(--space-3);

      & h4 {
        font-size: var(--text-body-3);
        font-weight: var(--weight-bold);
        line-height: var(--leading-snug);
        display: inline;
        padding-inline-end: var(--space-0-5);
      }

      & p {
        font-size: var(--text-body-3);
        line-height: var(--leading-snug);
        display: inline;
        max-width: var(--text-max);
      }
    }
  }
}
