:root {
  --charcoal-1: 0 0% 100%;
  --charcoal-1-05: 0 0% 97.3%;
  --charcoal-1-25: 0 0% 89.8%;
  --charcoal-1-5: 0 0% 82.4%;
  --charcoal-2-5: 0 0% 63.9%;
  --charcoal-5: 0 0% 43.5%;
  --charcoal-8: 0 0% 31%;
  --charcoal-14: 0 0% 16.9%;
  --sea-1: 300 33.3% 99.4%;
  --sea-1-2: 240 25.7% 93.1%;
  --sea-1-4: 240 23.8% 87.6%;
  --sea-2: 242 24% 76.3%;
  --sea-3: 240 23.6% 65.1%;
  --sea-6: 236 25.9% 47.6%;
  --sea-10: 230 46.6% 34.5%;
  --sea-11: 230 51.6% 31.6%;
  --sea-12: 230 49.3% 28.6%;
  --sea-13: 231 47% 25.9%;
  --sea-14: 232 44.5% 23.3%;
  --sea-16: 235 39.3% 17.5%;
  --sea-17: 235 35.1% 14.5%;
  --sea-18: 240 29.8% 11.2%;
  --sun-1: 45 100% 99.2%;
  --sun-1-04: 36 100% 97.1%;
  --sun-1-1: 38 100% 93.1%;
  --sun-1-2: 38 100% 86.9%;
  --sun-1-5: 37 100% 72%;
  --sun-1-75: 39 95.1% 59.8%;
  --sun-2: 40 83.6% 54.5%;
  --sun-4-5: 39 63.4% 36.5%;
  --grass-4-5: 146 68.9% 31.6%;
  --sky-2: 215 83.9% 75.7%;
  --sky-6: 209 61.2% 39.4%;
  --berry-2: 350 67.6% 78.2%;
  --berry-6: 340 68.5% 43.5%;
  --violet-2: 282 42.9% 76.7%;
  --violet-6: 281 24.7% 43.7%;
}
