@font-face {
  font-display: swap;
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 400;
  src: url("sofia-pro.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Sofia Pro";
  font-style: italic;
  font-weight: 400;
  src: url("sofia-pro-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 700;
  src: url("sofia-pro-bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Sofia Pro";
  font-style: italic;
  font-weight: 700;
  src: url("sofia-pro-bold-italic.woff2") format("woff2");
}
