{{ 'shop.css' | asset_url | stylesheet_tag }}

<div is="shop">

  {% render 'section-header', title: collection.title, text: collection.description, large: true %}

  <div is="product-promos">
    <div class="four">
      {%- for product in collection.products -%}
        {% render 'product-promo', product: product %}
      {%- endfor -%}
    </div>
  </div>
</div>
