{{ 'shop.css' | asset_url | stylesheet_tag }}
{{ 'collections.css' | asset_url | stylesheet_tag }}
{{ assign pagetitle = "Shop" }}

<div is="shop">
  <div class="main-content">

    <div class="collections">
      <ul>
        {% for collection in collections %}
          <!-- collection info -->
          <li>{% render 'collection-promo', collection: collection %}</li>
        {% endfor %}
      </ul>
    </div>
  
    {% comment %} <div is='delivery-container'>{% render 'delivery' %}</div> {% endcomment %}
    {% render 'universal-features' %}
  </div>
</div>
{% section 'about-brand' %}