{{ 'shop.css' | asset_url | stylesheet_tag }}
{{ 'collections.css' | asset_url | stylesheet_tag }}
{{ assign pagetitle = "Shop" }}

<div is="shop">
  <div class="main-content">

    <div class="collections">
      <ul>
        {% for collection in collections %}
          <!-- collection info -->
          {% if collection.products_count > 0 %}
            <li>{% render 'collection-promo', collection: collection %}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  
    {% comment %} <div is='delivery-container'>{% render 'delivery' %}</div> {% endcomment %}
    {% comment %} {% render 'universal-features' %} {% endcomment %}
  </div>
</div>