<main id="main">
  {% section 'intro-stock-us' %}
  {% section 'featured-cards-stock-us' %}
  {% section 'featured-list-stock-us' %}
  {% section 'rich-text-stockists' %}
  {% section 'logo-list-shops' %}
  {% section 'logo-list-museums' %}
  {% section 'logo-list-attractions' %}
  {% section 'rich-text-stock-us' %}
</main>
{% include 'about-brand' %}
