<main id="main">
  {% section 'intro-about' %}
  {% section 'image-with-text-educational' %}
  {% section 'featured-cards-sustainability' %}
  {% section 'image-with-text-award' %}
  {% section 'image-with-text-pete' %}
  {% section 'featured-list-new-worlds' %}
  {% section 'featured-cards-team' %}
  {% section 'page-promo-about' %}
</main>
