:root {
  --text: var(--white);
  --text-secondary: var(--gray-3);
  --background: var(--gray-9);
  --elevated: var(--gray-8);
  --sunken: var(--gray-10);
  --drop: var(--black);
  --inset: var(--gray-7);
  --separator: var(--gray-8);
  --separator-on-elevated: var(--gray-7);
  --input: var(--gray-7);
  --input-icon: var(--gray-3);
  --icon: var(--gray-7);
  --icon-secondary: var(--gray-8);
  --command: var(--gray-6);
  --accent: var(--gray-7);
  --accent-drop: var(--gray-9);
  --accent-inset: var(--gray-5);
  --on-accent: var(--white);
  --link: var(--blue-2);
  --visited: var(--purple-2);
  --active: var(--red);
  --focus: var(--yellow);
  --focus-drop: var(--yellow);
  --focus-inset: var(--yellow);
  --on-focus: var(--black);
  --on-focus-link: var(--blue);
  --on-focus-visited: var(--purple);
  --on-focus-active: var(--red);
  --meta: var(--gray-9);
  --on-meta: var(--gray-4);
  --error: var(--red);
  --on-error: var(--white);
  --toggle-label-color: var(--white);
  --toggle-track-background: var(--gray-9);
  --toggle-track-drop: var(--gray-10);
  --toggle-track-inset: var(--gray-8);
  --toggle-thumb-background: var(--gray-6);
  --toggle-thumb-drop: var(--gray-8);
  --toggle-thumb-inset: var(--gray-4);
  --element-library-background: var(--black);
  --logo: var(--gray-8);
  --logo-secondary: var(--white);
}
