:root {
  --text: var(--charcoal-1-5);
  --text-display: var(--charcoal-1-25);
  --text-secondary: var(--charcoal-2-5);
  --background: var(--sea-14);
  --sunken: var(--sea-16);
  --drop: var(--sea-17);
  --inset: var(--sea-6);
  --separator: var(--sea-11);
  --input: var(--sea-6);
  --input-icon: var(--sea-3);
  --command: var(--sun-1-5);
  --icon: var(--sea-6);
  --icon-secondary: var(--sea-10);
  --link: var(--sky-2);
  --visited: var(--violet-2);
  --active: var(--berry-2);
  --focus: var(--sun-1-2);
  --focus-drop: var(--sun-1-5);
  --focus-inset: var(--sun-1-1);
  --on-focus: var(--sea-10);
  --on-focus-link: var(--sky-6);
  --on-focus-visited: var(--violet-6);
  --on-focus-active: var(--berry-6);
  --meta: var(--sea-11);
  --on-meta: var(--sea-2);
  --error: var(--berry-6);
  --on-error: var(--charcoal-1);
  --accent: var(--sun-1-75);
  --accent-drop: var(--sun-2);
  --accent-inset: var(--sun-1);
  --on-accent: var(--sea-12);
  --complementary: var(--sea-11);
  --on-complementary: var(--sea-1-2);
  --on-complementary-link: var(--sky-2);
  --on-complementary-visited: var(--violet-2);
  --on-complementary-active: var(--berry-2);
  --on-complementary-separator: var(--sea-6);
  --triadic: var(--grass-4-5);
  --on-triadic: var(--charcoal-1);
  --toggle-label: var(--sea-1-2);
  --toggle-track: var(--sun-1-5);
  --toggle-thumb: var(--sea-1);
  --logo: var(--sea-11);
  --logo-secondary: var(--sea-1);
  --hero: var(--sea-16);
  --on-hero: var(--charcoal-1-5);
  --call-out: var(--sea-16);
  --call-out-separator: var(--sea-12);
  --product: var(--sea-16);
  --pete: var(--sea-6);
  --pete-drop: var(--sea-16);
  --about-background: var(--sea-16);
  --about-elevated: var(--sea-12);
}
