:root {
  /*--text: var(--sea-10);
  --text-secondary: var(--sea-10);
  --background: var(--sea-1-1);
  --elevated: var(--sea-1);
  --sunken: var(--sea-1-2);
  --drop: var(--sea-2);
  --inset: var(--sea-1);
  --separator: var(--sea-3);
  --separator-on-elevated: var(--sea-2);
  --input: var(--sea-3);
  --input-icon: var(--sea-5);
  --icon: var(--sea-6);
  --icon-secondary: var(--sea-10);
  --accent: var(--sun-1-5);
  --accent-drop: var(--sun-2);
  --accent-inset: var(--sea-1-1);
  --on-accent: var(--sea-12);
  --link: var(--sky-4-5);
  --visited: var(--violet-7);
  --active: var(--blood-6);
  --focus: var(--sun-1-2);
  --focus-drop: var(--sun-1-5);
  --focus-inset: var(--sun-1-1);
  --on-focus: var(--sea-10);
  --on-focus-link: var(--sky-6);
  --on-focus-visited: var(--violet-7);
  --on-focus-active: var(--berry-6);
  --meta: var(--sea-1-2);
  --on-meta: var(--sea-12);
  --error: var(--berry-6);
  --on-error: var(--sea-1);
  --toggle-label-color: var(--sea-6);
  --toggle-track-background: var(--sea-1-2);
  --toggle-track-drop: var(--sea-1);
  --toggle-track-inset: var(--sea-2);
  --toggle-thumb-background: var(--sea-2);
  --toggle-thumb-drop: var(--sea-3);
  --toggle-thumb-inset: var(--sea-1-1);
  --element-library-background: var(--sea-1-1);*/
  --text: var(--black);
  --text-secondary: var(--gray-7);
  --background: var(--gray-1);
  --elevated: var(--white);
  --sunken: var(--gray-2);
  --drop: var(--gray-4);
  --inset: var(--white);
  --separator: var(--gray-4);
  --separator-on-elevated: var(--gray-3);
  --input: var(--gray-6);
  --input-icon: var(--gray-8);
  --icon: var(--gray-4);
  --icon-secondary: var(--gray-3);
  --accent: var(--gray-7);
  --accent-drop: var(--gray-9);
  --accent-inset: var(--gray-5);
  --on-accent: var(--white);
  --link: var(--blue);
  --visited: var(--purple);
  --active: var(--red);
  --focus: var(--yellow);
  --focus-drop: var(--yellow);
  --focus-inset: var(--yellow);
  --on-focus: var(--black);
  --on-focus-link: var(--blue);
  --on-focus-visited: var(--purple);
  --on-focus-active: var(--red);
  --meta: var(--gray-4);
  --on-meta: var(--gray-10);
  --error: var(--red);
  --on-error: var(--white);
  --toggle-label-color: var(--black);
  --toggle-track-background: var(--gray-2);
  --toggle-track-drop: var(--gray-4);
  --toggle-track-inset: var(--gray-1);
  --toggle-thumb-background: var(--gray-6);
  --toggle-thumb-drop: var(--gray-8);
  --toggle-thumb-inset: var(--gray-4);
  --element-library-background: var(--white);
  --logo: var(--gray-8);
  --logo-secondary: var(--white);
}
