/**
 * Fonts
 */

@font-face {
  font-display: swap;
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 400;
  src: url("sofia-pro.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Sofia Pro";
  font-style: italic;
  font-weight: 400;
  src: url("sofia-pro-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 700;
  src: url("sofia-pro-bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Sofia Pro";
  font-style: italic;
  font-weight: 700;
  src: url("sofia-pro-bold-italic.woff2") format("woff2");
}

/**
 * Root
 */

:root {
  --charcoal-1: 0 0% 100%;
  --charcoal-1-05: 0 0% 97.3%;
  --charcoal-1-25: 0 0% 89.8%;
  --charcoal-1-5: 0 0% 82.4%;
  --charcoal-2-5: 0 0% 63.9%;
  --charcoal-5: 0 0% 43.5%;
  --charcoal-8: 0 0% 31%;
  --charcoal-14: 0 0% 16.9%;
  --sea-1: 300 33.3% 99.4%;
  --sea-1-2: 240 25.7% 93.1%;
  --sea-1-4: 240 23.8% 87.6%;
  --sea-2: 242 24% 76.3%;
  --sea-3: 240 23.6% 65.1%;
  --sea-6: 236 25.9% 47.6%;
  --sea-10: 230 46.6% 34.5%;
  --sea-11: 230 51.6% 31.6%;
  --sea-12: 230 49.3% 28.6%;
  --sea-14: 232 44.5% 23.3%;
  --sea-16: 235 39.3% 17.5%;
  --sea-17: 235 35.1% 14.5%;
  --sun-1: 45 100% 99.2%;
  --sun-1-04: 36 100% 97.1%;
  --sun-1-1: 38 100% 93.1%;
  --sun-1-2: 38 100% 86.9%;
  --sun-1-5: 37 100% 72%;
  --sun-1-75: 39 95.1% 59.8%;
  --sun-2: 40 83.6% 54.5%;
  --sun-4-5: 39 63.4% 36.5%;
  --grass-4-5: 146 68.9% 31.6%;
  --sky-2: 215 83.9% 75.7%;
  --sky-6: 209 61.2% 39.4%;
  --berry-2: 350 67.6% 78.2%;
  --berry-6: 340 68.5% 43.5%;
  --violet-2: 282 42.9% 76.7%;
  --violet-6: 281 24.7% 43.7%;
}

/**
 * Base
 */

html {
  background-color: hsl(var(--sunken));
  color: hsl(var(--text));
  color-scheme: light dark;
  font-family: "Sofia Pro", sans-serif;
  font-size: 93.75%;

  @media (min-width: 40em) {
    font-size: 100%;
  }

  @media (min-width: 56em) {
    font-size: 106.25%;
  }

  @media (min-width: 72em) {
    font-size: 112.5%;
  }
}

body {
  background-color: hsl(var(--background));
  box-shadow: 0 8px 8px hsl(var(--drop));
  margin: 0 auto;
  max-inline-size: 90rem;
}

main {
  margin-block-end: 3rem;
  padding-inline: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(var(--text-display));
}

h1,
h2 {
  line-height: 1.2;
}

h1 {
  font-size: 3em;
  margin-block-end: 0.28em;
}

h2 {
  font-size: 2.5em;
  margin-block-end: 0.48em;
}

h3 {
  font-size: 2em;
  margin-block-end: 0.58em;
}

h4 {
  font-size: 1.5em;
  margin-block-end: 0.83em;
}

h5 {
  font-size: 1.17em;
  margin-block-end: 1em;
}

h6 {
  font-size: 1em;
  margin-block-end: 1.5em;
}

cite,
dd,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
li,
p {
  max-inline-size: 50ch;
}

address,
dd,
dt,
h3,
h4,
h5,
h6,
li,
p,
td,
th {
  line-height: 1.5;
}

blockquote,
figure {
  margin-inline: 2rem;
}

dd {
  margin-inline-start: 2rem;
}

ol,
ul {
  padding-inline-start: 2rem;
}

figcaption {
  margin-block: 0.48em;
}

sub,
sup {
  line-height: 1;
}

abbr {
  text-decoration: none;
}

hr {
  border-style: solid;
  color: hsl(var(--separator));
  margin-inline: 0;
}

iframe,
img,
svg,
video {
  display: block;
  max-inline-size: 100%;
}

img {
  block-size: auto;
  filter: grayscale(1);
}

table {
  border-collapse: collapse;
  max-inline-size: 100%;
}

caption {
  text-align: start;
}

td,
th {
  border-block-end: 1px solid hsl(var(--separator));
  padding: 0.75rem 1.5rem 0.75rem 0;
  text-align: start;
}

form {
  margin-block: 1rem;
}

fieldset {
  border: none;
  max-inline-size: 100%;
  padding: 0;

  & > div {
    display: grid;
    grid-gap: 1.25rem;
    position: relative;

    & > div {
      position: relative;
    }
  }
}

legend {
  color: hsl(var(--text-display));
  font-family: inherit;
  font-size: 1.5em;
  font-weight: 700;
  margin-block-end: 1rem;
}

label {
  display: block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  margin-block: 0.48em;

  & > input {
    margin-inline-end: 0.5rem;
  }
}

input,
select,
textarea {
  background-color: transparent;
  border: 1px solid hsl(var(--input));
  border-radius: 0.125rem;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  max-inline-size: 100%;
  padding: 0.5rem;

  &::placeholder {
    color: hsl(var(--text-secondary));
  }
}

audio,
input,
select,
textarea,
video {
  &:focus {
    box-shadow: 0 0 0 3px hsl(var(--focus));
    outline: 0;
  }
}

input[type="checkbox"],
input[type="radio"] {
  opacity: 0%;
  position: absolute;

  & + label {
    cursor: pointer;
    padding-inline-start: 2rem;
    position: relative;

    &::before {
      block-size: 1rem;
      border: 1px solid hsl(var(--input));
      border-radius: 0.125rem;
      content: "";
      inline-size: 1rem;
      inset-block-start: 0;
      inset-inline-start: 0;
      position: absolute;
      z-index: 1;
    }

    &::after {
      block-size: 0.25rem;
      border: 0 solid hsl(var(--input-icon));
      border-block-end-width: 0.25rem;
      border-block-start-color: transparent;
      border-inline-start-width: 0.25rem;
      content: "";
      inline-size: 0.75rem;
      inset-block-start: 0.25rem;
      inset-inline-start: 0;
      opacity: 0%;
      position: absolute;
      transform: rotate(-45deg) scale(0.75) translate(0.125rem);
    }
  }

  &:checked {
    & + label {
      &::after {
        opacity: 100%;
      }
    }
  }

  &:focus {
    & + label {
      &::before {
        box-shadow: 0 0 0 3px hsl(var(--focus));
      }
    }
  }
}

input[type="radio"] {
  & + label {
    &::before {
      border-radius: 50%;
    }

    &::after {
      background: hsl(var(--input-icon));
      block-size: 1rem;
      border: 1px solid hsl(var(--input-icon));
      border-radius: 50%;
      inline-size: 1rem;
      inset-block-start: 0;
      transform: scale(0.6);
    }
  }
}

input[type="range"] {
  appearance: none;
  border: none;
  box-shadow: none;
  padding: 0;

  &::-moz-range-track {
    background: hsl(var(--input));
    block-size: 0.125rem;
    cursor: pointer;
  }

  &::-webkit-slider-runnable-track {
    background: hsl(var(--input));
    block-size: 0.125rem;
    cursor: pointer;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    background: hsl(var(--input-icon));
    block-size: 1rem;
    border: 1px solid hsl(var(--input-icon));
    border-radius: 50%;
    cursor: pointer;
    inline-size: 1rem;
    margin-block-start: -0.5rem;
    transform: translateY(1px);
  }

  &::-moz-range-thumb {
    appearance: none;
    background: hsl(var(--input-icon));
    block-size: 1rem;
    border: 1px solid hsl(var(--input-icon));
    border-radius: 50%;
    cursor: pointer;
    inline-size: 1rem;
    margin-block-start: -0.5rem;
    transform: translateY(1px);
  }

  &:focus {
    outline: none;

    &::-moz-range-thumb {
      box-shadow: 0 0 0 4px hsl(var(--focus));
    }

    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 4px hsl(var(--focus));
    }
  }
}

select {
  appearance: none;
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      hsl(var(--input-icon)) 50%
    ),
    linear-gradient(135deg, hsl(var(--input-icon)) 50%, transparent 50%);
  background-position: calc(100% - 15px) 1rem, calc(100% - 10px) 1rem;
  background-repeat: no-repeat;
  background-size: 5px 5px, 5px 5px;
}

button {
  background-color: hsl(var(--accent));
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 2px 0 0 hsl(var(--accent-drop));
  color: hsl(var(--on-accent));
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  max-inline-size: max-content;
  padding: 0.5rem 1.25rem;

  &:hover {
    background-color: hsl(var(--accent));
  }

  &:focus-visible {
    box-shadow: 0 2px 0 0 hsl(var(--focus-drop)),
      inset 0 1px 0 0 hsl(var(--focus-inset));
    color: hsl(var(--on-focus));
  }

  &:active {
    box-shadow: none;
    inset-block-start: 2px;
    position: relative;
  }
}

a,
button,
summary {
  cursor: pointer;
  user-select: none;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background-color: hsl(var(--focus));
    outline: none;
  }
}

a,
summary {
  &:focus-visible {
    box-shadow: 0px 0px 0px 4px hsl(var(--focus));
    color: hsl(var(--on-focus));
  }
}

a {
  color: hsl(var(--link));

  &:focus {
    color: hsl(var(--on-focus-link));
  }

  &:visited {
    color: hsl(var(--visited));

    &:focus-visible {
      color: hsl(var(--on-focus-visited));
    }
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    color: hsl(var(--active));

    &:focus-visible {
      color: hsl(var(--on-focus-active));
    }
  }
}

::selection {
  background-color: hsl(var(--accent));
  color: hsl(var(--on-accent));
}

/**
 * Specifics
 */

/* About */

aside[is="about"] {
  background-color: hsl(var(--about-background));
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  margin-block-start: 2rem;
  padding-block: 2rem 4rem;
  padding-inline: 1rem;

  & > article,
  & > div > article {
    background-color: hsl(var(--about-elevated));
    border-radius: 0.5rem;

    & > h4,
    & > h5 {
      align-self: end;

      &::before {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        block-size: 2rem;
        content: "";
        display: inline-block;
        inline-size: 2rem;
        margin-block-end: -0.5rem;
        margin-inline-end: 0.75rem;
      }
    }

    & > p {
      margin-block-start: 0;
    }

    & > h4,
    & > h5,
    & > p {
      margin-inline: 2rem;
    }

    & > img {
      margin: 1rem;
      max-inline-size: calc(100% - 2rem);
    }

    &.primary {
      display: grid;
      grid-template-rows: repeat(2, auto);

      & > h4 {
        margin-block-start: 1rem;

        &::before {
          background-image: url("hands-on.svg");
        }
      }

      & > p {
        margin-block-end: 2rem;
      }

      & > img {
        grid-row: 1;
      }

      @media (min-width: 60em) {
        grid-template-columns: repeat(2, auto);

        & > h4 {
          grid-column: 2;
          grid-row: 1;
        }

        & > p {
          grid-column: 2;
          grid-row: 2;
        }

        & > img {
          grid-column: 1;
          grid-row: span 2;
        }
      }
    }
  }

  & > div.secondary {
    & > article {
      padding-block-end: 1rem;
      padding-block-start: 1.5rem;

      & > h5 {
        margin-block-start: 0;
      }

      &:first-of-type {
        margin-block-end: 2rem;

        & > h5 {
          &::before {
            background-image: url("eco-friendly.svg");
          }
        }
      }

      &:last-of-type {
        & > h5 {
          &::before {
            background-image: url("affordable.svg");
          }
        }
      }
    }
    @media (min-width: 40em) {
      display: grid;
      grid-column-gap: 2rem;
      grid-template-columns: 1fr 1fr;

      &:first-of-type {
        & > article {
          margin-block-end: 0;
        }
      }
    }
  }

  @media (min-width: 30em) {
    display: flex;
    flex-direction: column;
    grid-column: 50% / span 2;
    grid-row: 2;
    justify-content: center;

    & > a {
      grid-column: auto / span 2;
      grid-row: 3;
    }

    & > article.primary {
      grid-column: auto / span 2;
      grid-row: 1;

      & > img {
        order: 1;
      }

      & > div {
        order: 2;
      }

      & > h4,
      & > p {
        margin-inline: 2rem;
      }

      @media (min-width: 60em) {
        flex-direction: row;
      }
    }
  }

  @media (min-width: 40em) {
    & > a {
      margin-inline: auto;
    }
  }
}

/* Benefits */

ul[is="benefits"] {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    margin-block: 1rem;
    padding-inline-end: 2rem;
    text-align: center;

    & > img {
      margin-block: 1rem;
      margin-inline: auto;
    }
  }

  @media (min-width: 50em) {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Brand */

section[is="brand"] {
  display: grid;
  margin-block-end: 4rem;
  margin-block-start: 2rem;

  @media (min-width: 50em) {
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    & > div {
      align-self: center;
      grid-column: 2;
      grid-row: span 2;
      padding-inline-start: 2rem;
    }

    & > img {
      align-self: center;
      grid-column: 1;
      grid-row: span 2 / -1;
    }
  }
}

/* Breadcrumbs */

ul[is="breadcrumbs"] {
  display: flex;
  flex-wrap: wrap;
  padding-inline: 1rem;

  & > li {
    display: flex;
    list-style: none;

    &::before {
      background-color: hsl(var(--text) / 50%);
      block-size: 0.75rem;
      clip-path: polygon(
        0 3%,
        2% 0,
        22% 0,
        30% 2%,
        100% 48%,
        100% 52%,
        30% 98%,
        22% 100%,
        2% 100%,
        0 97%,
        70% 52%,
        70% 48%
      );
      content: "";
      inline-size: 0.5rem;
      inset-block-start: 0.5rem;
      margin-inline-end: 0.5rem;
      position: relative;
      transform: rotate(180deg);
    }

    &:not(:last-of-type) {
      display: none;
    }

    @media (min-width: 26em) {
      &:first-of-type {
        &::before {
          display: none;
        }
      }

      &:not(:last-of-type) {
        display: flex;
      }

      &:not(:first-of-type) {
        &::before {
          margin-inline-start: 0.5rem;
          transform: rotate(0deg);
        }
      }
    }
  }
}

/* Call out */

article[is="call-out"] {
  background-color: hsl(var(--call-out));
  border-radius: 0.5rem;
  margin: 0.5rem;
  max-inline-size: 50rem;
  padding: 2rem;

  & > h2 {
    font-size: 1.5em;
    margin-block: 0;
  }
}

/* Call outs */

div[is="call-outs"] {
  background-color: hsl(var(--call-out-separator));
  display: grid;
  margin-block: 2rem;
  margin-inline: -1rem;
  padding: 0.5rem;

  @media (min-width: 40em) {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Basket */

main[is="basket"] {
  & > form {
    & > table {
      & > tbody {
        & > tr {
          & > td {
            & > input {
              inline-size: 1.5rem;
            }
          }
        }
      }
    }

    @media (min-width: 40em) {
      display: grid;
      grid-column-gap: 2rem;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto;

      & > * {
        grid-column: 1;
      }

      & > div {
        grid-column: 2;
        grid-row: 1;
        inset-block-start: 2rem;
        position: sticky;

        & > div {
          padding: 0;
        }
      }
    }
  }
}

/* Command */

button[is="command"] {
  background-color: hsl(var(--command));
  font-size: 0.83em;
  font-weight: 400;
  padding: 0.25rem 0.5rem;
}

/* Error */

div[is="error"] {
  border-inline-start: hsl(var(--error)) solid 0.5rem;
  padding-inline-start: 0.5rem;

  & > p {
    margin-block: 0.48em;

    & > strong {
      background-color: hsl(var(--error));
      border-radius: 0.125rem;
      color: hsl(var(--on-error));
      display: inline-block;
      font-weight: 400;
      padding: 0 0.5rem;
    }
  }
}

/* Error summary */

div[is="error-summary"] {
  background-color: hsl(var(--error));
  border-radius: 0.125rem;
  color: hsl(var(--on-error));
  padding: 0.25rem 1rem;
}

/* Example */

div[is="example"] {
  border-radius: 0.125rem;
  box-shadow: 0 0 0 1px hsl(var(--separator));
  margin-block: 2rem;
  padding: 2.5rem 1rem 1rem;
  position: relative;

  &::before {
    background-color: hsl(var(--meta));
    border-end-end-radius: 0.125rem;
    color: hsl(var(--on-meta));
    content: "Example " attr(data-name);
    display: block;
    font-size: 0.67em;
    inset-block-start: 0;
    inset-inline-start: 0;
    line-height: 1.2;
    padding: 0.25rem 0.5rem;
    position: absolute;
  }
}

/* Dark mode toggle */

dark-mode-toggle {
  --dark-mode-toggle-label: hsl(var(--toggle-label));
  --dark-mode-toggle-track: hsl(var(--toggle-track));
  --dark-mode-toggle-thumb: hsl(var(--toggle-thumb));
  --dark-mode-toggle-focus: hsl(var(--focus));
}

/* Delivery */

p[is="delivery"] {
  background-color: hsl(var(--triadic));
  border-radius: 0.5rem;
  color: hsl(var(--on-triadic));
  display: flex;
  padding: 2rem;

  & > svg {
    margin-inline-end: 0.5rem;
  }

  & > a {
    color: hsl(var(--on-triadic));
  }
}

/* Element Library */

main[is="element-library"] {
  margin-block-start: 4rem;
  margin-inline: auto;
  max-inline-size: 30rem;
  padding-inline: 1rem;
}

/* Fact */

dl[is="fact"] {
  align-items: center;
  border-block-end: 1px solid hsl(var(--separator));
  border-radius: 100% / 2rem;
  display: flex;
  justify-content: center;
  margin-block-start: 1.5rem;
  padding-block-end: 1.5rem;

  & > dt {
    display: flex;
    font-size: 3em;
    font-weight: 700;
    line-height: 1;

    & > svg {
      color: hsl(var(--icon));
      margin-block-start: 0.5rem;
      margin-inline-end: 0.5rem;
    }

    & > sup {
      font-size: 0.48em;
    }
  }

  & > dd {
    margin-block-start: 0.25rem;
    margin-inline-start: 1.25rem;
    text-align: start;
  }
}

/* Hero */

section[is="hero"] {
  background-color: hsl(var(--hero));
  display: grid;
  grid-template-rows: repeat(3, auto);
  margin-inline: -1rem;
  overflow: hidden;
  padding: 1.5rem;
  position: relative;

  &::before {
    background-image: linear-gradient(
        hsl(var(--on-complementary) / 5%) 2px,
        transparent 2px
      ),
      linear-gradient(
        90deg,
        hsl(var(--on-complementary) / 5%) 2px,
        transparent 2px
      ),
      linear-gradient(hsl(var(--on-complementary) / 5%) 1px, transparent 1px),
      linear-gradient(
        90deg,
        hsl(var(--on-complementary) / 5%) 1px,
        transparent 1px
      );
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    content: "";
    inset: -3rem;
    position: absolute;
    transform: rotate(2.5deg);
  }

  & > h1,
  & > p {
    color: hsl(var(--on-hero));
    max-inline-size: 30rem;
  }

  & > h1 {
    grid-row: 2;
  }

  & > p {
    grid-row: 3;
    margin-block-start: 0;
  }

  & > img {
    grid-row: 1;
  }

  @media (min-width: 40em) {
    align-items: center;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    & > h1,
    & > p {
      grid-column: 1;
      padding-inline-start: 2rem;
    }

    & > h1 {
      align-self: end;
      grid-row: 1;
    }

    & > p {
      align-self: start;
      grid-row: 2;
    }

    & > img {
      grid-column: 2;
      grid-row: span 2 / -1;
    }
  }
}

/* Footer */

footer[role="contentinfo"] {
  background-color: hsl(var(--complementary));
  border-block-start: 2px solid hsl(var(--on-complementary-separator));
  color: hsl(var(--on-complementary));
  position: relative;

  /* stylelint-disable-next-line selector-combinator-allowed-list */
  & a:not(:focus-visible) {
    color: hsl(var(--on-complementary-link));

    &:visited {
      color: hsl(var(--on-complementary-visited));
    }

    &:active {
      color: hsl(var(--on-complementary-active));
    }
  }

  &::after {
    background-color: hsl(var(--pete));
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='46' viewBox='0 0 44 46' fill='none'%3E%3Cpath d='M22 34h4c.4 0 .2.4.2.4-1 3.8-4.1 3.8-4.1 3.8s-3.3 0-4.2-3.8l.2-.4h4z' fill='%23fff'/%3E%3Cpath d='M33.7 39.2h-.2s-3.1 3.3-11.6 3.3c-8.3 0-11.6-3-11.6-3l-.3-.3s-7.6-5.2-6.8-19c0-.3 0-1.7.6-3.8 3 1 20.1 7.9 25-6.2 0 0 1.8 9.5 11 6.2l.7 3.7c.7 13.7-6.6 19-6.8 19.1zM43 20S42.2.6 22 .6C1.3.6.7 20 .7 20c-1 14.6 6.6 20.8 7.7 21.4.8.6 4.5 3.7 13.5 3.7 8.9 0 12.4-3 13.3-3.7 1-.8 8.7-6.8 7.8-21.4z' fill='%23fff'/%3E%3Cpath d='M15 26.4c-2-2.1-4-.3-4.1 0l-1-1.3c1-1 3.7-2.5 6.2 0l-1 1.3zm18 0c-1.8-2.1-3.7-.3-3.9 0L28 25c1.2-1 4-2.5 6.4 0l-1.2 1.3z' fill='%23fff'/%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60%;
    block-size: 4rem;
    border-radius: 50%;
    box-shadow: 0 2px 0 0 hsl(var(--pete-drop));
    content: "";
    display: block;
    inline-size: 4rem;
    inset-block-start: -2rem;
    inset-inline-start: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 1;
  }

  & > div {
    overflow: hidden;
    padding: 2rem;
    position: relative;

    &::before {
      background-image: linear-gradient(
          hsl(var(--on-complementary) / 5%) 2px,
          transparent 2px
        ),
        linear-gradient(
          90deg,
          hsl(var(--on-complementary) / 5%) 2px,
          transparent 2px
        ),
        linear-gradient(hsl(var(--on-complementary) / 5%) 1px, transparent 1px),
        linear-gradient(
          90deg,
          hsl(var(--on-complementary) / 5%) 1px,
          transparent 1px
        );
      background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
      background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
      content: "";
      inset: -3rem;
      position: absolute;
      transform: rotate(-2.5deg);
      z-index: 1;
    }

    & > ul {
      list-style: none;
      margin-block: 1.5em;
      padding-inline-start: 0;

      & > li {
        margin-block-end: 2rem;
      }

      &:first-of-type {
        & > li {
          & > a {
            font-weight: 700;
          }
        }
      }

      @media (min-width: 30em) {
        display: flex;

        & > li {
          margin-block-end: 0.5rem;
          margin-inline-end: 1rem;
        }
      }
    }

    & > p:last-of-type {
      margin-block-start: 2em;

      & > small {
        display: block;
        margin-block-start: 1em;
      }
    }

    @media (min-width: 64em) {
      background-image: url("./footer.webp");
      background-position: 100% 40%;
      background-repeat: no-repeat;
      background-size: 45%;
      padding-block-end: 4rem;
    }
  }
}

/* Galley */

div[is="gallery"] {
  display: grid;
  grid-gap: 1.5rem;
  margin-block: 1.5rem;

  @media (min-width: 40em) {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Header */

header[role="banner"] {
  align-items: center;
  background-color: hsl(var(--complementary));
  display: grid;
  grid-template-columns: 8rem 1fr;
  grid-template-rows: repeat(2, 1fr);
  margin-inline: auto;

  & > a {
    background-color: hsl(var(--accent));
    padding: 1rem;
    z-index: 2;

    &:focus-visible {
      background-color: hsl(var(--focus));
      box-shadow: none;
    }

    & > svg {
      block-size: auto;
      max-inline-size: 100%;
    }
  }

  & > nav {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  & > p {
    align-items: center;
    align-self: stretch;
    border-block-end: 1px solid hsl(var(--on-complementary-separator));
    display: flex;
    grid-column: 2;
    grid-row: 1;
    justify-content: center;
    margin: 0;
    max-inline-size: none;
    white-space: nowrap;

    & > a {
      border-radius: 0.5rem;
      color: hsl(var(--on-complementary));
      display: flex;
      font-weight: 700;
      padding-block: 0.5rem;
      padding-inline: 0.75rem;
      text-decoration: none;

      & > strong {
        align-items: center;
        background-color: hsl(var(--accent));
        block-size: 1.5rem;
        border-radius: 50%;
        color: hsl(var(--on-accent));
        display: flex;
        font-style: normal;
        inline-size: 1.5rem;
        justify-content: center;
        margin-inline-end: 0.5rem;
      }

      &:hover {
        background-color: hsl(var(--complementary-hover));
      }

      @media (min-width: 24em) {
        margin-inline: 1rem;
        margin-inline-start: auto;
      }
    }
  }

  @media (min-width: 44em) {
    grid-template-columns: 10rem 1fr 12rem;
    grid-template-rows: auto;

    & > nav {
      grid-column: 2;
      grid-row: 1;
    }

    & > p {
      border-block-end: none;
      border-inline-start: 1px solid hsl(var(--on-complementary-separator));
      grid-column: 3;

      & > a {
        margin-inline-end: auto;
        margin-inline-start: auto;
      }
    }
  }
}

/* Hint */

p[is="hint"] {
  color: hsl(var(--text-secondary));
}

/* In action */

img[is="in-action"] {
  border-radius: 1rem 5rem;
}

/* Lede */

p[is="lede"] {
  font-size: 130%;
  line-height: 1.75;
  max-inline-size: 30rem;
}

/* Logos */

ul[is="logos"] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  list-style: none;
  padding-inline-start: 0;

  & > li {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-block: 0.5rem;
    margin-block-end: 1rem;
    padding-inline: 1rem;
    text-align: center;

    & > img {
      margin-block-end: 1rem;
    }
  }
}

/* Pagination */

ul[is="pagination"] {
  padding-inline-start: 0;

  & > li {
    list-style: none;

    & > a {
      display: inline-block;
      padding-inline-start: 1rem;
      position: relative;

      &::before {
        background-color: currentColor;
        block-size: 0.75rem;
        clip-path: polygon(
          0 3%,
          2% 0,
          22% 0,
          30% 2%,
          100% 48%,
          100% 52%,
          30% 98%,
          22% 100%,
          2% 100%,
          0 97%,
          70% 52%,
          70% 48%
        );
        content: "";
        display: block;
        inline-size: 0.5rem;
        inset-inline-start: 0;
        margin-block-start: 0.5rem;
        margin-inline-end: 0.5rem;
        position: absolute;
        text-decoration: none;
        transform: rotate(180deg);
      }

      & > span {
        display: block;

        &:first-of-type {
          font-size: 1.17em;
          font-weight: 700;
        }
      }
    }

    &:last-of-type {
      margin-block-start: 1em;

      & > a {
        &::before {
          transform: rotate(0deg);
        }
      }
    }
  }
}

/* Menu */

nav[is="menu"] {
  block-size: 100%;

  & > ul {
    block-size: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    margin-block: 0;
    padding-inline-start: 0;

    & > li {
      align-items: center;
      block-size: 100%;
      display: flex;
      min-inline-size: max-content;

      &.on {
        box-shadow: inset 0 -6px 0 0 hsl(var(--accent));

        & > a {
          &:hover {
            background-color: hsl(var(--complementary));
          }
        }
      }

      & > a {
        border-radius: 0.5rem;
        color: hsl(var(--on-complementary));
        display: block;
        font-weight: 700;
        padding-block: 0.5rem;
        padding-inline: 0.75rem;
        text-decoration: none;

        &:hover {
          background-color: hsl(var(--complementary-hover));
        }

        @media (min-width: 50em) {
          font-size: 110%;
          margin-inline: 0.5rem;
        }
      }
    }
  }
}

/* Partners */

section[is="partners"] {
  margin-block-end: 4rem;
  margin-block-start: 2rem;
}

/* People */

div[is="people"] {
  display: grid;
  grid-gap: 2rem;

  @media (min-width: 60em) {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Photo stream */

ul[is="photo-stream"] {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding-inline-start: 0;

  @media (min-width: 50em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Proceed to checkout */

div[is="proceed-to-checkout"] {
  background-color: hsl(var(--background));
  margin-block-start: 1rem;
  padding: 1rem;
}

/* Promo */

article[is="promo"] {
  background-color: hsl(var(--sunken));
  border-radius: 0.5rem;
  display: block;
  padding: 1rem;

  & > a {
    background-color: hsl(var(--background));
    block-size: calc(100% - 2rem);
    border-radius: 0.5rem;
    box-shadow: 0 0 4px 2px hsl(var(--drop));
    display: flex;
    flex-direction: column;
    max-inline-size: 40rem;
    padding: 1.25rem;
    text-decoration: none;

    &:active {
      box-shadow: none;
      inset-block-start: 2px;
      position: relative;
    }

    & > img {
      order: 1;
    }

    & > h3 {
      color: hsl(var(--link));
      margin-block-start: 1rem;
      order: 2;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    & > p {
      color: hsl(var(--text));
      margin-block-start: 0;
      order: 3;
    }
  }
}

/* Promos */

div[is="promos"] {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin-block: 2rem;

  &.two {
    grid-template-columns: 1fr;

    @media (min-width: 40em) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &.three {
    grid-template-columns: 1fr;

    @media (min-width: 60em) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &.four {
    grid-template-columns: 1fr;

    @media (min-width: 40em) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 80em) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

/* Product */

main[is="product"] {
  & > img:first-of-type {
    margin-block-end: 1rem;
  }

  & > form {
    background-color: hsl(var(--product));
    inset-block-start: 0;
    inset-inline: 0;
    margin-block: 0;
    padding: 1rem;
    position: sticky;
    z-index: 1;

    & > fieldset {
      & > legend {
        display: none;
      }

      & > label {
        display: inline;
      }

      & > input {
        inline-size: 3rem;
      }

      & > p {
        display: none;
      }
    }
  }

  @media (min-width: 40em) {
    align-items: start;
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 2fr 1fr;

    & > * {
      grid-column: 1;
    }

    & > h1,
    & > p:first-of-type {
      display: none;
    }

    & > form {
      grid-column: 2;
      inset-block-start: 1rem;

      & > fieldset {
        & > legend,
        & > p {
          display: block;
        }
      }
    }
  }
}

/* Shop intro */

div[is="shop-intro"] {
  @media (min-width: 40em) {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

/* Signpost */

a[is="signpost"] {
  font-size: 1.17em;
  font-weight: 700;
  padding-inline-start: 1.5rem;
  position: relative;

  &::after,
  &::before {
    content: "";
    inset-block-start: 0.25rem;
    inset-inline-start: 0;
    line-height: 1;
    position: absolute;
    text-decoration: none;
  }

  &::before {
    background-color: currentColor;
    block-size: 1rem;
    border-radius: 0.125rem;
    inline-size: 1rem;
    inset-block-start: 0.25rem;
    inset-inline-start: 0;
  }

  &::after {
    background: hsl(var(--on-complementary));
    block-size: 0.75rem;
    clip-path: polygon(
      0 3%,
      2% 0,
      22% 0,
      30% 2%,
      100% 48%,
      100% 52%,
      30% 98%,
      22% 100%,
      2% 100%,
      0 97%,
      70% 52%,
      70% 48%
    );
    content: "";
    display: inline-block;
    inline-size: 0.5rem;
    inset-block-start: calc(0.25rem + 2px);
    inset-inline-start: 0.25rem;
    line-height: 1;
  }
}

/* Skip */

a[is="skip"] {
  color: hsl(var(--on-focus));
  display: block;
  inset-inline-start: -100vw;
  padding: 0.5rem 2rem;
  position: absolute;
  text-align: center;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    background-color: hsl(var(--focus));
    inset-inline: 0;
    z-index: 3;
  }
}

/* Swatches */

ul[is="swatches"] {
  margin-block-end: 1.5em;
  padding-inline-start: 0;

  & > li {
    align-items: center;
    block-size: 3rem;
    border: 1px solid hsl(var(--separator));
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    inline-size: 3rem;
    list-style: none;
    margin-block-end: 1rem;
    position: relative;
    text-align: center;
    text-indent: 4rem;
    white-space: nowrap;
  }
}

/* Swatches scale */

ul[is="swatches-scale"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  max-inline-size: 40rem;
  padding-inline-start: 0;

  & > li {
    block-size: 3rem;
    box-sizing: border-box;
    inline-size: 3rem;
    list-style: none;
    margin-block-end: 2rem;
    padding-block-start: 3rem;
    text-align: center;
  }
}

/* Table of contents */

div[is="table-of-contents"] {
  margin-block-start: 2rem;
  /* stylelint-disable-next-line selector-combinator-allowed-list */
  & ol {
    counter-reset: table-of-contents;
    list-style: none;
    padding: 0;

    & > li {
      min-inline-size: 30rem;
      padding: 0.23em 0;

      &::before {
        content: counters(table-of-contents, ".") " ";
        counter-increment: table-of-contents;
      }

      & > ol {
        margin: 0.5rem 0 0 1rem;
      }
    }
  }
}

/* Testimonial */

div[class="testimonial"] {
  & > img {
    margin-inline-end: 2rem;
  }

  & > div {
    & > blockquote {
      margin-inline-start: 0;
    }
  }

  @media (min-width: 30em) {
    display: flex;
  }
}
