// COLOURS
//
$white: #FFFFFF !default
$white-10: rgba($white, 0.10) !default
$white-25: rgba($white, 0.25) !default
$white-50: rgba($white, 0.5) !default
$white-75: rgba($white, 0.75) !default
//
$yolk-100: #F3F0EB !default
$yolk-200: #F3F0EB !default
$yolk-800: #F6D18A !default
$yolk-1000: #FAB638 !default
$yolk-1200: #FAB638 !default
//
$grey-100: #F2F2F2 !default
$grey-200: #F2F2F2 !default
$grey-800: #232838 !default
$grey-1000: #232838 !default
$grey-1200: #0A122A !default
//
$blue-100: #EBEDFA !default
$blue-200: #EBEDFA !default
$blue-800: #5B5E95 !default
$blue-1000: #2D3788 !default
$blue-1200: #19226B !default
// 
$red-1000: #232838 !default
//
$border-color: $grey-200
$border-color-white: $white-10
//
//
$focus: $yolk-1000
$error: $red-1000
$accent: $yolk-1000
//
//