// COLOURS
//
$black: #0A122A !default
$white: #FFFFFF !default
$yolk: #FFC700 !default
$grey-100: #FBFAF8 !default
$grey-300: #DDE2E8 !default
$grey-800: #232838 !default
// 
$border-color: rgba($black, 0.12)
//
$charcoal-1: 0 0% 100%
$charcoal-1-05: 0 0% 97.3%
$charcoal-1-25: 0 0% 89.8%
$charcoal-1-5: 0 0% 82.4%
$charcoal-2-5: 0 0% 63.9%
$charcoal-5: 0 0% 43.5%
$charcoal-8: 0 0% 31%
$charcoal-14: 0 0% 16.9%
$sea-1: 300 33.3% 99.4%
$sea-1-2: 240 25.7% 93.1%
$sea-1-4: 240 23.8% 87.6%
$sea-2: 242 24% 76.3%
$sea-3: 240 23.6% 65.1%
$sea-6: 236 25.9% 47.6%
$sea-10: 230 46.6% 34.5%
$sea-11: 230 51.6% 31.6%
$sea-12: 230 49.3% 28.6%
$sea-13: 231 47% 25.9%
$sea-14: 232 44.5% 23.3%
$sea-16: 235 39.3% 17.5%
$sea-17: 235 35.1% 14.5%
$sea-18: 240 29.8% 11.2%
$sun-1: 45 100% 99.2%
$sun-1-04: 36 100% 97.1%
$sun-1-1: 38 100% 93.1%
$sun-1-2: 38 100% 86.9%
$sun-1-5: 37 100% 72%
$sun-1-75: 39 95.1% 59.8%
$sun-2: 40 83.6% 54.5%
$sun-4-5: 39 63.4% 36.5%
$grass-4-5: 146 68.9% 31.6%
$sky-2: 215 83.9% 75.7%
$sky-6: 209 61.2% 39.4%
$berry-2: 350 67.6% 78.2%
$berry-6: 340 68.5% 43.5%
$violet-2: 282 42.9% 76.7%
$violet-6: 281 24.7% 43.7%
//
$text: hsl($charcoal-8)
$text-display: hsl($charcoal-14)
$text-secondary: hsl($charcoal-5)
$background: hsl($sea-1)
$background-secondary: hsl($sea-1-2)
$elevated: hsl($sea-1)
$elevated-secondary: hsl($sea-1-2)
$sunken: hsl($sea-1-2)
$drop: rgba(0,0,0,0.05)
$inset: hsl($charcoal-1)
$separator: hsl($sea-1-4)
$input: hsl($sea-3)
$input-icon: hsl($sea-6)
$command: hsl($sun-1-5)
$icon: hsl($sea-6)
$icon-secondary: hsl($sea-10)
$link: hsl($sky-6)
$visited: hsl($violet-6)
$active: hsl($berry-6)
$focus: hsl($sun-1-2)
$focus-drop: hsl($sun-1-5)
$focus-inset: hsl($sun-1-1)
$on-focus: hsl($sea-10)
$on-focus-link: hsl($sky-6)
$on-focus-visited: hsl($violet-6)
$on-focus-active: hsl($berry-6)
$meta: hsl($sea-1-2)
$on-meta: hsl($sea-12)
$error: hsl($berry-6)
$on-error: hsl($charcoal-1)
$accent: hsl($sun-1-75)
$accent-drop: hsl($sun-2)
$accent-inset: hsl($sun-1)
$on-accent: hsl($sea-12)
$complementary: hsl($sea-11)
$complementary-hover: hsl($sea-10)
$on-complementary: hsl($charcoal-1-05)
$on-complementary-link: hsl($sky-2)
$on-complementary-visited: hsl($violet-2)
$on-complementary-active: hsl($berry-2)
$on-complementary-separator: hsl($sea-6)
$triadic: hsl($grass-4-5)
$on-triadic: hsl($charcoal-1)
$toggle-label: hsl($sea-1-2)
$toggle-track: hsl($sea-3)
$toggle-thumb: hsl($sea-1)
$logo: hsl($sea-11)
$logo-secondary: hsl($sea-1)
$hero: hsl($sea-6)
$on-hero: hsl($charcoal-1)
$tertiary-background: hsl($sun-1-1)
$tertiary-elevated: hsl($sun-1-04)
$logo-list: hsl($charcoal-1)
//
// $background: $yolk
// $text: $black
// $text-secondary: $grey-800
$input-focus: $yolk
// $input-icon: $grey-300
// $input: $grey-800
// $focus: $yolk
// $on-focus: $black
// $accent: $yolk
// $on-accent: $black
$accent-hover: $yolk
// $link: $yolk
// $on-focus-link: $black
// $visited: $yolk
// $on-focus-visited: $black
// $on-focus-active: $yolk
// $active: $black
// $hero: blue