@import 'sizes'
//
$screen-xs: 350px
$screen-xms: 400px
$screen-s: 550px
$screen-m: 770px
$screen-l: 1080px
$screen-xl: 1200px
$screen-xxl: 1400px
//

@mixin contain-background($image)
  background-size: contain
  background-repeat: no-repeat
  background-image: $image
  background-position-y: center

@mixin size-background($image, $size)
  background-size: $size $size
  background-repeat: no-repeat
  background-image: $image
  background-position: center center

@mixin cover-background($image)
  background-size: cover
  background-repeat: no-repeat
  background-image: $image
  background-position: center center

@mixin icon($icon, $color: $grey-1200, $size: contain, $position: center center)
  background: $color
  mask-image: $icon
  mask-repeat: no-repeat
  mask-size: $size
  mask-position: $position
  -webkit-mask-image: $icon
  -webkit-mask-repeat: no-repeat
  -webkit-mask-size: $size
  -webkit-mask-position: $position

@mixin icon-image($icon)
  -webkit-mask-image: $icon
  mask-image: $icon

@function size($size)
  @return #{($size / 10)}rem

@function -size($size)
  @return -#{($size / 10)}rem

// fixed spacing variables - subject to change LOL
$units: 8
$bigUnits: 40

@function units($num)
  @return #{($num * $units) / 10}rem

@function -units($num)
  @return -#{($num * $units) / 10}rem

@function bigUnits($num)
  @return #{($num * $bigUnits) / 10}rem

@function -bigUnits($num)
  @return -#{($num * $bigUnits) / 10}rem

@mixin background-block($col, $offset)
  position: absolute
  border: 1px solid $col
  @extend %elevation-1
  @include animate(0.5s)
  opacity: 0
  top: $offset
  left: $offset
  right: $offset
  bottom: $offset

%link-hover
  cursor: pointer
  &:not(.active)
    &:hover
      color: $grey-1200
      text-decoration: underline
      &:after
        background-color: $grey-1200
        
%links
  position: relative
      
  &:hover
    text-decoration: underline
    &:after
      width: units(2)
      display: block
      
  &:after
    content: ''
    position: absolute
    display: none
    @include animate(0.1s)
    top: 50%
    left: units(3)
    background-color: currentColor
    width: units(1)
    height: size(2)


%standard-list
  padding-left: units(4)
  li
    @extend %heading-1
    list-style-type: disc

%sub-header
  > header
    margin-bottom: units(3)
    position: relative

    h1
      @extend %heading-3
      margin-bottom: units(2)

    h2
      @extend %heading-3
      margin-bottom: units(0)

      + p
        margin-top: units(1)
        @extend %heading-1

%content-column
  padding: 0 units(2)

%content-column-flex
  display: flex
  flex-wrap: wrap
  > *:not(.full-width)
    display: flex
    flex-wrap: wrap


%columns
  &.two 
    grid-template-columns: 1fr
  &.three 
    grid-template-columns: 1fr
  &.four 
    grid-template-columns: 1fr

  @include min($screen-s)
    &.two
      grid-template-columns: repeat(2, 1fr)
    &.three 
      grid-template-columns: repeat(2, 1fr)
    &.four 
      grid-template-columns: repeat(2, 1fr)

  @include min($screen-m) 
    &.three 
      grid-template-columns: repeat(3, 1fr)
    &.four
      grid-template-columns: repeat(3, 1fr)

  @include min($screen-l) 
    &.four 
      grid-template-columns: repeat(4, 1fr)

%product-list
  > div
    @extend %main-content
    grid-gap: units(2)
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(size(150), 1fr))

    @include min($screen-s)
      grid-template-columns: repeat(auto-fit, minmax(size(170), 1fr))

    @include min($screen-m)
      grid-gap: units(3)
      grid-template-columns: repeat(3, 1fr)

    @include min($screen-l)
      grid-gap: units(4)
      grid-template-columns: repeat(3, 1fr)
    
    @include min($screen-xl)
      grid-gap: units(5)
      grid-template-columns: repeat(4, 1fr)
      // grid-template-columns: repeat(auto-fit, minmax(size(240), 1fr))

%block-link
  display: block

%elevation-1
  box-shadow: 0 1px 4px rgba($grey-1200, 0.05)

%elevation-2
  box-shadow: 0px 40px 50px -40px rgba($grey-1200, 0.08)//0px 1px 4px rgba($grey-1200, 0.1), 0px 8px 24px rgba($grey-1200, 0.12)

%elevation-3
  box-shadow: 0px 1px 4px rgba($grey-1200, 0.12), 0px 8px 24px rgba($grey-1200, 0.18)
//
%main-content
  max-width: size(1400)
  margin: 0 auto
  // margin: 0 units(4)

%button-style
  display: inline-flex
  align-items: center
  justify-content: center
  @extend %button-l
  border-radius: units(2)
  padding: 0 units(3)
  color: white
  background-color: $blue-1000
  background: linear-gradient(186deg, #3D51F5 4.97%, #3645BF 19.29%, #2D3788 85.82%)
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.18), 0px 6px 12px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px 0px rgba(255, 255, 255, 0.25) inset
  height: units(6)
  white-space: nowrap
  outline: none
  border: none
  transition: scale 0.3s
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275)
  position: relative
  overflow: hidden

  .icon
    background-color: white
    margin-left: units(1)
    width: units(2.5)
    height: units(2.5)
    @include animate(0.3s)
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275)

  &:hover
    scale: 1.03

    .icon
      transform: translateX(units(0.5))

  &:hover
    background-color: lighten($blue-1000, 5%)

  &:active
    box-shadow: 1px 2px 0 0 $accent
    background-color: darken($blue-1000, 5%)

%small-button-style
  @extend %button-style
  height: units(5)
  padding: 0 units(2)
  @extend %button-m

%micro-button-style
  display: inline-flex
  flex-direction: row-reverse
  align-items: center
  background: $blue-100
  justify-content: center
  cursor: pointer
  @extend %button-xs
  border-radius: units(1)
  padding: 0 units(1.5)
  color: $blue-1000
  height: units(4)
  white-space: nowrap
  position: relative
  overflow: hidden
  box-shadow: none

  &.blue
    background: $blue-1000
    color: white

    &:active
      background-color: darken($blue-1000, 5%)

    &:before
      content: ""
      display: block
      width: units(2)
      height: units(2)
      position: relative
      background: white
      -webkit-mask-image: url(icon-arrow-right.svg)
      -webkit-mask-position: center
      -webkit-mask-repeat: no-repeat
      -webkit-mask-size: contain
      margin-left: units(1)

  &:hover
    background-color: $blue-1000
    color: white

    .icon
      background: white

  &:active
    background-color: darken($blue-200, 5%)

%text-button-style
  display: inline-flex
  align-items: center
  justify-content: center
  @extend %button-l
  color: $grey-1000
  height: units(7)

  &.small
    @extend %button-m
    height: units(4)

    &:after
      width: units(2.5)
      height: units(2.5)
      margin-left: units(0.5)

  &.white
    color: white

    &:after
      background: $white

    &:hover
      

  &:after
    content: ""
    display: block
    width: units(3)
    height: units(3)
    position: relative
    background: $grey-1000
    -webkit-mask-image: url(icon-arrow-right.svg)
    -webkit-mask-position: center
    -webkit-mask-repeat: no-repeat
    -webkit-mask-size: contain
    margin-left: units(1)

  &:hover
    text-decoration: underline

  &:active

.button-loading
  &:after
    content: ""
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: $blue-1000 url(loading-b.gif) no-repeat center center
    background-size: 24px 24px
