//
// FONTS //
//
//
// $font-heading: Sofia Pro,'NotoSans','NotoSansJP','NotoSansKR',sans-serif
// $font-paragraph: Sofia Pro, 'NotoSans','NotoSansJP','NotoSansKR',sans-serif
// $font-paragraph-bold: Sofia Pro, 'NotoSans','NotoSansJP','NotoSansKR',sans-serif
// $font-paragraph-extra-bold: Sofia Pro, 'NotoSans','NotoSansJP','NotoSansKR',sans-serif

$font-heading: brandon-grotesque, sans-serif
$font-paragraph: brandon-grotesque, sans-serif
$font-paragraph-bold: brandon-grotesque, sans-serif
$font-paragraph-extra-bold: brandon-grotesque, sans-serif
//
//
$font-regular-weight: 400 !default
$font-medium-weight: 500 !default
$font-bold-weight: 700 !default
$font-extra-bold-weight: 900 !default
//
$font-heading-weight: $font-bold-weight
//
// TYPOGRAPHY
//
//
$heading-line-height: 115%
$body-line-height: 140%
$body-sm-line-height: 115%
//
$heading-letter-spacing: -0.02
$body-letter-spacing: 0
$all-caps-letter-spacing: 0.1
//
//
//
%heading
  font-family: $font-heading
  font-weight: $font-heading-weight

%paragraph
  font-family: $font-paragraph
  font-weight: $font-regular-weight
//
//
//
%regular
  font-weight: $font-regular-weight

%medium
  font-weight: $font-medium-weight

%bold
  font-weight: $font-bold-weight

%extra-bold
  font-weight: $font-extra-bold-weight

%body-bold
  font-family: $font-paragraph-extra-bold
  @extend %bold
//
//
//
//
@mixin fontSize($size, $line, $spacing)
  font-size: $size / 10 + rem
  line-height: $line
  letter-spacing: $size * $spacing + px
//
//
//
//
%heading-1
  @extend %heading
  @include fontSize(38, $heading-line-height, $heading-letter-spacing)
  @include min($screen-l)
    @include fontSize(56, $heading-line-height, $heading-letter-spacing)

%heading-2
  @extend %heading
  @include fontSize(32, $heading-line-height, $heading-letter-spacing)
  @include min($screen-l)
    @include fontSize(42, $heading-line-height, $heading-letter-spacing)

%heading-3
  @extend %heading
  @include fontSize(27, $heading-line-height, $heading-letter-spacing)
  @include min($screen-l)
    @include fontSize(34, $heading-line-height, $heading-letter-spacing)
    
%overline
  @extend %heading
  @extend %extra-bold
  @include fontSize(14, $heading-line-height, $all-caps-letter-spacing)
  text-transform: uppercase
  @include min($screen-l)
    @include fontSize(15, $heading-line-height, $all-caps-letter-spacing)
//
@mixin overline()
  @extend %heading
  @extend %extra-bold
  @include fontSize(15, $heading-line-height, $all-caps-letter-spacing)
  text-transform: uppercase
    
%body-1
  @extend %regular
  @extend %paragraph
  @include fontSize(22, $body-line-height, $body-letter-spacing)
  @include min($screen-l)
    @include fontSize(26, $body-line-height, $body-letter-spacing)

%body-2
  @extend %regular
  @extend %paragraph
  @include fontSize(19, $body-line-height, $body-letter-spacing)
  @include min($screen-l)
    @include fontSize(21, $body-line-height, $body-letter-spacing)

%body-3
  @extend %regular
  @extend %paragraph
  @include fontSize(17, $body-sm-line-height, $body-letter-spacing)
  @include min($screen-l)
    @include fontSize(18, $body-sm-line-height, $body-letter-spacing)

%body-4
  @extend %regular
  @extend %paragraph
  @include fontSize(14, $body-sm-line-height, $body-letter-spacing)
  @include min($screen-l)
    @include fontSize(15, $body-sm-line-height, $body-letter-spacing)
//
//
//
%button-l
  @extend %body-2
  @extend %bold
%button-m
  @extend %body-3
  @extend %bold
%button-s
  @extend %body-3
  @extend %bold
%button-xs
  @extend %body-4
  @extend %bold
//
//
//
%typography-hierarchy
  p, ul li
    @extend %body-2
    @extend %paragraph

  ul
    margin-top: units(2)

    li:not(:first-child)
      margin-top: units(2)
    
  a
    text-decoration: underline

  p, ul
    + h2, + h3
      margin-top: units(4)
    + h4, + h5
      margin-top: units(3)

  blockquote
    margin-top: units(3)
    padding: units(3) 0 0 0

  .body-0
    @extend %body-1
  .body-1
    @extend %body-2
  .body-2
    @extend %body-3
  .button-text
    @extend %button-l
    
  strong, b
    @extend %bold


  h1, .heading-l
    @extend %heading-1
    margin-bottom: units(4)
  h2, .heading-m
    @extend %heading-2
    margin-bottom: units(3)
  h3, .heading-s
    @extend %heading-3
    margin-bottom: units(1)
  h4
    @extend %body-1
    @extend %bold
    margin-bottom: units(1)
  h5
    @extend %overline
  h6
    @extend %body-2
    @extend %bold
    margin-bottom: units(1)
  ul
    @extend %standard-list
  hr
    height: 1
    border: none
    background: $grey-200
    margin: units(4) 0 units(3) 0

a[is="outline-button"]
  display: inline-flex
  align-items: center
  justify-content: center
  cursor: pointer
  @extend %button-xs
  border-radius: units(1)
  padding: 0 units(1.5)
  color: $blue-1000
  height: units(4)
  white-space: nowrap
  border: 1px solid $blue-200

  &:hover
    background: $blue-100
    